USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_COL1]    Script Date: 05/02/2019 14:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_COL1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NOT NULL,
	[STU] [int] NOT NULL,
	[COL] [int] NOT NULL,
	[FUNC] [int] NOT NULL,
	[VAL_PAY] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_COL1]  WITH CHECK ADD FOREIGN KEY([COL])
REFERENCES [dbo].[CVA_COL] ([ID])
GO
ALTER TABLE [dbo].[CVA_COL1]  WITH CHECK ADD FOREIGN KEY([FUNC])
REFERENCES [dbo].[CVA_FUNC] ([ID])
GO
ALTER TABLE [dbo].[CVA_COL1]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STU] ([ID])
GO
ALTER TABLE [dbo].[CVA_COL1]  WITH CHECK ADD FOREIGN KEY([USR])
REFERENCES [dbo].[CVA_USR] ([ID])
GO
