USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_PRICING_ITENS_OPRT]    Script Date: 05/02/2019 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_PRICING_ITENS_OPRT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[ID_PRI] [int] NULL,
	[ID_ESP] [int] NULL,
	[COL] [varchar](max) NULL,
	[HRS] [numeric](18, 0) NULL,
	[VAL] [numeric](18, 0) NULL,
	[CST] [numeric](18, 0) NULL,
	[VAL_BKO] [numeric](18, 0) NULL,
	[VAL_RSC] [numeric](18, 0) NULL,
	[VAL_MRG] [numeric](18, 0) NULL,
	[VAL_COM] [numeric](18, 0) NULL,
	[VAL_IMP] [numeric](18, 0) NULL,
	[HOT_DIA] [numeric](18, 0) NULL,
	[HOT_VAL] [numeric](18, 0) NULL,
	[HOT_TOT] [numeric](18, 0) NULL,
	[KLM_TRE] [numeric](18, 0) NULL,
	[KLM_DIS] [numeric](18, 0) NULL,
	[KLM_VAL] [numeric](18, 0) NULL,
	[KLM_TOT] [numeric](18, 0) NULL,
	[ALI_DIA] [numeric](18, 0) NULL,
	[ALI_VAL] [numeric](18, 0) NULL,
	[ALI_TOT] [numeric](18, 0) NULL,
	[DSL_HRS] [numeric](18, 0) NULL,
	[DSL_VAL] [numeric](18, 0) NULL,
	[DSL_TOT] [numeric](18, 0) NULL,
	[AER_TRE] [numeric](18, 0) NULL,
	[AER_VAL] [numeric](18, 0) NULL,
	[AER_TOT] [numeric](18, 0) NULL,
	[SUB_TOT] [numeric](18, 0) NULL,
	[DSP_TOT] [numeric](18, 0) NULL,
	[SUB_DSP] [numeric](18, 0) NULL,
	[DSP_IMP] [numeric](18, 0) NULL,
	[VAL_HRS] [numeric](18, 0) NULL,
	[VAL_HRS_DSP] [numeric](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
