USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_PROJETOS_MEMBROS]    Script Date: 05/02/2019 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_PROJETOS_MEMBROS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[ID_PRJ] [int] NULL,
	[NOM] [varchar](50) NULL,
	[TEL] [varchar](50) NULL,
	[EML] [varchar](50) NULL,
	[DPT] [varchar](50) NULL
) ON [PRIMARY]
GO
