USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_DESP]    Script Date: 05/02/2019 14:37:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_DESP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[ID_PRJ] [int] NULL,
	[DAT] [datetime] NULL,
	[ID_TIP_DESP] [int] NULL,
	[DOC_NUM] [varchar](50) NULL,
	[DOC_NUM_TOT] [decimal](8, 2) NULL,
	[VLR_REM_USR] [decimal](8, 2) NULL,
	[DSCR] [varchar](2000) NULL,
	[VLR_REM] [decimal](8, 2) NULL,
	[KIL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_DESP]  WITH CHECK ADD FOREIGN KEY([ID_PRJ])
REFERENCES [dbo].[CVA_PRJ] ([ID])
GO
ALTER TABLE [dbo].[CVA_DESP]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STU] ([ID])
GO
ALTER TABLE [dbo].[CVA_DESP]  WITH CHECK ADD FOREIGN KEY([USR])
REFERENCES [dbo].[CVA_USR] ([ID])
GO
