USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_PROJETOS_PRICING]    Script Date: 05/02/2019 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_PROJETOS_PRICING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[ID_PRJ] [int] NULL,
	[PCT_BKO] [varchar](20) NULL,
	[PCT_RSC] [varchar](20) NULL,
	[PCT_MRG] [varchar](20) NULL,
	[PCT_COM] [varchar](20) NULL,
	[PCT_IMP] [varchar](20) NULL
) ON [PRIMARY]
GO
