USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_ADR]    Script Date: 05/02/2019 14:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_ADR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[STT] [varchar](400) NULL,
	[STTNO] [varchar](20) NULL,
	[BLC] [varchar](100) NULL,
	[CIT] [varchar](200) NULL,
	[UF] [int] NULL,
	[ZIP] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_ADR]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STU] ([ID])
GO
ALTER TABLE [dbo].[CVA_ADR]  WITH CHECK ADD FOREIGN KEY([UF])
REFERENCES [dbo].[CVA_UF] ([ID])
GO
ALTER TABLE [dbo].[CVA_ADR]  WITH CHECK ADD FOREIGN KEY([USR])
REFERENCES [dbo].[CVA_USR] ([ID])
GO
