USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_COL4]    Script Date: 05/02/2019 14:37:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_COL4](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[ID_COL] [int] NULL,
	[DAT] [datetime] NULL,
	[MAX_HRS] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_COL4]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STU] ([ID])
GO
ALTER TABLE [dbo].[CVA_COL4]  WITH CHECK ADD FOREIGN KEY([USR])
REFERENCES [dbo].[CVA_USR] ([ID])
GO
