USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_PRD1]    Script Date: 05/02/2019 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_PRD1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[USR] [int] NOT NULL,
	[STU] [int] NOT NULL,
	[COL_ID] [int] NULL,
	[CLI_ID] [int] NULL,
	[PRJ_ID] [int] NULL,
	[DAT_INI] [date] NOT NULL,
	[DAT_FIM] [date] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_PRD1]  WITH CHECK ADD FOREIGN KEY([CLI_ID])
REFERENCES [dbo].[CVA_CLI] ([ID])
GO
ALTER TABLE [dbo].[CVA_PRD1]  WITH CHECK ADD FOREIGN KEY([COL_ID])
REFERENCES [dbo].[CVA_COL] ([ID])
GO
ALTER TABLE [dbo].[CVA_PRD1]  WITH CHECK ADD FOREIGN KEY([PRJ_ID])
REFERENCES [dbo].[CVA_PRJ] ([ID])
GO
ALTER TABLE [dbo].[CVA_PRD1]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STU] ([ID])
GO
ALTER TABLE [dbo].[CVA_PRD1]  WITH CHECK ADD FOREIGN KEY([USR])
REFERENCES [dbo].[CVA_USR] ([ID])
GO
