USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_PARAMETRIZACAO_PROJETOS]    Script Date: 05/02/2019 14:37:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_PARAMETRIZACAO_PROJETOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[EQP] [varchar](12) NULL,
	[DE] [varchar](20) NULL,
	[ATE] [varchar](20) NULL
) ON [PRIMARY]
GO
