USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_FASES]    Script Date: 05/02/2019 14:37:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_FASES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[NOM] [varchar](50) NULL,
	[DSC] [varchar](2000) NULL
) ON [PRIMARY]
GO
