USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_TCK_IMP]    Script Date: 05/02/2019 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_TCK_IMP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PRD] [varchar](10) NOT NULL,
	[INS] [datetime] NOT NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NOT NULL,
	[STU] [int] NOT NULL,
	[NUM_TCK] [varchar](20) NULL,
	[DSCR] [nvarchar](max) NOT NULL,
	[CLI_AMS] [nvarchar](max) NOT NULL,
	[REQ_AMS] [nvarchar](max) NOT NULL,
	[STU_AMS] [nvarchar](max) NOT NULL,
	[CLI_ID] [int] NOT NULL,
	[CAT] [varchar](max) NULL,
	[COD_LAST_STATUS] [int] NULL,
	[DATE_LAST_STATUS] [datetime] NULL,
 CONSTRAINT [PK_dbo.CVA_TCK_IMP] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[PRD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_TCK_IMP]  WITH CHECK ADD  CONSTRAINT [FK_CVA_TCK_IMP_CVA_CLI] FOREIGN KEY([CLI_ID])
REFERENCES [dbo].[CVA_CLI] ([ID])
GO
ALTER TABLE [dbo].[CVA_TCK_IMP] CHECK CONSTRAINT [FK_CVA_TCK_IMP_CVA_CLI]
GO
ALTER TABLE [dbo].[CVA_TCK_IMP]  WITH CHECK ADD  CONSTRAINT [FK_CVA_TCK_IMP_CVA_USR] FOREIGN KEY([USR])
REFERENCES [dbo].[CVA_USR] ([ID])
GO
ALTER TABLE [dbo].[CVA_TCK_IMP] CHECK CONSTRAINT [FK_CVA_TCK_IMP_CVA_USR]
GO
