USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_PROJETOS_FASES]    Script Date: 05/02/2019 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_PROJETOS_FASES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[ID_PRJ] [int] NULL,
	[ID_FAS] [int] NULL,
	[DAT_INI] [datetime] NULL,
	[DAT_PRV] [datetime] NULL,
	[HOR_ORC] [varchar](20) NULL,
	[HOR_USD] [varchar](max) NULL,
	[LBR] [varchar](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
