USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_CON]    Script Date: 05/02/2019 14:37:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_CON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[NOM] [varchar](200) NULL,
	[EMA] [varchar](200) NULL,
	[TEL] [varchar](20) NULL,
	[CEL] [varchar](20) NULL,
	[SIT] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
