USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_COL]    Script Date: 05/02/2019 14:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_COL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NOT NULL,
	[STU] [int] NOT NULL,
	[NOM] [varchar](200) NULL,
	[EMA] [varchar](200) NULL,
	[TEL] [varchar](11) NULL,
	[CEL] [varchar](11) NULL,
	[DT_NASC] [datetime] NULL,
	[GEN] [int] NULL,
	[EST_CIV] [int] NULL,
	[RG] [varchar](20) NULL,
	[CPF] [varchar](20) NULL,
	[CNPJ] [varchar](20) NULL,
	[PASS] [varchar](50) NULL,
	[EMI_RG] [datetime] NULL,
	[ORG_EXP] [varchar](50) NULL,
	[VAL_PAS] [datetime] NULL,
	[NAT] [varchar](200) NULL,
	[NAC] [varchar](200) NULL,
	[PRJ_MAN] [int] NULL,
	[TYP] [int] NULL,
	[MAX_HRS] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_COL]  WITH CHECK ADD FOREIGN KEY([EST_CIV])
REFERENCES [dbo].[CVA_EST_CIV] ([ID])
GO
ALTER TABLE [dbo].[CVA_COL]  WITH CHECK ADD FOREIGN KEY([GEN])
REFERENCES [dbo].[CVA_GEN] ([ID])
GO
ALTER TABLE [dbo].[CVA_COL]  WITH CHECK ADD FOREIGN KEY([TYP])
REFERENCES [dbo].[CVA_COL_TYP] ([ID])
GO
