USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_OPR]    Script Date: 05/02/2019 14:37:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_OPR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[COD] [varchar](max) NULL,
	[TAG] [varchar](max) NULL,
	[NOM] [varchar](max) NULL,
	[DAT_PRV] [datetime] NULL,
	[ID_CLI] [int] NULL,
	[ID_VEN] [int] NULL,
	[ID_TIP_PRJ] [int] NULL,
	[ID_PCT] [int] NULL,
	[VAL_PRJ] [numeric](19, 2) NULL,
	[CST_ORC] [numeric](19, 2) NULL,
	[HRS_ORC] [numeric](19, 2) NULL,
	[ING_LIQ] [numeric](19, 2) NULL,
	[RSC_GER] [numeric](19, 2) NULL,
	[ING_TOT] [numeric](19, 2) NULL,
	[RSP_DSP] [varchar](max) NULL,
	[CONV_PRJ] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
