USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_LOG]    Script Date: 05/02/2019 14:37:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_LOG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[USR] [int] NOT NULL,
	[DSCR] [varchar](max) NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
	[CLS] [varchar](500) NULL,
	[MTH] [varchar](500) NULL,
 CONSTRAINT [PK_CVA_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_LOG]  WITH CHECK ADD  CONSTRAINT [FK_CVA_LOG_CVA_USR] FOREIGN KEY([USR])
REFERENCES [dbo].[CVA_USR] ([ID])
GO
ALTER TABLE [dbo].[CVA_LOG] CHECK CONSTRAINT [FK_CVA_LOG_CVA_USR]
GO
