USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_CLI]    Script Date: 05/02/2019 14:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_CLI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[RAZ] [varchar](200) NOT NULL,
	[FAN] [varchar](200) NOT NULL,
	[CNPJ] [varchar](20) NOT NULL,
	[DSCR] [varchar](2000) NULL,
	[DSCR_AMS] [varchar](500) NULL,
	[POL_DESP_LOC] [int] NULL,
	[TAG] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_CLI]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STU] ([ID])
GO
ALTER TABLE [dbo].[CVA_CLI]  WITH CHECK ADD FOREIGN KEY([USR])
REFERENCES [dbo].[CVA_USR] ([ID])
GO
