USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_CHANGEREQUEST_RECURSOS]    Script Date: 05/02/2019 14:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_CHANGEREQUEST_RECURSOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[ID_CHR] [int] NULL,
	[ID_FAS] [int] NULL,
	[FAS] [varchar](1000) NULL,
	[ID_SPC] [int] NULL,
	[SPC] [varchar](1000) NULL,
	[HRS] [varchar](1000) NULL,
	[SOL] [varchar](1000) NULL,
	[NSC] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_CHANGEREQUEST_RECURSOS]  WITH CHECK ADD FOREIGN KEY([ID_CHR])
REFERENCES [dbo].[CVA_CHANGEREQUEST] ([ID])
GO
ALTER TABLE [dbo].[CVA_CHANGEREQUEST_RECURSOS]  WITH CHECK ADD FOREIGN KEY([ID_FAS])
REFERENCES [dbo].[CVA_FAS_PRJ] ([ID])
GO
ALTER TABLE [dbo].[CVA_CHANGEREQUEST_RECURSOS]  WITH CHECK ADD FOREIGN KEY([ID_SPC])
REFERENCES [dbo].[CVA_FUNC] ([ID])
GO
ALTER TABLE [dbo].[CVA_CHANGEREQUEST_RECURSOS]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STU] ([ID])
GO
ALTER TABLE [dbo].[CVA_CHANGEREQUEST_RECURSOS]  WITH CHECK ADD FOREIGN KEY([USR])
REFERENCES [dbo].[CVA_USR] ([ID])
GO
