USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_CHANGEREQUEST]    Script Date: 05/02/2019 14:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_CHANGEREQUEST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[ID_PRJ] [int] NULL,
	[COD] [varchar](1000) NULL,
	[VER] [varchar](1000) NULL,
	[AUT] [varchar](1000) NULL,
	[SIT] [varchar](1000) NULL,
	[GPI] [varchar](1000) NULL,
	[GPE] [varchar](1000) NULL,
	[DEP] [varchar](1000) NULL,
	[PRO] [varchar](1000) NULL,
	[DSC] [varchar](1000) NULL,
	[MOT] [varchar](1000) NULL,
	[REC] [varchar](1000) NULL,
	[IPO] [varchar](1000) NULL,
	[INE] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_CHANGEREQUEST]  WITH CHECK ADD FOREIGN KEY([ID_PRJ])
REFERENCES [dbo].[CVA_PRJ] ([ID])
GO
ALTER TABLE [dbo].[CVA_CHANGEREQUEST]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STU] ([ID])
GO
ALTER TABLE [dbo].[CVA_CHANGEREQUEST]  WITH CHECK ADD FOREIGN KEY([USR])
REFERENCES [dbo].[CVA_USR] ([ID])
GO
