USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_PROJETOS_RECURSOS]    Script Date: 05/02/2019 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_PROJETOS_RECURSOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[ID_PRJ] [int] NULL,
	[ID_COL] [int] NULL,
	[ID_ESP] [int] NULL,
	[ID_FAS] [int] NULL,
	[HRS] [int] NULL,
	[HRS_CON] [numeric](10, 2) NULL
) ON [PRIMARY]
GO
