USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_APON]    Script Date: 05/02/2019 14:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_APON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[DAT] [datetime] NULL,
	[HOR_INI] [time](7) NOT NULL,
	[HOR_INT] [time](7) NULL,
	[HOR_SAI] [time](7) NOT NULL,
	[DSCR] [varchar](2000) NOT NULL,
	[SOL] [varchar](2000) NOT NULL,
	[ID_PRJ] [int] NOT NULL,
	[ID_SPC] [int] NOT NULL,
	[ID_CHA] [int] NULL,
	[VLR] [varchar](max) NULL,
	[ID_FAS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_APON]  WITH CHECK ADD FOREIGN KEY([ID_PRJ])
REFERENCES [dbo].[CVA_PRJ] ([ID])
GO
ALTER TABLE [dbo].[CVA_APON]  WITH CHECK ADD FOREIGN KEY([ID_SPC])
REFERENCES [dbo].[CVA_FUNC] ([ID])
GO
ALTER TABLE [dbo].[CVA_APON]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STU] ([ID])
GO
ALTER TABLE [dbo].[CVA_APON]  WITH CHECK ADD FOREIGN KEY([USR])
REFERENCES [dbo].[CVA_USR] ([ID])
GO
