USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_OPORTUNIDADES_PRICING]    Script Date: 05/02/2019 14:37:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_OPORTUNIDADES_PRICING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[ID_OPR] [int] NULL,
	[PCT_BKO] [numeric](9, 2) NULL,
	[PCT_RSC] [numeric](9, 2) NULL,
	[PCT_MRG] [numeric](9, 2) NULL,
	[PCT_COM] [numeric](9, 2) NULL,
	[PCT_IMP] [numeric](9, 2) NULL
) ON [PRIMARY]
GO
