USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_PRICING_ITENS]    Script Date: 05/02/2019 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_PRICING_ITENS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[ID_PRI] [int] NULL,
	[ID_ESP] [int] NULL,
	[VAL] [varchar](50) NULL,
	[HRS] [varchar](50) NULL,
	[CST] [varchar](50) NULL,
	[COL] [varchar](100) NULL,
	[HRS_CON] [numeric](10, 2) NULL
) ON [PRIMARY]
GO
