USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_USR]    Script Date: 05/02/2019 14:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_USR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[NOM] [varchar](200) NULL,
	[PAS] [varchar](200) NULL,
	[EML] [varchar](200) NULL,
	[CON] [int] NULL,
	[ALT_PAS] [int] NULL,
	[PRI_ACS] [int] NULL,
	[EXT_USR] [varchar](1) NULL,
	[PRJ_BND] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_USR]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STU] ([ID])
GO
