USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_TIPOSPROJETO]    Script Date: 05/02/2019 14:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_TIPOSPROJETO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[NOM] [varchar](50) NULL,
	[AMS] [int] NULL,
	[DSC] [varchar](200) NULL,
	[TEA] [varchar](10) NULL
) ON [PRIMARY]
GO
