USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_PROJETOS_ALTERACOES]    Script Date: 05/02/2019 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_PROJETOS_ALTERACOES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[ID_PRJ] [int] NULL,
	[DAT] [datetime] NULL,
	[DSC] [varchar](max) NULL,
	[FAS] [varchar](max) NULL,
	[ESP] [varchar](max) NULL,
	[COL] [varchar](max) NULL,
	[HRS] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
