USE [CVA_Gestao]
GO
/****** Object:  Table [dbo].[CVA_PRJ]    Script Date: 05/02/2019 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_PRJ](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[UPD] [datetime] NULL,
	[USR] [int] NULL,
	[STU] [int] NULL,
	[COD] [varchar](200) NULL,
	[TAG] [varchar](20) NULL,
	[NOM] [varchar](max) NULL,
	[DSC] [varchar](max) NULL,
	[DAT_INI] [datetime] NULL,
	[DAT_PRV] [datetime] NULL,
	[ID_CLI] [int] NULL,
	[RSP_DSP] [varchar](max) NULL,
	[ID_TIP_PRJ] [int] NULL,
	[GER] [int] NULL,
	[CTRL_HRS] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVA_PRJ]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STU] ([ID])
GO
ALTER TABLE [dbo].[CVA_PRJ]  WITH CHECK ADD FOREIGN KEY([USR])
REFERENCES [dbo].[CVA_USR] ([ID])
GO
