
--EXEC [SP_CVA_DIME_80] '2018-01-01', '2018-01-31', 1
ALTER PROCEDURE [dbo].[SP_CVA_DIME_80]
(
	@DateFrom DATETIME = NULL,
	@DateTo DATETIME = NULL,
	@BPlId INT = NULL
)
AS
BEGIN

	SELECT 
		'80' REG,
		'80' QUADRO,
		'010' ITEM, 
		ISNULL(SUM(T0.TRANSVALUE),0) VALOR
			FROM OINM T0 INNER JOIN OWHS T1 ON T0.Warehouse = T1.WhsCode
			WHERE YEAR(T0.DOCDATE) <= (YEAR(@DateTo) -2)
			AND  T1.BPLID = @BPlId

	UNION ALL

	SELECT 
		'80' REG,
		'80' QUADRO,
		'020' ITEM, 
		ISNULL(SUM(T0.TRANSVALUE),0) VALOR
			FROM OINM T0 INNER JOIN OWHS T1 ON T0.Warehouse = T1.WhsCode
			WHERE YEAR(T0.DOCDATE) <= (YEAR(@DateTo) -1)
			AND  T1.BPLID = @BPlId 

	UNION ALL

	SELECT 
		'80' REG,
		'80' QUADRO,
		'030' ITEM,
		ISNULL(SUM(Credit) - SUM(Debit) ,0) VALOR
		FROM JDT1 
		WHERE Account like '3.1.01%'
		AND YEAR(RefDate) = (YEAR(@DateTo) -1)

END


