@charset "UTF-8";

.accordion.md-accordion.accordion-blocks .card {
    margin-bottom: 1.2rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.md-accordion .card:first-of-type, .md-accordion .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 1px solid #e0e0e0;
}

.accordion > .card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.md-accordion .card {
    overflow: visible;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*.accordion > .card {
            overflow: hidden;
        }*/

.card {
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.md-accordion .card .card-header {
    padding: 1rem 1.5rem;
    background: transparent;
    border-bottom: 0;
}

.accordion > .card > .card-header {
    border-radius: 0;
    margin-bottom: -1px;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

.md-accordion .card .card-header a {
    -webkit-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
}

.accordion.md-accordion.accordion-blocks .card .card-body {
    border-top: 1px solid #eee;
}

.md-accordion .card .card-body {
    /*font-size: .9rem;*/
    font-weight: 300;
    line-height: 1.7;
    color: #626262;
}

.card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0 !important;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.md-accordion .card a:not(.collapsed) .card-header .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.md-accordion .card .fa-angle-down {
    float: right;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}