<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceLayerURL" value="https://cvahana:50000/b1s/v1/" />
    <add key="Database" value="SBODEMOBR4" />
    <add key="B1User" value="manager" />
    <add key="B1Password" value="hanab1" />
  </appSettings>
</configuration>