<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="Server" value="VM-005"/>
    <add key="Database" value="SBOHybel"/>
    <add key="UserName" value="sa"/>
    <add key="Password" value="Cva@sa"/>
    <!--add key="Server" value="192.168.43.15"/>
    <add key="Database" value="SBO_TesteFinal"/>
    <add key="UserName" value="sa"/>
    <add key="Password" value="@H20#17*"/>-->
    <add key="DefaultPrinter" value=""/>
    <add key="Layout" value="Modelos\padrao.prn"/>
  </appSettings>
</configuration>
