<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="administrador" value="802714" />
    <add key="emailRemetente" value="portalvendas@imcopa.com.br" />
    <add key="ADServer" value="imcopa.com.br" />

    <!--<add key="ADPath" value="LDAP://excpro001"/>-->
    <add key="ADPath" value="LDAP://adpro003" />
    <add key="ADDomain" value="imcopa.com.br" />
    <!--<add key="ADOu" value="OU=Setor Vendas,OU=Grupo Imcopa"/>-->
    <add key="ADOu" value="OU=temp" />

    <add key="ADAdminUser" value="c3VwNA==" />
    <!--<add key="ADAdminUser" value="c3VwMg=="/>-->
    <add key="ADAdminPassword" value="dHJhbnNnZW5pY28=" />
    <add key="ADDefaultPassword" value="SW5pY2lhbDEyMw==" />


    <!--	
   <add key="R3" value="CLIENT=300 USER=cotacao PASSWD=imcsoya1 LANG=PT ASHOST=saphom470 SYSNR=00"/>
		-->
    <!--<add key="R3" value="CLIENT=300 USER=cotacao PASSWD=imcsoya1 LANG=PT ASHOST=/H/201.64.219.2/W/chupisco/H/192.168.0.17 SYSNR=00"/>-->
    <!--<add key="R3" value="CLIENT=300 USER=cotacao PASSWD=imcsoya1 LANG=PT ASHOST=saphom003 SYSNR=00 SYSTEMID=Q01"/>-->
    <!--<add key="R3" value="CLIENT=300 USER=cotacao PASSWD=@imcsoya1 LANG=PT ASHOST=sapdev002 SYSNR=00 SYSTEMID=D01" />-->
    <add key="R3" value="CLIENT=300 USER=cotacao PASSWD=@imcsoya1 LANG=PT ASHOST=192.168.0.67 SYSNR=00 SYSTEMID=D01" />
    
    <add key="AUTHO" value="" />
    <add key="FEMB" value="1100-Araucaria|1300-Cambe|2100-Araucaria|2300-Cambe" />
    <add key="FRETE" value="CIF-CIF|FOB-FOB" />
    <add key="CPAGTO" value="I001|I002|I003|I004|I005|I006|I007|I008|I009|I010|I011|I012|I013|I014" />
    <add key="BUKRS" value="|1000-Araucaria|2000-Araucaria Com." />
    <!-- COnfigurações novo SAP .Net Connector 3.0 -->
    <add key="CLIENT" value="300" />
    <!--<add key="USER" value="cotacao"/>-->
    <!--<add key="PASSWD" value="imcsoya1"/>-->
    <add key="USER" value="cotacao" />
    <add key="PASSWD" value="@imcsoya1" />
    <!--<add key="ASHOST" value="saphom470"/> -->
    <!--<add key="ASHOST" value="/H/201.64.219.2/W/chupisco/H/192.168.0.17"/>-->
    <!--<add key="ASHOST" value="sapdev002" />-->
    <add key="ASHOST" value="192.168.0.67" />
    
    <add key="SYSNR" value="00" />
    <!--<add key="SYSTEMID" value="Q01"/>-->
    <add key="SYSTEMID" value="D01" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>