<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ServiceLayerURL" value="EAAAAOra4i99fUVbuqfiI1/XY8MxGLpevuTNvpxRrv00YbjMxTbCoA8To920eu2ZVzzRmg=="/>
    <add key="ServiceLayerUser" value="EAAAABh26rvbfYknQvs5Wu2Xd8USv0ce3DXCfpLHuLve8hHK"/>
    <add key="ServiceLayerPassword" value="EAAAAMrHH+r9OJMtBEcgV0Rij/LZrK/eWyH3z129EAf5SkQ+"/>
    <add key="ServiceLayerDatabase" value="EAAAAFyeqo1eHLuAno6hpI8d+mPioeN2grPpNdF9TbjjjcZdok4FhHpLLb0k5Kna8ZdbQQ=="/>
    <add key="HanaDB" value=""/>
    <add key="HanaPassword" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
