<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceLayerURL" value="https://hanab1:50000/b1s/v1/" />
    <add key="Server" value="hanab1:30015" />
    <add key="Database" value="SBO_AGB_PRODUCAO" />
    <add key="B1User" value="Support" />
    <add key="B1Password" value="Cva@2020" />
    <add key="DBUser" value="SYSTEM" />
    <add key="DBPassword" value="hanab1@SAP" />
    <add key="Order" value="32915" />
   
    <!--HOM
    <add key="MagentoURL" value="https://hapi.grupoboticario.com.br" />
    <add key="MagentoUser" value="cva" />
    <add key="MagentoPassword" value="@lBb8qt9lsMvatLW5fat1" />
    <add key="MagentoClientId" value="6ce90a59-0c22-4c4f-a8a7-9c39ddf5efae" />
    <add key="MagentoClientSecret" value="D2vK8eU2cG4oK5oN2cX7vQ4dF1kT2jM8vX5vX0rF5kW7sU8jX5" />
    -->

    <!-- PRD
    <add key="MagentoURL" value="https://api.grupoboticario.com.br" />
    <add key="MagentoUser" value="cva" />
    <add key="MagentoPassword" value="6STKym@pu*DR" />
    <add key="MagentoClientId" value="b04f39cf-12bc-411c-99ff-2d00c64744d3" />
    <add key="MagentoClientSecret" value="C0xN8lB2uY3mP2mH8xJ7mL5kT8yY3uQ4vH6tP4oA8tT4pR2tL6" />
    -->
    
  </appSettings>
</configuration>