<connectionStrings>
    <add name="CVA_ATL_REPEntities"
         connectionString="metadata=res://*/CVA_Rep_Model.csdl|res://*/CVA_Rep_Model.ssdl|res://*/CVA_Rep_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAP-MACHINE;initial catalog=CVA_ATL_REP;persist security info=True;user id=sa;password=sa@#Atlantic;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="CVA_ATL_CON"
         connectionString="Server=SAP-MACHINE; Database=CVA_ATL_CON; User Id=sa; Password=sa@#Atlantic;"
         providerName="System.Data.SqlClient"/>
    <add name="CVA_ATL_REP"
         connectionString="Server=SAP-MACHINE; Database=CVA_ATL_REP; User Id=sa; Password=sa@#Atlantic;"
         providerName="System.Data.SqlClient"/>
    <add name="CVA_ATL_CONEntities"
         connectionString="metadata=res://*/ORM.CVA_ATL_CON_Model.csdl|res://*/ORM.CVA_ATL_CON_Model.ssdl|res://*/ORM.CVA_ATL_CON_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAP-MACHINE;initial catalog=CVA_ATL_CON;persist security info=True;user id=sa;password=sa@#Atlantic;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
</connectionStrings>