USE [CVA_ATL_CON]
GO
/****** Object:  Table [dbo].[CVA_BASES]    Script Date: 03/01/2018 15:22:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_BASES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BASE] [nvarchar](254) NULL,
	[TIPO] [int] NULL,
	[DB_SERVER] [nvarchar](200) NULL,
	[USERNAME] [nvarchar](200) NULL,
	[PASSWD] [nvarchar](200) NULL,
	[DB_USERNAME] [nvarchar](200) NULL,
	[DB_PASSWD] [nvarchar](200) NULL,
	[LICENSE_SERVER] [nvarchar](200) NULL,
	[DB_TYPE] [int] NULL,
	[USE_TRUSTED] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CVA_BASES_DE_PARA]    Script Date: 03/01/2018 15:22:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_BASES_DE_PARA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BASE_DE] [int] NULL,
	[FILIAL_DE] [int] NULL,
	[CNPJ_FILIAL_DE] [nvarchar](50) NULL,
	[CNPJ_FILIAL_PARA] [nvarchar](50) NULL,
	[FILIAL_PARA] [int] NULL,
	[NOME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CVA_LOG_CONSOLIDADOR]    Script Date: 03/01/2018 15:22:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_LOG_CONSOLIDADOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOG_DATE] [datetime] NULL DEFAULT (getdate()),
	[BASE_ORIGEM] [int] NULL,
	[ID_ORIGEM] [int] NULL,
	[BASE_DESTINO] [int] NULL,
	[ID_DESTINO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CVA_REG]    Script Date: 03/01/2018 15:22:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CVA_REG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[UPD] [datetime] NULL,
	[STU] [int] NULL,
	[BAS] [int] NULL,
	[CODE] [nvarchar](200) NULL,
	[FUNC] [char](1) NULL,
	[BAS_ERR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CVA_REG_LOG]    Script Date: 03/01/2018 15:22:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_REG_LOG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INS] [datetime] NOT NULL,
	[UPD] [datetime] NULL,
	[STU] [int] NULL,
	[REG] [int] NULL,
	[MSG] [nvarchar](max) NULL,
	[BAS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CVA_STATUS]    Script Date: 03/01/2018 15:22:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_STATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CVA_TIPO_BASES]    Script Date: 03/01/2018 15:22:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVA_TIPO_BASES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CVA_BASES]  WITH CHECK ADD FOREIGN KEY([TIPO])
REFERENCES [dbo].[CVA_TIPO_BASES] ([ID])
GO
ALTER TABLE [dbo].[CVA_BASES_DE_PARA]  WITH CHECK ADD FOREIGN KEY([BASE_DE])
REFERENCES [dbo].[CVA_BASES] ([ID])
GO
ALTER TABLE [dbo].[CVA_REG]  WITH CHECK ADD FOREIGN KEY([BAS])
REFERENCES [dbo].[CVA_BASES] ([ID])
GO
ALTER TABLE [dbo].[CVA_REG]  WITH CHECK ADD FOREIGN KEY([BAS_ERR])
REFERENCES [dbo].[CVA_BASES] ([ID])
GO
ALTER TABLE [dbo].[CVA_REG]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STATUS] ([ID])
GO
ALTER TABLE [dbo].[CVA_REG_LOG]  WITH CHECK ADD FOREIGN KEY([BAS])
REFERENCES [dbo].[CVA_BASES] ([ID])
GO
ALTER TABLE [dbo].[CVA_REG_LOG]  WITH CHECK ADD FOREIGN KEY([REG])
REFERENCES [dbo].[CVA_REG] ([ID])
GO
ALTER TABLE [dbo].[CVA_REG_LOG]  WITH CHECK ADD FOREIGN KEY([STU])
REFERENCES [dbo].[CVA_STATUS] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_TOTAL_LANCAMENTOS]    Script Date: 03/01/2018 15:22:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CVA_TOTAL_LANCAMENTOS](@totalCount INT output)
AS
BEGIN
DECLARE @query NVARCHAR(MAX),
		@count INT,
		@BASE NVARCHAR(254),
		@ID INT

DECLARE curbases CURSOR FORWARD_ONLY FOR SELECT ID, BASE FROM CVA_BASES WHERE TIPO = 2

OPEN curbases
FETCH NEXT FROM curbases INTO @ID, @BASE

SET @count = 0
SET @totalCount = 0

WHILE @@FETCH_STATUS = 0
BEGIN
	SET @query = 'SELECT @count = COUNT(DISTINCT T0.TransId) FROM [' + @BASE + '].[dbo].[OJDT] T0 INNER JOIN [' + @BASE + '].[dbo].[JDT1] T1 ON T1.TransId = T0.TransId INNER JOIN [CVA_ATL_CON].[dbo].[CVA_REG] T2 ON T2.CODE = T0.TransId AND T2.STU = 1 AND T2.BAS = ' + CAST(@ID AS NVARCHAR(10)) + ' WHERE T0.U_CVA_STATUS = 0'
	EXEC sp_executesql @query, N'@count int output', @count output

	SET @totalCount = @totalCount + @count

	FETCH NEXT FROM curbases INTO @ID, @BASE
END

CLOSE curbases
DEALLOCATE curbases

RETURN
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_TOTAL_LANCAMENTOS_POR_BASE]    Script Date: 03/01/2018 15:22:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CVA_TOTAL_LANCAMENTOS_POR_BASE]
AS
BEGIN
DECLARE @query NVARCHAR(MAX),
		@BASE NVARCHAR(254),
		@ID INT,
		@counter INT,
		@count INT

CREATE TABLE #tempTable
(
	DBNAME NVARCHAR(100),
	TOTALCOUNT INT
)

DECLARE curbases CURSOR FORWARD_ONLY FOR SELECT ID, BASE FROM CVA_BASES WHERE TIPO = 2

OPEN curbases
FETCH NEXT FROM curbases INTO @ID, @BASE

SET @query = 'INSERT INTO #tempTable SELECT * FROM ('
SELECT @counter = COUNT(BASE) FROM CVA_BASES WHERE TIPO = 2
SET @count = 1

WHILE @@FETCH_STATUS = 0
BEGIN
	IF @count < @counter
	BEGIN
		SELECT @query = @query + 'SELECT ''' + @BASE + ''' AS [Base], COUNT(DISTINCT T0.TransId) AS TotalCount FROM [' + @BASE + '].[dbo].[OJDT] T0 INNER JOIN [' + @BASE + '].[dbo].[JDT1] T1 ON T1.TransId = T0.TransId INNER JOIN [CVA_ATL_CON].[dbo].[CVA_REG] T2 ON T2.CODE = T0.TransId AND T2.STU = 1 AND T2.BAS = ' + CAST(@ID AS NVARCHAR(10)) + ' WHERE T0.U_CVA_STATUS = 0 UNION ALL '
		SELECT @count = @count + 1
	END
	ELSE
	BEGIN
		SELECT @query = @query + 'SELECT ''' + @BASE + ''' AS [Base], COUNT(DISTINCT T0.TransId) AS TotalCount FROM [' + @BASE + '].[dbo].[OJDT] T0 INNER JOIN [' + @BASE + '].[dbo].[JDT1] T1 ON T1.TransId = T0.TransId INNER JOIN [CVA_ATL_CON].[dbo].[CVA_REG] T2 ON T2.CODE = T0.TransId AND T2.STU = 1 AND T2.BAS = ' + CAST(@ID AS NVARCHAR(10)) + ' WHERE T0.U_CVA_STATUS = 0 '
		SELECT @count = @count + 1
	END

	FETCH NEXT FROM curbases INTO @ID, @BASE
END

CLOSE curbases
DEALLOCATE curbases

SELECT @query = @query + ') AS P'

EXEC sp_executesql @query

SELECT * FROM #tempTable WHERE TOTALCOUNT <> 0
DROP TABLE #tempTable
END

GO
