<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    <!-- <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /> -->
  </startup>
  <connectionStrings>
    <add name="Hana" connectionString="Server=10.180.9.50:30015;UserName=SYSTEM;Password=CVA@inicio123" providerName="Sap.Data.Hana" />
  </connectionStrings>
  <appSettings>
    <add key="ConfigCacheDuration" value="25" />
    <add key="CheckConnectionCacheDuration" value="5" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="FromMail" value="cva.wkf@gmail.com" />
    <add key="ToMail" value="cva.wkf@gmail.com" />
    <add key="PortMail" value="587" />
    <add key="UserMail" value="cva.wkf@gmail.com" />
    <add key="PasswordMail" value="h9et0w29" />
    <!--Server - No Hana, incluir a porta (por padrão é a 30015)-->
    <add key="Server" value="10.170.1.50:30015" />
    <add key="Database" value="SBOMAXCOILTESTE" />
    <add key="B1User" value="manager2" />
    <add key="B1Password" value="CVA$sap18" />
    <add key="DBUser" value="SYSTEM" />
    <add key="DBPassword" value="CVA@inicio123" />
    <!--MSSQL = 1,
        DB_2 = 2,
        SYBASE = 3,
        MSSQL2005 = 4,
        MAXDB = 5,
        MSSQL2008 = 6,
        MSSQL2012 = 7,
        MSSQL2014 = 8,
        HANADB = 9,
        MSSQL2016 = 10,
        MSSQL2017 = 11-->
    <add key="ServerType" value="9" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>