<div class="row">
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <strong>Atenção!</strong> A verificação para o fechamento do período ocorrerá sempre as <b>18h00m</b>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Configurações<strong> Financeiras</strong></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Fechamento da Matriz</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <label class="check"><input type="checkbox" ng-model="branch.UseMasterClosingMonth" id="branch-politicExpense" class="icheckbox expense" /> Utiliza a política de fechamento da Matriz</label>
                                </div>
                                <span class="help-block">Informe se a filial utilizará a mesma política da matriz</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Fechamento Padrão</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input type="number" class="form-control" max="28" min="1" value="1" id="diaFechamento" ng-model="branch.FinishDay_Period" />
                                </div>
                                <label ><input type="checkbox" id="branch-closeOnLastDay" class="icheckbox expense" ng-model="branch.CloseOnLastDay"  /> Fechar período sempre no último dia do mês</label>
                                <span class="help-block">Informe o dia de fechamento padrão do período</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>