CREATE FUNCTION [dbo].[fncNMSImpostoDoDocumento] (
  @ObjType varchar(30)
, @DocEntry int
, @Imposto varchar(30)

)
returns decimal(19, 9)

as
begin

  declare @vl_Imposto       decimal(19, 9)
  
  declare @vl_Imposto_pdn   decimal(19, 9)
  declare @vl_Imposto_pch   decimal(19, 9)
  declare @vl_Imposto_rpd   decimal(19, 9)
  declare @vl_ImpostO_rpc   decimal(19, 9)
  declare @vl_imposto_por   decimal(19, 9)
  
  declare @vl_Imposto_dln   decimal(19, 9) 
  declare @vl_Imposto_rdn   decimal(19, 9)
  declare @vl_Imposto_inv   decimal(19, 9)
  declare @vl_Imposto_rin   decimal(19, 9)
  declare @vl_imposto_rdr   decimal(19, 9)
 
  declare @vl_Imposto_dpi   decimal(19, 9)
  
  select @vl_Imposto     = 0
       , @vl_Imposto_pdn = 0
       , @vl_Imposto_pch = 0
       , @vl_Imposto_rpd = 0
       , @vl_Imposto_dpi = 0
       , @vl_Imposto_rpc = 0
       , @vl_Imposto_dln = 0
       , @vl_Imposto_rdn = 0
       , @vl_Imposto_inv = 0
       , @vl_Imposto_rin = 0 
       , @vl_imposto_rdr = 0
       , @vl_imposto_por = 0
       
  
  select @vl_Imposto_dpi = sum(a.TaxSum)
    from DPI4 a
   inner join OSTT b
      on b.AbsId = a.staType 
   where a.DocEntry = @DocEntry
     and a.ObjectType = @ObjType 
     and b.Name = @Imposto
     
  select @vl_Imposto_pdn = sum(a.TaxSum)
    from PDN4 a
   inner join OSTT b
      on b.AbsId = a.staType 
   where a.DocEntry = @DocEntry
     and a.ObjectType = @ObjType 
     and b.Name = @Imposto

  select @vl_Imposto_pch = sum(a.TaxSum)
    from PCH4 a
   inner join OSTT b
      on b.AbsId = a.staType 
   where a.DocEntry = @DocEntry
     and a.ObjectType = @ObjType 
     and b.Name = @Imposto

  select @vl_Imposto_rpd = sum(a.TaxSum)
    from RPD4 a
   inner join OSTT b
      on b.AbsId = a.staType 
   where a.DocEntry = @DocEntry
     and a.ObjectType = @ObjType 
     and b.Name = @Imposto

  select @vl_Imposto_rpc = sum(a.TaxSum)
    from RPC4 a
   inner join OSTT b
      on b.AbsId = a.staType 
   where a.DocEntry = @DocEntry
     and a.ObjectType = @ObjType 
     and b.Name = @Imposto

  select @vl_Imposto_por = sum(a.TaxSum)
    from POR4 a
   inner join OSTT b
      on b.AbsId = a.staType 
   where a.DocEntry = @DocEntry
     and a.ObjectType = @ObjType 
     and b.Name = @Imposto




  select @vl_Imposto_dln = sum(a.TaxSum)
    from DLN4 a
   inner join OSTT b
      on b.AbsId = a.staType 
   where a.DocEntry = @DocEntry
     and a.ObjectType = @ObjType 
     and b.Name = @Imposto

  select @vl_Imposto_rdn = sum(a.TaxSum)
    from rdn4 a
   inner join OSTT b
      on b.AbsId = a.staType 
   where a.DocEntry = @DocEntry
     and a.ObjectType = @ObjType 
     and b.Name = @Imposto

  select @vl_Imposto_inv = sum(a.TaxSum)
    from INV4 a
   inner join OSTT b
      on b.AbsId = a.staType 
   where a.DocEntry = @DocEntry
     and a.ObjectType = @ObjType 
     and b.Name = @Imposto

  select @vl_Imposto_rin = sum(a.TaxSum)
    from RIN4 a
   inner join OSTT b
      on b.AbsId = a.staType 
   where a.DocEntry = @DocEntry
     and a.ObjectType = @ObjType 
     and b.Name = @Imposto

  select @vl_Imposto_rdr = sum(a.TaxSum)
    from rdr4 a
   inner join OSTT b
      on b.AbsId = a.staType 
   where a.DocEntry = @DocEntry
     and a.ObjectType = @ObjType 
     and b.Name = @Imposto

  
  select @vl_Imposto = ISNULL(@vl_Imposto_pdn, 0)
                     + ISNULL(@vl_Imposto_pch, 0)
                     + ISNULL(@vl_Imposto_rpd, 0)
                     + ISNULL(@vl_Imposto_rpc, 0)
                     + ISNULL(@vl_imposto_por, 0)
                     + ISNULL(@vl_Imposto_dln, 0)
                     + ISNULL(@vl_Imposto_rdn, 0)
                     + ISNULL(@vl_Imposto_inv, 0)
                     + ISNULL(@vl_Imposto_rin, 0)
                     + ISNULL(@vl_Imposto_dpi, 0)
                     + ISNULL(@vl_imposto_rdr, 0)
  
  return @vl_Imposto

end