@model CVA.Portal.Producao.Model.Configuracoes.UsuarioModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link rel="icon" type="image/ico" href="http://www.cvaconsultoria.com.br/images/favicon/favicon.ico" />*@


    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Content/animate.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/custom.min.css" rel="stylesheet">

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            function buildClock() {
                var today = new Date();
                $("h1").text(((today.getHours() < 10) ? "0" : "") + today.getHours() + ":" + ((today.getMinutes() < 10) ? "0" : "") + today.getMinutes() + ":" + ((today.getSeconds() < 10) ? "0" : "") + today.getSeconds());
                setTimeout(function () { buildClock() }, 500);
            }

            buildClock();
        });
    </script>

    <title>Login</title>
</head>
<body class="login">
    <div class="login_wrapper" style="margin-top: 25px">
        <div class="animate form login_form">
            <section class="login_content">
                <img style="margin-bottom: 50px" src="~/Content/Images/logo.png" />
                @using (Html.BeginForm("Login", "LoginCartao", FormMethod.Post))
                {
                    <h1 style="font-size: 50px; margin-bottom: 50px"></h1>
                    <div class="form-group">

                        <label for="user" class="control-label">Número do Cartão</label>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            @Html.TextBoxFor(m => m.NumeroCartao, new { @class = "form-control has-feedback-left", required = "required", placeholder = "Informe seu número do cartão", title = "Informe seu número do cartão", autofocus = "", autocomplete = "off" })
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span class="help-block"></span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <button type="submit" value="login" name="submit" class="btn btn-success btn-block">Entrar</button>
                        @if (ViewBag.LoginError != null)
                        {
                            <div id="loginErrorMsg" class="alert alert-error">@ViewBag.LoginError</div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div id="loginErrorMsg" class="alert alert-error hide"></div>
                            </div>
                        }
                    </div>
                }
                <img style="margin-top: 100px" src="~/Content/Images/cva_logo.png" />
            </section>
            <br />
        </div>
    </div>
</body>
</html>