IF EXISTS (SELECT * FROM sys.objects WHERE type = 'IF' AND name = 'FN_CVA_SEF_0400')
	DROP FUNCTION FN_CVA_SEF_0400

	go

--- SELECT * FROM FN_CVA_SEF_0400 (9,'2018-01-01' ,'2018-01-31')
create FUNCTION [dbo].[FN_CVA_SEF_0400]
(
	@Filial			INT,
	@DataInicial	DATETIME,
	@DataFinal		DATETIME
) RETURNS TABLE
AS
RETURN
(

		SELECT DISTINCT 
			'0400'			LINHA,    
			T1.COD_NAT		UsageId,
			T1.DESCR_NAT	UsageDesc,
			T1.COP			ICMS

	
		FROM FN_CVA_SEF_E020 (@Filial,@DataInicial,@DataFinal) T0  INNER JOIN CODNATOPER T1  ON T0.CODNAT = T1.COP

		UNION ALL 

		SELECT DISTINCT 
			'0400'			LINHA,    
			T1.COD_NAT		UsageId,
			T1.DESCR_NAT	UsageDesc,
			T1.COP			ICMS

	
		FROM FN_CVA_SEF_E120 (@Filial,@DataInicial,@DataFinal) T0  INNER JOIN CODNATOPER T1  ON T0.COP = T1.COP



	--SELECT '0400' Linha, OUSG.Id UsageId, OUSG.Usage UsageDesc, OUSG.U_CVA_ICMS ICMS FROM OPDN WITH(NOLOCK) INNER JOIN PDN1 WITH(NOLOCK) ON PDN1.DocEntry = OPDN.DocEntry INNER JOIN OUSG WITH(NOLOCK) ON OUSG.Id = PDN1.Usage WHERE OPDN.CANCELED = 'N' AND OPDN.BPLId = @Filial AND OPDN.DocDate BETWEEN @DataInicial AND @DataFinal AND Model IN (1, 3, 5, 39) GROUP BY OUSG.Id, OUSG.Usage, OUSG.U_CVA_ICMS

	--UNION

	--SELECT '0400' Linha, OUSG.Id UsageId, OUSG.Usage UsageDesc, OUSG.U_CVA_ICMS ICMS FROM OPCH WITH(NOLOCK) INNER JOIN PCH1 WITH(NOLOCK) ON PCH1.DocEntry = OPCH.DocEntry INNER JOIN OUSG WITH(NOLOCK) ON OUSG.Id = PCH1.Usage WHERE OPCH.CANCELED = 'N' AND OPCH.BPLId = @Filial AND OPCH.DocDate BETWEEN @DataInicial AND @DataFinal AND Model IN (1, 3, 5, 39) GROUP BY OUSG.Id, OUSG.Usage, OUSG.U_CVA_ICMS

	--UNION

	--SELECT '0400' Linha, OUSG.Id UsageId, OUSG.Usage UsageDesc, OUSG.U_CVA_ICMS ICMS FROM ORDN WITH(NOLOCK) INNER JOIN RDN1 WITH(NOLOCK) ON RDN1.DocEntry = ORDN.DocEntry INNER JOIN OUSG WITH(NOLOCK) ON OUSG.Id = RDN1.Usage WHERE ORDN.CANCELED = 'N' AND ORDN.BPLId = @Filial AND ORDN.DocDate BETWEEN @DataInicial AND @DataFinal AND Model IN (1, 3, 5, 39) GROUP BY OUSG.Id, OUSG.Usage, OUSG.U_CVA_ICMS

	--UNION

	--SELECT '0400' Linha, OUSG.Id UsageId, OUSG.Usage UsageDesc, OUSG.U_CVA_ICMS ICMS FROM ORIN WITH(NOLOCK) INNER JOIN RIN1 WITH(NOLOCK) ON RIN1.DocEntry = ORIN.DocEntry INNER JOIN OUSG WITH(NOLOCK) ON OUSG.Id = RIN1.Usage WHERE ORIN.CANCELED = 'N' AND ORIN.BPLId = @Filial AND ORIN.DocDate BETWEEN @DataInicial AND @DataFinal AND Model IN (1, 3, 5, 39) GROUP BY OUSG.Id, OUSG.Usage, OUSG.U_CVA_ICMS

	--UNION

	--SELECT '0400' Linha, OUSG.Id UsageId, OUSG.Usage UsageDesc, OUSG.U_CVA_ICMS ICMS FROM ODLN WITH(NOLOCK) INNER JOIN DLN1 WITH(NOLOCK) ON DLN1.DocEntry = ODLN.DocEntry INNER JOIN OUSG WITH(NOLOCK) ON OUSG.Id = DLN1.Usage WHERE ODLN.CANCELED = 'N' AND ODLN.BPLId = @Filial AND ODLN.DocDate BETWEEN @DataInicial AND @DataFinal AND Model IN (1, 3, 5, 39) GROUP BY OUSG.Id, OUSG.Usage, OUSG.U_CVA_ICMS

	--UNION

	--SELECT '0400' Linha, OUSG.Id UsageId, OUSG.Usage UsageDesc, OUSG.U_CVA_ICMS ICMS FROM OINV WITH(NOLOCK) INNER JOIN INV1 WITH(NOLOCK) ON INV1.DocEntry = OINV.DocEntry INNER JOIN OUSG WITH(NOLOCK) ON OUSG.Id = INV1.Usage WHERE OINV.CANCELED = 'N' AND OINV.BPLId = @Filial AND OINV.DocDate BETWEEN @DataInicial AND @DataFinal AND Model IN (1, 3, 5, 39) GROUP BY OUSG.Id, OUSG.Usage, OUSG.U_CVA_ICMS

	--UNION

	--SELECT '0400' Linha, OUSG.Id UsageId, OUSG.Usage UsageDesc, OUSG.U_CVA_ICMS ICMS FROM ORPD WITH(NOLOCK) INNER JOIN RPD1 WITH(NOLOCK) ON RPD1.DocEntry = ORPD.DocEntry INNER JOIN OUSG WITH(NOLOCK) ON OUSG.Id = RPD1.Usage WHERE ORPD.CANCELED = 'N' AND ORPD.BPLId = @Filial AND ORPD.DocDate BETWEEN @DataInicial AND @DataFinal AND Model IN (1, 3, 5, 39) GROUP BY OUSG.Id, OUSG.Usage, OUSG.U_CVA_ICMS

	--UNION

	--SELECT '0400' Linha, OUSG.Id UsageId, OUSG.Usage UsageDesc, OUSG.U_CVA_ICMS ICMS FROM ORPC WITH(NOLOCK) INNER JOIN RPC1 WITH(NOLOCK) ON RPC1.DocEntry = ORPC.DocEntry INNER JOIN OUSG WITH(NOLOCK) ON OUSG.Id = RPC1.Usage WHERE ORPC.CANCELED = 'N' AND ORPC.BPLId = @Filial AND ORPC.DocDate BETWEEN @DataInicial AND @DataFinal AND Model IN (1, 3, 5, 39) GROUP BY OUSG.Id, OUSG.Usage, OUSG.U_CVA_ICMS


)
