IF EXISTS (SELECT * FROM sys.objects WHERE type = 'TF' AND name = 'FN_CVA_SEF_E105')
	DROP FUNCTION FN_CVA_SEF_E105
GO

--SELECT * FROM [FN_CVA_SEF_E105] (9,'2018-01-01','2018-01-31')



--SELECT distinct docentry, ObjType  FROM [FN_CVA_SEF_E020] (9,'2018-01-01','2018-01-31')
create  FUNCTION [dbo].[FN_CVA_SEF_E105] 
	(@Filial			INT,
	@DataDe			DATETIME,
	@DataAte		DATETIME)


RETURNS @Docs TABLE
	(
		DocEntry		  VARCHAR(50),
		ObjType			  INT,
		LIN				  VARCHAR(4),					
		VL_CONT_P		  DECIMAL (19,2),
		VL_OP_ISS_P		  DECIMAL (19,2),
		CFOP			  VARCHAR(4),
		VL_BC_ICMS_P	  DECIMAL (19,2),
		ALIQ_ICMS		  VARCHAR (10),
		VL_ICMS_P		  DECIMAL (19,2),
		VL_ICMS_P2        DECIMAL (19,2),
		VL_ISNT_ICMS_P	  DECIMAL (19,2),
		VL_OUT_ICMS_P	  DECIMAL (19,2),
		IND_PETR          INT
	)

AS
BEGIN


DECLARE @Docs2 TABLE
	(
		DocEntry		  VARCHAR(50),
		ObjType			  INT,
		LineTotal		  DECIMAL (19,2),
		DistribSum		  DECIMAL (19,2),
		CFOP			  VARCHAR (6),
		BaseICMS		  DECIMAL (19,2),
		AliquotaICMS	  DECIMAL (19,2),
		ValorICMS		  DECIMAL (19,2),
		AliqICMS		  DECIMAL (19,2),
		OutrosICMS		  DECIMAL (19,2),
		IsentoICMS		  DECIMAL (19,2),
		BaseICMS_ST		  DECIMAL (19,2),
		AliquotaICMS_ST	  DECIMAL (19,2),
		ValorICMS_ST	  DECIMAL (19,2),
		BaseIPI			  DECIMAL (19,2),
		AliquotaIPI		  DECIMAL (19,2),
		ValorIPI		  DECIMAL (19,2),
		AliqIPI			  DECIMAL (19,2),
		OutrosIPI		  DECIMAL (19,2),
		IsentoIPI		  DECIMAL (19,2)
	)


INSERT INTO @Docs2
	SELECT 
			OPCH.DocEntry					DocEntry,
			OPCH.ObjType					ObjType,
			PCH1.LineTotal                  LineTotal,
			PCH1.DistribSum	                DistribSum,
			PCH1.CFOPCode					CFOP, 
			ISNULL(ICMS.BaseSum,0)			BaseICMS,
			ISNULL(ICMS.TaxRate,0)			AliquotaICMS,
			ISNULL(ICMS.TaxSum,0)			ValorICMS,
			ISNULL(ICMS.TaxRate,0)          AliqICMS,
			ISNULL(ICMS.U_OthAmtl,0)        OutrosICMS,
			ISNULL(ICMS.U_ExcAmtl,0)        IsentoICMS,
			ISNULL(ICMS_ST.BaseSum,0)		BaseICMS_ST,
			ISNULL(ICMS_ST.TaxRate,0)		AliquotaICMS_ST,
			ISNULL(ICMS_ST.TaxSum,0)		ValorICMS_ST,
			ISNULL(IPI.BaseSum,0)			BaseIPI,
			ISNULL(IPI.TaxRate,0)			AliquotaIPI,
			ISNULL(IPI.TaxSum,0)			ValorIPI,
			ISNULL(IPI.TaxRate,0)			AliqIPI,
			ISNULL(IPI.U_OthAmtl,0)         OutrosIPI,
			ISNULL(IPI.U_ExcAmtl,0)         IsentoIPI

	
		FROM OPCH WITH(NOLOCK)
			INNER JOIN PCH1 WITH(NOLOCK)
				ON PCH1.DocEntry = OPCH.DocEntry
			LEFT JOIN (
					SELECT PCH4.DocEntry, PCH4.LineNum, SUM(PCH4.TaxSum) TaxSum, SUM(PCH4.BaseSum) BaseSum, PCH4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
					FROM PCH4 WITH(NOLOCK) 
						INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = PCH4.StaType
						INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS'
					GROUP BY PCH4.DocEntry, PCH4.LineNum, PCH4.TaxRate, U_OthAmtl, U_ExcAmtl
				) ICMS
				ON ICMS.DocEntry = PCH1.DocEntry
				AND ICMS.LineNum = PCH1.LineNum
			LEFT JOIN (
				SELECT PCH4.DocEntry, PCH4.LineNum, SUM(PCH4.TaxSum) TaxSum, SUM(PCH4.BaseSum) BaseSum, PCH4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM PCH4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = PCH4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS-ST'
				GROUP BY PCH4.DocEntry, PCH4.LineNum, PCH4.TaxRate, U_OthAmtl, U_ExcAmtl
			) ICMS_ST
				ON ICMS_ST.DocEntry = PCH1.DocEntry
				AND ICMS_ST.LineNum = PCH1.LineNum
			LEFT JOIN (
				SELECT PCH4.DocEntry, PCH4.LineNum, SUM(PCH4.TaxSum) TaxSum, SUM(PCH4.BaseSum) BaseSum, PCH4.TaxRate,  SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM PCH4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = PCH4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'IPI'
				GROUP BY PCH4.DocEntry, PCH4.LineNum, PCH4.TaxRate, U_OthAmtl, U_ExcAmtl
			) IPI
				ON IPI.DocEntry = PCH1.DocEntry
				AND IPI.LineNum = PCH1.LineNum
		WHERE 
		0=0
		and OPCH.DocDate BETWEEN @DataDe AND @DataAte
		AND OPCH.BPLId = @Filial
		AND OPCH.CANCELED = 'N' AND Model IN (6, 19, 22)



INSERT INTO @Docs
	SELECT 
			E105.DocEntry						DocEntry,
			E105.ObjType						ObjType,
			'E105'								LIN,
			SUM(LineTotal) + SUM(DistribSum)+SUM(ValorICMS_ST)+SUM(ValorIPI)	VL_CONT_P,
			0.00								VL_OP_ISS_P,
			CFOP								CFOP,
			SUM(BaseICMS)						VL_BC_ICMS_P,
			CASE WHEN AliqICMS= 0 THEN '' ELSE REPLACE(CAST(AliqICMS AS VARCHAR (50)),'.',',') END		AliqICMS,
			SUM(ValorICMS)						VL_ICMS_P,
			0.00								VL_ICMS_P2,
			SUM(IsentoICMS)						VL_ISNT_ICMS_P,
			SUM(OutrosICMS)						VL_OUT_ICMS_P,
			0									IND_PETR

				FROM @Docs2 E105
					--INNER JOIN FN_CVA_SEF_E100 (@Filial,@DataDe,@DataAte) E100 ON E105.DocEntry = E100.DocEntry AND E105.ObjType = E100.ObjType
				GROUP BY 
					E105.DocEntry,
					E105.ObjType,
					CFOP,
					AliqICMS
		




RETURN
END