<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CVA.App.NFeio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ApiUrl" value="https://api.nfe.io/v1/companies/{0}/serviceinvoices" />
    <add key="SAVASSI_companyId" value="5e7917758a31981804174029" />
    <add key="SAVASSI_ApiKey" value="4HWptpqVc9rG8MUHl8f1Hm4LOfwE4dCW15BEFOe9IGA9Q1EH7NENQpz3uH1KyasrwtO" />
    <add key="SAVASSI_cityServiceCode" value="080200188" />
    <add key="SAVASSI_federalServiceCode" value="8.02" />
    <add key="SAVASSI_cnaeCode" value="4761001" />
    <add key="SANTOS_companyId" value="5e7927460e7a1b26b003b816" />
    <add key="SANTOS_ApiKey" value="4HWptpqVc9rG8MUHl8f1Hm4LOfwE4dCW15BEFOe9IGA9Q1EH7NENQpz3uH1KyasrwtO" />
    <add key="SANTOS_cityServiceCode" value="8028593700" />
    <add key="SANTOS_federalServiceCode" value="8.02" />
    <add key="SANTOS_cnaeCode" value="8593700" />
  </appSettings>
</configuration>