IF EXISTS (SELECT * FROM sys.objects WHERE type = 'FN' AND name = 'FN_CVA_RENTABILIDADE_SQL')
	DROP FUNCTION FN_CVA_RENTABILIDADE_SQL
GO
-- =========================================================
-- Autor:			Felipe Hosomi
-- Criação:			25/07/2017
-- Descrição:		Relatório de Rentabilidade - SQL Principal
-- Versao:			1.0.0.0
-- Data Versao:     25/07/2017
-- =========================================================
-- Autor:			Felipe Hosomi
-- Versao:			1.0.0.1
-- Data Versao:     26/09/2017
-- Descrição:		Correção divisão por 0
-- =========================================================
CREATE FUNCTION FN_CVA_RENTABILIDADE_SQL
(
	@DataDe				NVARCHAR(MAX), -- Formato yyyyMMdd
	@DataAte			NVARCHAR(MAX), -- Formato yyyyMMdd	
	@GrupoItem			NVARCHAR(MAX) = '',
	@Item				NVARCHAR(MAX) = '',
	@Vendedor			NVARCHAR(MAX) = '',
	@Gerente			NVARCHAR(MAX) = '',
	@Linha				NVARCHAR(MAX) = '',
	@Cidade				NVARCHAR(MAX) = '',
	@Segmento			NVARCHAR(MAX) = '',
	@Acabamento			NVARCHAR(MAX) = '',
	@Classificacao		NVARCHAR(MAX) = '',
	@Disponibilidade	NVARCHAR(MAX) = '',
	@Sistema			NVARCHAR(MAX) = '',
	@Marca				NVARCHAR(MAX) = '',
	@CMV				INT = -1
)
RETURNS VARCHAR(MAX)
BEGIN
	DECLARE @Sql NVARCHAR(MAX)
	DECLARE @Where NVARCHAR(MAX)

	SET @Where = [dbo].FN_CVA_RENTABILIDADE_WHERE(@DataDe, @DataAte, @GrupoItem, @Item, @Vendedor, @Gerente, @Linha, @Cidade, @Segmento, @Acabamento, @Classificacao, @Disponibilidade, @Sistema, @Marca)

	SET @Sql = 
	'SELECT
			INV1.ItemCode,
			OITM.ItemName,
			OSLP.SlpName,
			OHEM.firstName + '' '' + OHEM.lastName			AS ManagerName,
			OINV.CardName,
			INV1.LineNum,
			INV12.CityS,
			OITB.ItmsGrpNam,
			OITM.U_Segmento,
			OITM.U_Acabamento,
			OITM.U_ClassifItem,
			OITM.U_Disponibilidade,
			OITM.U_Sistema,
			OITM.U_Marca,
			INV1.Price,
			INV1.Quantity,
			CASE WHEN ISNULL(RIN1.DocEntry, 0) = 0
				THEN INV1.Weight1
				ELSE INV1.Weight1 - RIN1. Weight1 
			END [Peso],
			INV6.[Prazo Medio],
			CASE WHEN ISNULL(RIN1.DocEntry, 0) = 0
				THEN	INV1.LineTotal / ISNULL(NULLIF((INV1.Weight1 / ISNULL(NULLIF(INV1.U_CVA_Density, 0), 1)), 0), 1)
				ELSE	INV1.LineTotal / ISNULL(NULLIF((INV1.Weight1 / ISNULL(NULLIF(INV1.U_CVA_Density, 0), 1)), 0), 1) - 
						RIN1.LineTotal / ISNULL(NULLIF((RIN1.Weight1 / ISNULL(NULLIF(RIN1.U_CVA_Density, 0), 1)), 0), 1)
			END [Méd. Litros],
			CASE WHEN ISNULL(RIN1.DocEntry, 0) = 0
				THEN INV1.Weight1 / ISNULL(NULLIF(INV1.U_CVA_Density, 0), 1)	
				ELSE INV1.Weight1 / ISNULL(NULLIF(INV1.U_CVA_Density, 0), 1) - RIN1.Weight1 / ISNULL(NULLIF(RIN1.U_CVA_Density, 0), 1)
			END [Vendas Litros],
			CASE WHEN ISNULL(RIN1.DocEntry, 0) = 0
				THEN INV1.Price * INV1.Quantity
				ELSE (INV1.Price * INV1.Quantity) - (RIN1.Price * RIN1.Quantity)
			END [Valor Produto],
			CASE WHEN ISNULL(RIN1.DocEntry, 0) = 0
				THEN ISNULL(INV1.U_CVA_CustoVar, 0) / 100
				ELSE (ISNULL(INV1.U_CVA_CustoVar, 0) - ISNULL(RIN1.U_CVA_CustoVar, 0)) / 100
			END [% Custo Variável],
			CASE WHEN ISNULL(RIN1.DocEntry, 0) = 0
				THEN ISNULL(INV1.U_CVA_CustoDia, 0)
				ELSE ISNULL(INV1.U_CVA_CustoDia, 0) - ISNULL(RIN1.U_CVA_CustoDia, 0)
			END [Custo Dia],
			CASE WHEN ISNULL(RIN1.DocEntry, 0) = 0
				THEN ISNULL(INV1.U_CVA_CustoFixo, 0)
				ELSE ISNULL(INV1.U_CVA_CustoFixo, 0) - ISNULL(RIN1.U_CVA_CustoFixo, 0)
			END [U_CVA_CustoFixo],
			CASE WHEN ISNULL(RIN1.DocEntry, 0) = 0
				THEN	CASE WHEN ISNULL(OPCH.DocEntry, 0) = 0
							THEN ISNULL(INV1.U_akbfreight, 0)
							ELSE (INV1.Weight1 / ISNULL(NULLIF(OINV.Weight, 0), 1)) * OPCH.DocTotal
						END
				ELSE	CASE WHEN ISNULL(OPCH.DocEntry, 0) = 0
							THEN ISNULL(INV1.U_akbfreight, 0) - ISNULL(RIN1.U_akbfreight, 0)
							ELSE (RIN1.Weight1 / ISNULL(NULLIF(OINV.Weight, 0), 1)) * OPCH.DocTotal
						END
			END [Valor Frete],
			INV1.U_CVA_CMV
		FROM OINV WITH(NOLOCK) 
			INNER JOIN INV1 WITH(NOLOCK)
				ON INV1.DocEntry = OINV.DocEntry
			INNER JOIN OITM WITH(NOLOCK)
				ON OITM.ItemCode = INV1.ItemCode
			INNER JOIN OITB WITH(NOLOCK)
				ON OITB.ItmsGrpCod = OITM.ItmsGrpCod
			INNER JOIN (SELECT INV6.DocEntry, AVG(DATEDIFF(DAY, OINV.DocDate, INV6.DueDate)) [Prazo Medio]
							FROM INV6 WITH(NOLOCK)
								INNER JOIN OINV WITH(NOLOCK)
									ON OINV.DocEntry = INV6.DocEntry
							GROUP BY INV6.DocEntry
						) INV6
				ON INV6.DocEntry = OINV.DocEntry
			INNER JOIN INV12 WITH(NOLOCK)
				ON INV12.DocEntry = OINV.DocEntry
			INNER JOIN OSLP WITH(NOLOCK)
				ON OSLP.SlpCode = OINV.SlpCode
			INNER JOIN HTM1 [TIME] WITH(NOLOCK)
				ON [TIME].empID = OINV.OwnerCode
			INNER JOIN HTM1 GERENTE WITH(NOLOCK)
				ON GERENTE.teamID = [TIME].teamID
			INNER JOIN OHEM WITH(NOLOCK)
				ON OHEM.empID = GERENTE.empID
			INNER JOIN HEM6 WITH(NOLOCK)
				ON HEM6.empID = GERENTE.empID
			INNER JOIN OHTY WITH(NOLOCK)
				ON OHTY.typeID = HEM6.roleID
				AND CAST(OHTY.descriptio AS NVARCHAR(MAX)) = ''Gerente''
			LEFT JOIN [@CVA_NFE_FRETE_ITEM] FRETE_ITEM WITH(NOLOCK)
				ON FRETE_ITEM.U_DocNum = OINV.DocNum
			LEFT JOIN [@CVA_NFE_FRETE] FRETE WITH(NOLOCK)
				ON FRETE.Code = FRETE_ITEM.Code
			LEFT JOIN OPCH WITH(NOLOCK)
				ON OPCH.DocEntry = FRETE.U_DocEntry 
			LEFT JOIN RIN1 WITH(NOLOCK)
				ON RIN1.BaseEntry = INV1.DocEntry
				AND RIN1.BaseLine = INV1.LineNum
				AND RIN1.BaseType = 13
		WHERE OINV.CANCELED = ''N'' AND OINV.DocTotal > 0 ' + '
		 AND INV1.Usage = 9 '
		+ @Where
	RETURN @Sql
END