USE [SBOAlessi_1503]
GO
/****** Object:  StoredProcedure [dbo].[scp_CVA_ResFiLiquidadosGrupo]    Script Date: 31/07/2019 15:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER proc [dbo].[scp_CVA_ResFiLiquidadosGrupo]
  @Grupo varchar(20)
 
as
 declare @dt varchar(30) = Getdate() -1

begin 
create table #tmp 
(
  operacao       varchar(100)   null
, objtype        varchar(72)    null
, metodo         varchar(200)   null
, parcela        int            null
, crentry        int            null
, Codigo         varchar(30)    null
, Parceiro       varchar(200)   null

, vencimento     smalldatetime  null
, liquidacao     smalldatetime  null
, valorparcela   decimal(19, 9) null
, valorpago      decimal(19, 9) null
, transacao      varchar(1000)   null
, jrnlmemo       varchar(max)   null
, transid        int            null
, boenum         int            null
, boemeth        varchar(200)   null
, notas          varchar(200)   null
, dias        int            null
)
insert into #tmp	
exec SpcCVAContasRecebidasPorCliente 
'*'
,'2000-01-01'
--,'2018-09-20'
,@dt
,'L'
--,'002'
,@grupo
,0

if ((select count(*) from #tmp) = 0)
begin
  select  0,0,0,0,0,0,0,0,0,0,0,0
end
else
begin

 select distinct (select count(*) from #tmp )  as qtdeAberto
      ,(select isnull( sum(valorpago),0) from #tmp ) ValorAberto

	  ,(select count(*) from  #tmp where metodo  <> 'Boleto' and metodo <> 'Cheque') as qtdeEmCarteira
      ,(select isnull(sum(valorpago),0)  from   #tmp where metodo like 'Trans%' ) as ValorCarteira

	  ,(select count(*) from #tmp where metodo like 'Bol%') as qtdeBoleto
      ,(select isnull(sum(valorpago),0) from #tmp where metodo like 'Bol%') ValorBoleto

	  ,(select count(*) from #tmp where metodo like '%Cheque%') as qtdeCheque
      ,(select isnull(sum(valorpago),0) from #tmp where metodo like '%Cheque%') ValorCheque
	  ,(		  
		  +(select count(*) from #tmp )		  
		) as qtdeTotal
	  ,(
		    (select isnull(sum(valorpago),0) from #tmp )
	
	   ) as ValorTotal
	  ,(select count(*) from #tmp where #tmp.liquidacao > #tmp.vencimento) as PgAtraso
	  ,(select isnull(SUM(valorpago),0) from #tmp where  #tmp.liquidacao > #tmp.vencimento) as VlPgAtraso
	  
  from #tmp
  end
 drop table #tmp

end
