@model CVA.Portal.Producao.Model.Qualidade.TipoEspecificacaoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_title">
                        <h2>Tipo Especificação</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <br />
                        <div class="form-group">
                            <label class="col-md-3 control-label">Descrição*</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Descricao, htmlAttributes: new { required = "required", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Tipo*</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.DropDownList("Tipo", null, htmlAttributes: new { required = "required", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary pull-right">Salvar <span class="fa fa-floppy-o fa-right"></span></button>
                            <a href='@Url.Action("Index")' data-toggle="tooltip" title="Voltar" class="btn btn-primary pull-right">
                                <span class="fa fa-arrow-left"></span> Voltar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}