<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CVA.View.Apetit.IntegracaoWMS.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CVA.View.Apetit.IntegracaoWMS.Console.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CVA.View.Apetit.IntegracaoWMS.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CVA.View.Apetit.IntegracaoWMS.Console.Console.Properties.Settings.ConnectioString"
      connectionString="Server=10.170.1.50:30015;UserName=SYSTEM;Password=CVA@inicio123"
      providerName="Sap.Data.Hana" />
    <add name="CVA.View.Apetit.IntegracaoWMS.Console.Properties.Settings.ConnectioString"
      connectionString="Server=10.170.1.50:30015;UserName=SYSTEM;Password=CVA@inicio123"
      providerName="Sap.Data.Hana" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <CVA.View.Apetit.IntegracaoWMS.Console.Properties.Settings>
      <setting name="Servidor" serializeAs="String">
        <value>10.170.1.50:30015</value>
      </setting>
      <setting name="UsuarioDB" serializeAs="String">
        <value>SYSTEM</value>
      </setting>
      <setting name="SenhaDB" serializeAs="String">
        <value>CVA@inicio123</value>
      </setting>
      <setting name="ServidorLicenca" serializeAs="String">
        <value>10.170.1.50</value>
      </setting>
      <setting name="ActivityType" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Subject" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="UsuarioSAP" serializeAs="String">
        <value>manager</value>
      </setting>
      <setting name="Base" serializeAs="String">
        <value>SBO_APETIT_PRODUCAO</value>
      </setting>
      <setting name="SenhaSAP" serializeAs="String">
        <value>B1admin@</value>
      </setting>
    </CVA.View.Apetit.IntegracaoWMS.Console.Properties.Settings>
    <CVA.View.Apetit.IntegracaoWMS.Console.Console.Properties.Settings>
      <setting name="Servidor" serializeAs="String">
        <value>10.170.1.50:30015</value>
      </setting>
      <setting name="UsuarioDB" serializeAs="String">
        <value>SYSTEM</value>
      </setting>
      <setting name="SenhaDB" serializeAs="String">
        <value>CVA@inicio123</value>
      </setting>
      <setting name="ServidorLicenca" serializeAs="String">
        <value>10.170.1.50</value>
      </setting>
      <setting name="ActivityType" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Subject" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="CriarUDF" serializeAs="String">
        <value>N</value>
      </setting>
      <setting name="UsuarioSAP" serializeAs="String">
        <value>manager</value>
      </setting>
      <setting name="IsSandbox" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LinkPegasus_Sand" serializeAs="String">
        <value>http://sandbox.webapi.vivensis.com.br:19000/pegasus_api/sap/v1/</value>
      </setting>
      <setting name="LinkPegasus_Prod" serializeAs="String">
        <value>http://webapi.vivensis.com.br:19000/pegasus_api/sap/v1</value>
      </setting>
      <setting name="LinkPegasus" serializeAs="String">
        <value>http://webapi.vivensis.com.br:19000/pegasus_api/sap/v1/</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>SAPB1</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>a1tjAUjxFSnWb6nq</value>
      </setting>
      <setting name="Base64" serializeAs="String">
        <value>U0FQQjE6YTF0akFVanhGU25XYjZucQ==</value>
      </setting>
      <setting name="ServidorTipo" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="Base" serializeAs="String">
        <value>VIVENSISPR</value>
      </setting>
      <setting name="SenhaSAP" serializeAs="String">
        <value>CVA@sap18</value>
      </setting>
    </CVA.View.Apetit.IntegracaoWMS.Console.Console.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CVA.View.Apetit.IntegracaoWMS.Console.Properties.Settings>
      <setting name="ServidorTipo" serializeAs="String">
        <value>9</value>
      </setting>
    </CVA.View.Apetit.IntegracaoWMS.Console.Properties.Settings>
  </userSettings>
</configuration>
