<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ShortCacheDuration" value="60"/>
    <add key="ServiceLayerURL" value="https://hanadb:50000/b1s/v1/"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
