<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Server - No Hana, incluir a porta (por padrão é a 30015)-->
    <add key="ServiceLayerURL" value="https://hanab1:50000/b1s/v1/" />
    <add key="Server" value="hanab1:30015" />
    <add key="Database" value="SBO_GOLIVE_0806" />
    <add key="B1User" value="marcel" />
    <add key="B1Password" value="Cva@2690" />
    <add key="DBUser" value="SYSTEM" />
    <add key="DBPassword" value="Cva@2690" />
  </appSettings>
</configuration>