ALTER proc [dbo].[SBO_SP_TransactionNotification] 

@object_type nvarchar(20), 				-- SBO Object Type
@transaction_type nchar(1),			-- [A]dd, [U]pdate, [D]elete, [C]ancel, C[L]ose
@num_of_cols_in_key int,
@list_of_key_cols_tab_del nvarchar(255),
@list_of_cols_val_tab_del nvarchar(255)

AS

begin

-- Return values
declare @error  int				-- Result (0 for no error)
declare @error_message nvarchar (200) 		-- Error string to be displayed
select @error = 0
select @error_message = N'Ok'

-- ATENÇÃO - Colocar antes da chamada da procedure do BEAS
IF @object_type = '17' AND @transaction_type IN ('C', 'L')
BEGIN
	IF EXISTS(SELECT TOP 1 1 FROM OWTQ WHERE U_CVA_Base_Type = 17 AND U_CVA_Base_DocEntry = @list_of_cols_val_tab_del AND OWTQ.DocStatus = 'O')
	BEGIN
		SET @error = 1;
		SET @error_message = 'Impossível fechar/cancelar, existe uma solicitação de transferência aberta para este documento'
	END

	IF EXISTS (SELECT TOP 1 1 FROM OWTR WHERE OWTR.U_CVA_Base_DocEntry = @list_of_cols_val_tab_del AND OWTR.U_CVA_Base_Type = 17)
	BEGIN
		IF NOT EXISTS (SELECT TOP 1 1 FROM OWTR WHERE OWTR.CANCELED = 'Y' AND OWTR.U_CVA_Base_DocEntry = @list_of_cols_val_tab_del AND OWTR.U_CVA_Base_Type = 17)
		AND NOT EXISTS
		(
			SELECT TOP 1 1 FROM OWTR
				INNER JOIN WTR1 ON WTR1.DocEntry = OWTR.DocEntry AND WTR1.BaseType = 1250000001
				INNER JOIN OWTR CANC ON CANC.U_CVA_Base_DocEntry = OWTR.U_CVA_Base_DocEntry AND CANC.U_CVA_Base_Type = OWTR.U_CVA_Base_Type AND CANC.CANCELED <> 'Y'
				INNER JOIN WTR1 CANC_ITEM ON CANC_ITEM.DocEntry = CANC.DocEntry AND CANC_ITEM.FromWhsCod = WTR1.WhsCode AND CANC_ITEM.ItemCode = WTR1.ItemCode AND CANC_ITEM.BaseType <> 1250000001
			WHERE OWTR.U_CVA_Base_DocEntry = @list_of_cols_val_tab_del AND OWTR.U_CVA_Base_Type = 17
			HAVING SUM(CANC_ITEM.Quantity) >= MIN(WTR1.Quantity)
		)
		BEGIN
			SET @error = 1;
			SET @error_message = 'Impossível fechar/cancelar, existe uma transferência efetuada para este documento'
		END
	END
END
IF @object_type = '14' AND @transaction_type = 'A'
BEGIN
	IF EXISTS
	(	SELECT TOP 1 1 FROM ORIN
				INNER JOIN RIN1 ON RIN1.DocEntry = ORIN.DocEntry
				INNER JOIN OWTQ ON OWTQ.U_CVA_Base_DocEntry = RIN1.BaseEntry AND OWTQ.U_CVA_Base_Type = RIN1.BaseType AND OWTQ.DocStatus = 'O'
			WHERE ORIN.CANCELED = 'C' AND ORIN.DocEntry = @list_of_cols_val_tab_del
	)
	BEGIN
		SET @error = 1;
		SET @error_message = 'Impossível cancelar, existe uma solicitação de transferência aberta para este documento'
	END

	IF EXISTS 
	(
		SELECT TOP 1 1 FROM ORIN 
			INNER JOIN RIN1 ON RIN1.DocEntry = ORIN.DocEntry
			INNER JOIN OWTR ON OWTR.U_CVA_Base_DocEntry = RIN1.BaseEntry AND OWTR.U_CVA_Base_Type = 14 
		WHERE ORIN.DocEntry = @list_of_cols_val_tab_del AND ORIN.CANCELED = 'C'
	)
	BEGIN
		IF NOT EXISTS 
		(
			SELECT TOP 1 1 FROM ORIN
				INNER JOIN RIN1 ON RIN1.DocEntry = ORIN.DocEntry
				INNER JOIN OWTR ON OWTR.U_CVA_Base_DocEntry = RIN1.BaseEntry AND OWTR.U_CVA_Base_Type = 14 AND OWTR.CANCELED = 'Y'
			WHERE ORIN.DocEntry = @list_of_cols_val_tab_del AND ORIN.CANCELED = 'C'
		)
		AND NOT EXISTS
		(
			SELECT TOP 1 1 FROM ORIN
				INNER JOIN RIN1 ON RIN1.DocEntry = ORIN.DocEntry
				INNER JOIN OWTR ON OWTR.U_CVA_Base_DocEntry = RIN1.BaseEntry AND OWTR.U_CVA_Base_Type = 14
				INNER JOIN WTR1 ON WTR1.DocEntry = OWTR.DocEntry AND WTR1.BaseType = 1250000001
				INNER JOIN OWTR CANC ON CANC.U_CVA_Base_DocEntry = OWTR.U_CVA_Base_DocEntry AND CANC.U_CVA_Base_Type = OWTR.U_CVA_Base_Type AND CANC.CANCELED <> 'Y'
				INNER JOIN WTR1 CANC_ITEM ON CANC_ITEM.DocEntry = CANC.DocEntry AND CANC_ITEM.FromWhsCod = WTR1.WhsCode AND CANC_ITEM.ItemCode = WTR1.ItemCode AND CANC_ITEM.BaseType <> 1250000001
			WHERE ORIN.DocEntry = @list_of_cols_val_tab_del AND ORIN.CANCELED = 'C'
			HAVING SUM(CANC_ITEM.Quantity) >= MIN(WTR1.Quantity)
		)
		BEGIN
			SET @error = 1;
			SET @error_message = 'Impossível cancelar, existe uma transferência efetuada para este documento'
		END
	END
END

IF @object_type = '22' AND @transaction_type IN ('A', 'U')
BEGIN
	DECLARE @VisOrder INT
	
	SELECT @VisOrder = VisOrder + 1 FROM POR1 WHERE ISNULL(Usage, 0) = 0 AND DocEntry = @list_of_cols_val_tab_del

	IF @VisOrder > 0
	BEGIN
		SET @error = 1;
		SET @error_message = 'Linha (' + CAST(@VisOrder AS VARCHAR(10)) + ') - Informar utilização!'
	END
END

-- Select the return values
select @error, @error_message

end

