<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="WaitSeconds" value="10" />
    <add key="Folder" value="c:\CVA Consultoria\Importação\NF" />
    <add key="ExcelConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 Xml;HDR=YES';"/>
    <add key="InvoiceSheet" value="RV003_RECEITA_FIXA"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PortalEDM" connectionString="metadata=res://*/MODEL.PortalEDM.csdl|res://*/MODEL.PortalEDM.ssdl|res://*/MODEL.PortalEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FELIPE-PC;initial catalog=CVA_ATL_PORTAL;persist security info=True;user id=sa;password=sa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConciliatorEDM" connectionString="metadata=res://*/MODEL.ConciliatorEDM.csdl|res://*/MODEL.ConciliatorEDM.ssdl|res://*/MODEL.ConciliatorEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FELIPE-PC;initial catalog=CVA_ATL_CON;user id=sa;password=sa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReplicatorEDM" connectionString="metadata=res://*/MODEL.Model1.csdl|res://*/MODEL.Model1.ssdl|res://*/MODEL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FELIPE-PC;initial catalog=CVA_ATL_REP;user id=sa;password=sa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>