USE [SBOAlessi]
GO
/****** Object:  StoredProcedure [dbo].[spc_CVA_Comissao_Faturamento]    Script Date: 10/06/2020 11:50:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[spc_CVA_Comissao_Faturamento](@DataInicial datetime, @DataFinal datetime)  
as  
begin  
 set dateformat 'ymd';  
 set nocount on;  
  
 INSERT INTO #tbl_docs_faturamento  
 SELECT DISTINCT  
  'F' AS Momento  
  , T0.DocEntry AS DocEntry  
  , T0.DocDate AS DocDate  
  , T0.Serial AS Serial  
  , T0.DocTotal AS DocTotal  
  , T0.ObjType AS ObjType  
  , T1.ItemCode AS ItemCode  
  , T1.LineNum AS LineNum  
  , T1.Quantity AS Quantity  
  , OA_TOTAL.LineTotal AS LineTotal  
  , T2.InstlmntID  
  , T2.InsTotal  
  , T2.DueDate  
  , T4.ItemName AS ItemName  
  , T5.ItmsGrpCod AS ItmsGrpCod  
  , T5.ItmsGrpNam AS ItmsGrpNam  
  , T0.CardCode AS CardCode  
  , T0.CardName AS CardName  
  , ISNULL(T8.PrcCode, T9.PrcCode) AS PrcCode  
  , ISNULL(T8.PrcName, T9.PrcName) AS PrcName  
  , T6.SlpCode AS SlpCode  
  , T6.SlpName AS SlpName  
  , ISNULL(T6.U_CVA_IMPADC, 'N') AS U_CVA_IMPADIC  
  , ISNULL(T6.U_CVA_IMPINCL, 'N') AS U_CVA_IMPINCL  
  , T10.FirmCode AS FirmCode  
  , T10.FirmName AS FirmName  
  , T11.IndCode AS IndCode  
  , T11.IndName AS IndName  
  , T11.IndDesc AS IndDesc  
  , T13.AbsId AS AbsId  
  , T13.Name AS Name  
  , T13.[State] AS [State]  
  , NULL AS TaxDate  
  , NULL AS SumApplied  
  , NULL AS Tot_Invoices  
  , T1.VatSum AS TaxSum_IMPADIC_Linha  
  , OA_IMP.TaxSum AS TaxSum_IMPINCL_Linha  
  , T0.VatSum AS TaxSum_IMPADIC_Parcela  
  , OA_IMP2.TaxSum AS TaxSum_IMPINCL_Parcela  
  , T0.Installmnt AS Tot_Parcelas  
  , OA_MAX.TotItem AS Tot_Itens  
  , NULL AS DocStatus  
  , T3.GroupCode AS GroupCode  
  , OA_MAX.TotalItens AS TotalItens  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'Y' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'N' THEN (OA_TOTAL.LineTotal - OA_IMP.TaxSum)+T1.VatSum ELSE 0 END AS LineTotal_Min_IMPINCL  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'N' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'Y' THEN OA_TOTAL.LineTotal ELSE 0 END AS LineTotal_Min_IMPADIC  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'N' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'N' THEN OA_TOTAL.LineTotal - OA_IMP.TaxSum ELSE 0 END AS LineTotal_Min_IMPINCL_Min_IMPADIC  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'Y' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'Y' THEN OA_TOTAL.LineTotal + T1.VatSum ELSE 0 END AS LineTotal_Min_IMPINCL_Min_IMPADIC  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'Y' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'N' THEN (OA_MAX.TotalItens - OA_IMP2.TaxSum)+T0.VatSum ELSE 0 END AS InsTotal_Min_IMPINCL  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'N' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'Y' THEN OA_MAX.TotalItens ELSE 0 END AS InsTotal_Min_IMPADIC  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'N' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'N' THEN OA_MAX.TotalItens - OA_IMP2.TaxSum ELSE 0 END AS InsTotal_Min_IMPINCL_Min_IMPADIC  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'Y' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'Y' THEN OA_MAX.TotalItens + T0.VatSum ELSE 0 END AS InsTotal_Min_IMPINCL_Min_IMPADIC  
  , T0.DocEntry  
  ,0 as DocEntry
 FROM OINV T0 WITH(NOLOCK)  
  INNER JOIN INV1 T1 WITH(NOLOCK) ON T0.DocEntry = T1.DocEntry AND T1.TargetType <> N'14' AND ISNULL(T1.FreeChrgBP, 'N') = 'N'  
  INNER JOIN INV6 T2 WITH(NOLOCK) ON T0.DocEntry = T2.DocEntry AND T2.InsTotal <> 0  
  INNER JOIN OCRD T3 WITH(NOLOCK) ON T0.CardCode = T3.CardCode  
  INNER JOIN OITM T4 WITH(NOLOCK) ON T1.ItemCode = T4.ItemCode  
  INNER JOIN OITB T5 WITH(NOLOCK) ON T4.ItmsGrpCod = T5.ItmsGrpCod  
  INNER JOIN OSLP T6 WITH(NOLOCK) ON T0.SlpCode = T6.SlpCode  
 -- LEFT  JOIN OSLP T7 WITH(NOLOCK) ON T3.SlpCode = T7.SlpCode  
  LEFT  JOIN OPRC T8 WITH(NOLOCK) ON T1.OcrCode2 = T8.PrcCode  
  LEFT  JOIN OPRC T9 WITH(NOLOCK) ON T1.OcrCode = T9.PrcCode  
  LEFT  JOIN OMRC T10 WITH(NOLOCK) ON T4.FirmCode = T10.FirmCode  
  LEFT  JOIN OOND T11 WITH(NOLOCK) ON T3.IndustryC = T11.IndCode  
  LEFT  JOIN INV12 T12 WITH(NOLOCK) ON T0.DocEntry = T12.DocEntry  
  LEFT  JOIN OCNT T13 WITH(NOLOCK) ON T12.CountyB = T13.AbsId  
 OUTER APPLY (  
  SELECT TotItem = COUNT(INV1.LineNum), TotalItens = SUM(INV1.LineTotal)   
  FROM INV1 WITH(NOLOCK) WHERE INV1.DocEntry = T0.DocEntry AND INV1.TargetType <> N'14' AND ISNULL(INV1.FreeChrgBP, 'N') = 'N'  
 ) AS OA_MAX  
 OUTER APPLY (  
  SELECT TaxSum = ISNULL(SUM(DISTINCT INV4.TaxSum), 0)  
  FROM INV4 WITH(NOLOCK)  
   INNER JOIN OSTA WITH(NOLOCK) ON INV4.StaCode = OSTA.Code  
   INNER JOIN OSTT WITH(NOLOCK) ON OSTA.[Type] = OSTT.AbsId  
   INNER JOIN ONFT WITH(NOLOCK) ON OSTT.NfTaxId = ONFT.AbsId  
  WHERE INV4.TaxInPrice = 'Y' AND INV4.DocEntry = T2.DocEntry ANd INV4.LineNum = T1.LineNum  
 ) AS OA_IMP  
 OUTER APPLY (  
  SELECT TaxSum = ISNULL(SUM(DISTINCT INV4.TaxSum), 0)  
  FROM INV4 WITH(NOLOCK)  
   INNER JOIN OSTA WITH(NOLOCK) ON INV4.StaCode = OSTA.Code  
   INNER JOIN OSTT WITH(NOLOCK) ON OSTA.[Type] = OSTT.AbsId  
   INNER JOIN ONFT WITH(NOLOCK) ON OSTT.NfTaxId = ONFT.AbsId  
  WHERE INV4.TaxInPrice = 'Y' AND INV4.DocEntry = T2.DocEntry  
 ) AS OA_IMP2  
 OUTER APPLY (  
  SELECT LineTotal =   
   CASE WHEN T0.DpmAmnt <> 0 THEN   
    CASE WHEN OA_MAX.TotItem = 1 THEN T1.VatSum - (T0.DpmAmnt - T1.LineTotal) ELSE T1.LineTotal END  
   ELSE T1.LineTotal END  
 ) AS OA_TOTAL  
 WHERE T0.CANCELED = 'N'  
 AND T0.DocDate BETWEEN @DataInicial AND @DataFinal  
 --AND t0.Serial = 72889  
  
 INSERT INTO #tbl_docs_faturamento  
 SELECT DISTINCT  
  'F' AS Momento  
  , T0.DocEntry AS DocEntry  
  , T0.DocDate AS DocDate  
  , ISNULL(T0.Serial, T0.DocEntry) AS Serial  
  , T0.DocTotal AS DocTotal  
  , T0.ObjType AS ObjType  
  , T16.ItemCode AS ItemCode  
  , T16.LineNum AS LineNum  
  , T16.Quantity AS Quantity  
  , (T14.DrawnSum * T16.LineTotal)/OA_MAX.TotalItens AS LineTotal  
  , T2.InstlmntID  
  , T2.InsTotal  
  , T2.DueDate  
  , T4.ItemName AS ItemName  
  , T5.ItmsGrpCod AS ItmsGrpCod  
  , T5.ItmsGrpNam AS ItmsGrpNam  
  , T0.CardCode AS CardCode  
  , T0.CardName AS CardName  
  , ISNULL(T8.PrcCode, T9.PrcCode) AS PrcCode  
  , ISNULL(T8.PrcName, T9.PrcName) AS PrcName  
  , T6.SlpCode AS SlpCode  
  , T6.SlpName AS SlpName  
  , ISNULL(T6.U_CVA_IMPADC, 'N') AS U_CVA_IMPADIC  
  , ISNULL(T6.U_CVA_IMPINCL, 'N') AS U_CVA_IMPINCL  
  , T10.FirmCode AS FirmCode  
  , T10.FirmName AS FirmName  
  , T11.IndCode AS IndCode  
  , T11.IndName AS IndName  
  , T11.IndDesc AS IndDesc  
  , T13.AbsId AS AbsId  
  , T13.Name AS Name  
  , T13.[State] AS [State]  
  , NULL AS TaxDate  
  , NULL AS SumApplied  
  , NULL AS Tot_Invoices  
  , T1.VatSum AS TaxSum_IMPADIC_Linha  
  , OA_IMP.TaxSum AS TaxSum_IMPINCL_Linha  
  , T0.VatSum AS TaxSum_IMPADIC_Parcela  
  , OA_IMP2.TaxSum AS TaxSum_IMPINCL_Parcela  
  , T0.Installmnt AS Tot_Parcelas  
  , OA_MAX.TotItem AS Tot_Itens  
  , NULL AS DocStatus  
  , T3.GroupCode AS GroupCode  
  , OA_MAX.TotalItens AS TotalItens  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'Y' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'N' THEN (((T14.DrawnSum * T16.LineTotal)/OA_MAX.TotalItens) - OA_IMP.TaxSum) + T1.VatSum ELSE 0 END AS LineTotal_Min_IMPINCL  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'N' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'Y' THEN T16.LineTotal ELSE 0 END AS LineTotal_Min_IMPADIC  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'N' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'N' THEN ((T14.DrawnSum * T16.LineTotal)/OA_MAX.TotalItens) - OA_IMP.TaxSum ELSE 0 END AS LineTotal_Min_IMPINCL_Min_IMPADIC  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'Y' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'Y' THEN ((T14.DrawnSum * T16.LineTotal)/OA_MAX.TotalItens) + T1.VatSum ELSE 0 END AS LineTotal_Min_IMPINCL_Min_IMPADIC  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'Y' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'N' THEN (OA_MAX.TotalItens - OA_IMP2.TaxSum) + T0.VatSum ELSE 0 END AS InsTotal_Min_IMPINCL  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'N' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'Y' THEN OA_MAX.TotalItens ELSE 0 END AS InsTotal_Min_IMPADIC  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'N' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'N' THEN OA_MAX.TotalItens - OA_IMP2.TaxSum ELSE 0 END AS InsTotal_Min_IMPINCL_Min_IMPADIC  
  , CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'Y' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'Y' THEN OA_MAX.TotalItens + T0.VatSum ELSE 0 END AS InsTotal_Min_IMPINCL_Min_IMPADIC  
  , T0.DocEntry  
  ,0 as DocEntry
 FROM ODPI T0 WITH(NOLOCK)  
  INNER JOIN DPI1 T1 WITH(NOLOCK) ON T0.DocEntry = T1.DocEntry AND T1.TargetType <> N'14'  
  INNER JOIN DPI6 T2 WITH(NOLOCK) ON T0.DocEntry = T2.DocEntry AND T2.InsTotal <> 0  
  INNER JOIN OCRD T3 WITH(NOLOCK) ON T0.CardCode = T3.CardCode   
  INNER JOIN INV9 T14 WITH(NOLOCK) ON T0.DocEntry = T14.BaseAbs AND T0.ObjType = T14.ObjType  
  INNER JOIN OINV T15 WITH(NOLOCK) ON T14.DocEntry = T15.DocEntry  
  INNER JOIN INV1 T16 WITH(NOLOCK) ON T15.DocEntry = T16.DocEntry  
  INNER JOIN OITM T4 WITH(NOLOCK) ON T16.ItemCode = T4.ItemCode  
  INNER JOIN OITB T5 WITH(NOLOCK) ON T4.ItmsGrpCod = T5.ItmsGrpCod  
  LEFT  JOIN OSLP T6 WITH(NOLOCK) ON T15.SlpCode = T6.SlpCode  
 -- LEFT  JOIN OSLP T7 WITH(NOLOCK) ON T3.SlpCode = T7.SlpCode  
  LEFT  JOIN OPRC T8 WITH(NOLOCK) ON T16.OcrCode2 = T8.PrcCode  
  LEFT  JOIN OPRC T9 WITH(NOLOCK) ON T16.OcrCode = T9.PrcCode  
  LEFT  JOIN OMRC T10 WITH(NOLOCK) ON T4.FirmCode = T10.FirmCode  
  LEFT  JOIN OOND T11 WITH(NOLOCK) ON T3.IndustryC = T11.IndCode  
  LEFT  JOIN INV12 T12 WITH(NOLOCK) ON T15.DocEntry = T12.DocEntry  
  LEFT  JOIN OCNT T13 WITH(NOLOCK) ON T12.CountyB = T13.AbsId  
 OUTER APPLY (  
  SELECT TotItem = COUNT(INV1.LineNum), TotalItens = SUM(INV1.LineTotal)   
  FROM INV1 WITH(NOLOCK) WHERE INV1.DocEntry = T16.DocEntry  
 ) AS OA_MAX  
 OUTER APPLY (  
  SELECT TaxSum = ISNULL(SUM(DISTINCT INV4.TaxSum), 0)  
  FROM INV4 WITH(NOLOCK)  
   INNER JOIN OSTA WITH(NOLOCK) ON INV4.StaCode = OSTA.Code  
   INNER JOIN OSTT WITH(NOLOCK) ON OSTA.[Type] = OSTT.AbsId  
   INNER JOIN ONFT WITH(NOLOCK) ON OSTT.NfTaxId = ONFT.AbsId  
  WHERE INV4.TaxInPrice = 'Y' AND INV4.DocEntry = T15.DocEntry ANd INV4.LineNum = T16.LineNum  
 ) AS OA_IMP  
 OUTER APPLY (  
  SELECT TaxSum = ISNULL(SUM(DISTINCT INV4.TaxSum), 0)  
  FROM INV4 WITH(NOLOCK)  
   INNER JOIN OSTA WITH(NOLOCK) ON INV4.StaCode = OSTA.Code  
   INNER JOIN OSTT WITH(NOLOCK) ON OSTA.[Type] = OSTT.AbsId  
   INNER JOIN ONFT WITH(NOLOCK) ON OSTT.NfTaxId = ONFT.AbsId  
  WHERE INV4.TaxInPrice = 'Y' AND INV4.DocEntry = T15.DocEntry  
 ) AS OA_IMP2  
 WHERE T0.CANCELED = 'N'  And T15.CANCELED = 'N'
 AND T0.DocDate BETWEEN @DataInicial AND @DataFinal  
  
 INSERT INTO #tbl_docs_faturamento  
 SELECT DISTINCT  
  'F' AS Momento  
  , T0.DocEntry AS DocEntry  
  , T0.DocDate AS DocDate  
  , ISNULL(T0.Serial, T0.DocEntry) AS Serial  
  , T0.DocTotal AS DocTotal  
  , T0.ObjType AS ObjType  
  , T1.ItemCode AS ItemCode  
  , T1.LineNum AS LineNum  
  , T1.Quantity AS Quantity  
  , T1.LineTotal AS LineTotal  
  , T2.InstlmntID  
  , T2.InsTotal  
  , T2.DueDate  
  , T4.ItemName AS ItemName  
  , T5.ItmsGrpCod AS ItmsGrpCod  
  , T5.ItmsGrpNam AS ItmsGrpNam  
  , T0.CardCode AS CardCode  
  , T0.CardName AS CardName  
  , ISNULL(T8.PrcCode, T9.PrcCode) AS PrcCode  
  , ISNULL(T8.PrcName, T9.PrcName) AS PrcName  
  , T6.SlpCode AS SlpCode  
  , T6.SlpName AS SlpName  
  , ISNULL(T6.U_CVA_IMPADC, 'N') AS U_CVA_IMPADIC  
  , ISNULL(T6.U_CVA_IMPINCL, 'N') AS U_CVA_IMPINCL  
  , T10.FirmCode AS FirmCode  
  , T10.FirmName AS FirmName  
  , T11.IndCode AS IndCode  
  , T11.IndName AS IndName  
  , T11.IndDesc AS IndDesc  
  , T13.AbsId AS AbsId  
  , T13.Name AS Name  
  , T13.[State] AS [State]  
  , NULL AS TaxDate  
  , NULL AS SumApplied  
  , NULL AS Tot_Invoices  
  , T1.VatSum AS TaxSum_IMPADIC_Linha  
  , OA_IMP.TaxSum AS TaxSum_IMPINCL_Linha  
  , T0.VatSum AS TaxSum_IMPADIC_Parcela  
  , OA_IMP2.TaxSum AS TaxSum_IMPINCL_Parcela  
  , T0.Installmnt AS Tot_Parcelas  
  , OA_MAX.TotItem AS Tot_Itens  
  , NULL AS DocStatus  
  , T3.GroupCode AS GroupCode  
  , OA_MAX.TotalItens AS TotalItens  
  , -CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'Y' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'N' THEN (T1.LineTotal - OA_IMP.TaxSum) + T1.VatSum ELSE 0 END AS LineTotal_Min_IMPINCL  
  , -CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'N' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'Y' THEN T1.LineTotal ELSE 0 END AS LineTotal_Min_IMPADIC  
  , -CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'N' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'N' THEN T1.LineTotal - OA_IMP.TaxSum ELSE 0 END AS LineTotal_Min_IMPINCL_Min_IMPADIC  
  , -CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'Y' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'Y' THEN T1.LineTotal + T1.VatSum ELSE 0 END AS LineTotal_Min_IMPINCL_Min_IMPADIC  
  , -CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'Y' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'N' THEN (OA_MAX.TotalItens - OA_IMP2.TaxSum) + T0.VatSum ELSE 0 END AS InsTotal_Min_IMPINCL  
  , -CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'N' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'Y' THEN OA_MAX.TotalItens ELSE 0 END AS InsTotal_Min_IMPADIC  
  , -CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'N' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'N' THEN OA_MAX.TotalItens - OA_IMP2.TaxSum ELSE 0 END AS InsTotal_Min_IMPINCL_Min_IMPADIC  
  , -CASE WHEN ISNULL(T6.U_CVA_IMPADC, 'N') = 'Y' AND ISNULL(T6.U_CVA_IMPINCL, 'N') = 'Y' THEN OA_MAX.TotalItens + T0.VatSum ELSE 0 END AS InsTotal_Min_IMPINCL_Min_IMPADIC  
  , T0.DocEntry  
  ,0 as DocEntry
 FROM ORIN T0 WITH(NOLOCK)  
  INNER JOIN RIN1 T1 WITH(NOLOCK) ON T0.DocEntry = T1.DocEntry AND T1.BaseType = N'-1' AND ISNULL(T1.FreeChrgBP, 'N') = 'N'  
  INNER JOIN RIN6 T2 WITH(NOLOCK) ON T0.DocEntry = T2.DocEntry AND T2.InsTotal <> 0  
  INNER JOIN OCRD T3 WITH(NOLOCK) ON T0.CardCode = T3.CardCode  
  INNER JOIN OITM T4 WITH(NOLOCK) ON T1.ItemCode = T4.ItemCode  
  INNER JOIN OITB T5 WITH(NOLOCK) ON T4.ItmsGrpCod = T5.ItmsGrpCod  
  INNER JOIN OSLP T6 WITH(NOLOCK) ON T0.SlpCode = T6.SlpCode  
 -- LEFT  JOIN OSLP T7 WITH(NOLOCK) ON T3.SlpCode = T7.SlpCode  
  LEFT  JOIN OPRC T8 WITH(NOLOCK) ON T1.OcrCode2 = T8.PrcCode  
  LEFT  JOIN OPRC T9 WITH(NOLOCK) ON T1.OcrCode = T9.PrcCode  
  LEFT  JOIN OMRC T10 WITH(NOLOCK) ON T4.FirmCode = T10.FirmCode  
  LEFT  JOIN OOND T11 WITH(NOLOCK) ON T3.IndustryC = T11.IndCode  
  LEFT  JOIN RIN12 T12 WITH(NOLOCK) ON T0.DocEntry = T12.DocEntry  
  LEFT  JOIN OCNT T13 WITH(NOLOCK) ON T12.CountyB = T13.AbsId  
 OUTER APPLY (  
  SELECT TotItem = COUNT(RIN1.LineNum), TotalItens = SUM(RIN1.LineTotal)   
  FROM RIN1 WITH(NOLOCK) WHERE RIN1.DocEntry = T0.DocEntry AND RIN1.TargetType <> N'14' AND ISNULL(RIN1.FreeChrgBP, 'N') = 'N'  
 ) AS OA_MAX  
 OUTER APPLY (  
  SELECT TaxSum = ISNULL(SUM(DISTINCT RIN4.TaxSum), 0)  
  FROM RIN4 WITH(NOLOCK)  
   INNER JOIN OSTA WITH(NOLOCK) ON RIN4.StaCode = OSTA.Code  
   INNER JOIN OSTT WITH(NOLOCK) ON OSTA.[Type] = OSTT.AbsId  
   INNER JOIN ONFT WITH(NOLOCK) ON OSTT.NfTaxId = ONFT.AbsId  
  WHERE RIN4.TaxInPrice = 'Y' AND RIN4.DocEntry = T2.DocEntry ANd RIN4.LineNum = T1.LineNum  
 ) AS OA_IMP  
 OUTER APPLY (  
  SELECT TaxSum = ISNULL(SUM(DISTINCT RIN4.TaxSum), 0)  
  FROM RIN4 WITH(NOLOCK)  
   INNER JOIN OSTA WITH(NOLOCK) ON RIN4.StaCode = OSTA.Code  
   INNER JOIN OSTT WITH(NOLOCK) ON OSTA.[Type] = OSTT.AbsId  
   INNER JOIN ONFT WITH(NOLOCK) ON OSTT.NfTaxId = ONFT.AbsId  
  WHERE RIN4.TaxInPrice = 'Y' AND RIN4.DocEntry = T2.DocEntry  
 ) AS OA_IMP2  
 WHERE T0.CANCELED = 'N'  
 AND T0.DocDate BETWEEN @DataInicial AND @DataFinal  
end  