/****** Object:  StoredProcedure [dbo].[spc_CVA_Balancete]    Script Date: 22/06/2017 17:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- exec [spc_CVA_Balancete] 'N'  
CREATE procedure [dbo].[spc_CVA_Balancete]  
  @caixa char(1) = 'N'  
--with encryption
as
    select OACT.AcctCode  + ' ' + upper(OACT.AcctName) 'AcctName'  
         , oact.CurrTotal as 'Saldo'  
      from OACT   
     where ( OACT.FINANSE = 'Y' )

GO
/****** Object:  StoredProcedure [dbo].[spc_CVA_ContasAPagarPorVencimento]    Script Date: 22/06/2017 17:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spc_CVA_ContasAPagarPorVencimento] (
	@CarCode nvarchar(15),
	@dateini date,
	@datefim date,
	@tpdata  varchar(2),
	@provisoes char(1)
)
--with encryption
as 
begin

if @CarCode='*' begin
	set @CarCode=null
end

--select SUM(saldo) from (
select 
	tb.ShortName
	,tb.CardName
	,tb.Lancamento
	,tb.Vencimento
	,tb.Origem
	,tb.OrigemNr
	,tb.Parcela
	,tb.ParcelaTotal
	,tb.Serial
	,tb.LineMemo
	,tb.Debit
	,tb.Credit
	,tb.Saldo
	,tb.DueDate

	,case 
			when Origem='18'  then  OPCH.PeyMethod
			when Origem='204'  then  ODPO.PeyMethod	  
			when Origem='19' then  ORPC.PeyMethod
			--else 'N/A'
	end 'PeyMethodNF' 
 from (
			SELECT 	
				T0.[ShortName],
				--ocrd.CardFName,
				ocrd.CardName,
				T0.[RefDate] as Lancamento, 
				T0.[DueDate] as Vencimento,
				T0.[TransType] as Origem,
				T0.[CreatedBy] as OrigemNr,
				T0.[SourceLine] as Parcela,
				OPCH.Installmnt as ParcelaTotal,
				OPCH.Serial,
				T0.[LineMemo],
				T0.[Debit], T0.[Credit],
				(T0.[Debit] - T0.[Credit])*-1 as Saldo
				,T0.DueDate
			FROM  
				[dbo].[JDT1] T0   LEFT OUTER  JOIN [dbo].[OUSR] T1  ON  T0.[UserSign] = T1.[USERID]    
				LEFT OUTER  JOIN (
						SELECT 
							T0.[TransId] AS 'TransId', T0.[TransRowId] AS 'TransRowId', MAX(T0.[ReconNum]) AS 'MaxReconNum' 
						FROM  
							[dbo].[ITR1] T0  
						GROUP BY 
							T0.[TransId], T0.[TransRowId]
				) T2  ON  T0.[TransId] = T2.[TransId]  AND  T0.[Line_ID] = T2.[TransRowId]   
				inner join ocrd on ocrd.CardCode=T0.[ShortName] and ocrd.CardType='S'
				left join OPCH on opch.docentry=T0.[CreatedBy] and T0.[TransType]='18'
	
	
			WHERE 
				(
				(
					((T0.[DueDate] >= (@dateini) and T0.[DueDate] <=(@datefim))  and @tpData='V')
					and (
						((/*T0.[RefDate] >= (@dateIni) and */T0.[RefDate] <= ((CAST(CAST(GETDATE() AS DATE) AS DATETIME))   )) and @tpData='V' )
					)
				)

				or
				((T0.[RefDate] >= (@dateIni) and T0.[RefDate] <= (@datefim)) and @tpData='LC' )

				)

				AND T0.[ShortName] = ISNULL(@CarCode,T0.[ShortName])

				AND  (T0.[BalDueDeb] <> 0  OR  T0.[BalDueCred] <> 0 OR  T0.[BalFcDeb] <> 0  OR  T0.[BalFcCred] <> 0 ) 
	
	
				--AND  (T0.[RefDate] >= @LancamentoIni  AND  T0.[RefDate] <= @LancamentoFim)
				--and (T0.[DueDate] >=@VencimentoIni and T0.[DueDate] <=@VencimentoFim )	
) as tb	
	left join OPCH on OPCH.DocEntry=OrigemNr and Origem='18'
	left join ODPO on ODPO.DocEntry=OrigemNr and Origem='204'
	left join ORPC on ODPO.DocEntry=OrigemNr and Origem='19'
union all
SELECT DISTINCT
	T0.ShortName,
	T0.CardName,
	T0.Lancamento,
	T0.Vencimento,
	T0.Origem,
	T0.OrigemNr,
	T0.Parcela,
	T0.ParcelaTotal,
	T0.Serial,
	T0.LineMemo,
	T0.Debit,
	T0.Credit,
	T0.Saldo,
	T0.DueDate,
	T0.PeyMethodNF
FROM [dbo].[fnc_CVA_ProvisoesFluxoCaixa](@dateini, @datefim, @tpdata) T0
WHERE (
		(
			((T0.Lancamento >= @dateini and T0.Lancamento <= @datefim) and @tpdata = 'LC')
		) 
		or
		(
			((T0.Vencimento >= @dateini and T0.Vencimento <= @datefim) and @tpdata = 'V')
		)
	)
	and T0.ShortName = ISNULL(@CarCode, T0.ShortName)
	and @provisoes = 'Y'
ORDER BY 
	ShortName,DueDate asc
END

GO
/****** Object:  StoredProcedure [dbo].[spc_CVA_ContasAReceberPorVencimento]    Script Date: 22/06/2017 17:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [spc_CVA_ContasAReceberPorVencimento] '*', '2010-01-01', '2017-12-31', 'V', '*'
CREATE PROC [dbo].[spc_CVA_ContasAReceberPorVencimento] (
	@CardCode varchar(15),
	@dateini date,
	@datefim date,
	@tpData varchar(2)
	,@BankCode	nvarchar(60)
	--@TpPagamento varchar (100)


--@RefDateIni date, --'V'
--@RefDateFim date,

--@DueDateIni date,'LC'
--@DueDateFim date




)
--with encryption
as 

Begin

if rtrim(ltrim(isnull(@CardCode, ''))) in ('', '*', '*Todos')
set @CardCode = null 

Create table #NF_Fiscal( 
     [TransId]      int
	,[Line_ID]		int
	,[Account]      nvarchar(300)
	,[ShortName]    nvarchar(300)
	,[TransType]    nvarchar(400)
	,[CreatedBy]    int
	,[BaseRef]      nvarchar(220)
	,[SourceLine]   smallint
	,[RefDate]      datetime
	,[DueDate]      datetime
	,[BalDueCred]	numeric (16, 9) 
	,[BalDueDeb]	numeric (16, 9) 
	,[BalDueCred_BalDueDeb] numeric (16, 9) 
    ,[Saldo]		numeric (16, 9) 
	,[LineMemo]	    nvarchar(1000)
	,[CardName]	    nvarchar(300)
	,[CardCode]	    nvarchar(300)
	,[Balance]	    numeric (19, 6)
	,[SlpCode]	    int
	,[DebitMAthCredit]numeric (19, 6) 
	,[IsSales]		nvarchar(20)
	,[Currency]		nvarchar(60)
	,[BPLName]	    nvarchar(200)
	)

insert into #NF_Fiscal

SELECT 
	T0.[TransId], 
	T0.[Line_ID], 
	MAX(T0.[Account]) as 'Account' ,
	MAX(T0.[ShortName])  as 'ShortName', 
	MAX(T0.[TransType]) as 'TransType', 
	MAX(T0.[CreatedBy]) as 'CreatedBy',
	MAX(T0.[BaseRef]) as 'BaseRef',
	MAX(T0.[SourceLine]) as 'SourceLine', 
	CASE WHEN @tpData = 'V' THEN MAX(OA_REF.RefDate) ELSE MAX(T0.[RefDate]) END as 'RefDate', 
	CASE WHEN @tpData = 'V' THEN MAX(OA_REF.DueDate) ELSE MAX(T0.[DueDate]) END as 'DueDate', 
	
    MAX(T0.[BalDueCred]) AS'BalDueCred',
    SUM(T1.[ReconSum]) AS 'BalDueDeb',
    MAX(T0.[BalDueCred]) + SUM(T1.[ReconSum]) AS 'BalDueCred - BalDueDeb',
    ( MAX(T0.[BalDueCred]) + SUM(T1.[ReconSum]) ) * (-1) AS 'Saldo',    


	--MAX(T0.[BalDueCred]) + SUM(T1.[ReconSum]), 
	--MAX(T0.[BalFcCred]) + SUM(T1.[ReconSumFC]), 
	--MAX(T0.[BalScCred]) + SUM(T1.[ReconSumSC]), 
	MAX(T0.[LineMemo])as 'LineMemo', 
	MAX(T4.[CardName]) as 'CardName', 
	MAX(T5.[CardCode])as 'CardCode', 

	MAX(T4.[Balance])as 'Balance', 
	MAX(T5.[SlpCode])as 'SlpCode', 

	MAX(T0.[Debit]) + MAX(T0.[Credit]) as 'Debit + Credit', 
	MAX(T5.[IsSales]) as 'IsSales', 
	MAX(T4.[Currency]) as 'Currency', 
	T0.[BPLName] as 'BPLName'
	
FROM  
	[dbo].[JDT1] T0  
	INNER  JOIN [dbo].[ITR1] T1  ON  T1.[TransId] = T0.[TransId]  
		AND  T1.[TransRowId] = T0.[Line_ID]   
	INNER  JOIN [dbo].[OITR] T2  ON  T2.[ReconNum] = T1.[ReconNum]   
	INNER  JOIN [dbo].[OJDT] T3  ON  T3.[TransId] = T0.[TransId]   
	INNER  JOIN [dbo].[OCRD] T4  ON  T4.[CardCode] = T0.[ShortName]    
	LEFT OUTER  JOIN [dbo].[B1_JournalTransSourceView] T5  ON  T5.[ObjType] = T0.[TransType]  
		AND  T5.[DocEntry] = T0.[CreatedBy]  
		AND  (T5.[TransType] <> 'I'  OR  (T5.[TransType] = 'I'  
		AND  T5.[InstlmntID] = T0.[SourceLine] ))  
OUTER APPLY (
	SELECT DueDate = CASE WHEN (SELECT [CVA].[dbo].[fncDia_Util](T0.[DueDate])) = 0 THEN (SELECT [CVA].[dbo].[fncProximo_Dia_Util](T0.[DueDate])) ELSE T0.[DueDate] END,
		RefDate = CASE WHEN (SELECT [CVA].[dbo].[fncDia_Util](T0.[RefDate])) = 0 THEN (SELECT [CVA].[dbo].[fncProximo_Dia_Util](T0.[RefDate])) ELSE T0.[RefDate] END,
		ReconDate = CASE WHEN (SELECT [CVA].[dbo].[fncDia_Util](T2.[ReconDate])) = 0 THEN (SELECT [CVA].[dbo].[fncProximo_Dia_Util](T2.[ReconDate])) ELSE T2.[ReconDate] END
) AS OA_REF
WHERE 
	(
		((T0.[RefDate] <= (@DateFim)  AND  T0.[RefDate] >= (@DateIni)  AND  T0.[RefDate] <= (@DateFim)  
		AND  T2.[ReconDate] > (@DateFim)  )  and @tpData='LC')

		or (
				((OA_REF.DueDate >= (@DateIni)  AND  OA_REF.DueDate <= (@DateFim)  )  and @tpData='V' )
				and
				(
					((OA_REF.RefDate <= (SELECT CAST(CAST(GETDATE() AS DATE) AS DATETIME))  /*AND  T0.[RefDate] >= (@DateIni) */ AND  OA_REF.RefDate <= (SELECT CAST(CAST(GETDATE() AS DATE) AS DATETIME))  
					AND  OA_REF.ReconDate > (SELECT CAST(CAST(GETDATE() AS DATE) AS DATETIME))  )  and @tpData='V')--JBC
				)
			)
	)
	
	AND  T4.[CardType] = ('C')  AND  T4.[Balance] <> (0)  
	
	

	AND  T1.[IsCredit] = ('C')   

	AND  ((T4.[CardCode] = (@CardCode)  ) OR (ISNULL(@CardCode,'0')='0')  ) 
	



GROUP BY 
	T0.[TransId], T0.[Line_ID], T0.[BPLName] 
HAVING 
	MAX(T0.[BalFcCred]) <>- SUM(T1.[ReconSumFC])  OR  MAX(T0.[BalDueCred]) <>- SUM(T1.[ReconSum])   
UNION ALL 
SELECT 
	T0.[TransId], 
	T0.[Line_ID], 
	MAX(T0.[Account]), 
	MAX(T0.[ShortName]), 
	MAX(T0.[TransType]), 
	MAX(T0.[CreatedBy]), 
	MAX(T0.[BaseRef]), 
	MAX(T0.[SourceLine]), 
	CASE WHEN @tpData = 'V' THEN MAX(OA_REF.RefDate) ELSE MAX(T0.[RefDate]) END, 
	CASE WHEN @tpData = 'V' THEN MAX(OA_REF.DueDate) ELSE MAX(T0.[DueDate]) END, 
	
    MAX(T0.[BalDueCred]) AS'BalDueCred',
    SUM(T1.[ReconSum]) AS 'BalDueDeb',
    MAX(T0.[BalDueCred]) + SUM(T1.[ReconSum]) AS 'BalDueCred - BalDueDeb',
    ( MAX(T0.[BalDueCred]) + SUM(T1.[ReconSum]) ) * (-1) AS 'Saldo',
    	
	--- MAX(T0.[BalDueDeb]) - SUM(T1.[ReconSum]),  
	--- MAX(T0.[BalFcDeb]) - SUM(T1.[ReconSumFC]),  
	--- MAX(T0.[BalScDeb]) - SUM(T1.[ReconSumSC]), 
	MAX(T0.[LineMemo]), 
	MAX(T4.[CardName]), 
	MAX(T5.[CardCode]), 

	MAX(T4.[Balance]), 
	MAX(T5.[SlpCode]), 
	MAX(T0.[Debit]) + MAX(T0.[Credit]), 
	MAX(T5.[IsSales]), 
	MAX(T4.[Currency]), 
	T0.[BPLName] 
FROM  
	[dbo].[JDT1] T0  
	INNER  JOIN [dbo].[ITR1] T1  ON  T1.[TransId] = T0.[TransId]  AND  T1.[TransRowId] = T0.[Line_ID]   
	INNER  JOIN [dbo].[OITR] T2  ON  T2.[ReconNum] = T1.[ReconNum]   
	INNER  JOIN [dbo].[OJDT] T3  ON  T3.[TransId] = T0.[TransId]   
	INNER  JOIN [dbo].[OCRD] T4  ON  T4.[CardCode] = T0.[ShortName]    
	LEFT OUTER  JOIN [dbo].[B1_JournalTransSourceView] T5  ON  T5.[ObjType] = T0.[TransType]  
		AND  T5.[DocEntry] = T0.[CreatedBy]  
		AND  (T5.[TransType] <> 'I'  OR  (T5.[TransType] = 'I'  AND  T5.[InstlmntID] = T0.[SourceLine] ))  
OUTER APPLY (
	SELECT DueDate = CASE WHEN (SELECT [CVA].[dbo].[fncDia_Util](T0.[DueDate])) = 0 THEN (SELECT [CVA].[dbo].[fncProximo_Dia_Util](T0.[DueDate])) ELSE T0.[DueDate] END,
		RefDate = CASE WHEN (SELECT [CVA].[dbo].[fncDia_Util](T0.[RefDate])) = 0 THEN (SELECT [CVA].[dbo].[fncProximo_Dia_Util](T0.[RefDate])) ELSE T0.[RefDate] END,
		ReconDate = CASE WHEN (SELECT [CVA].[dbo].[fncDia_Util](T2.[ReconDate])) = 0 THEN (SELECT [CVA].[dbo].[fncProximo_Dia_Util](T2.[ReconDate])) ELSE T2.[ReconDate] END
) AS OA_REF
WHERE 
	(
		((T0.[RefDate] <= (@DateFim)  AND  T0.[RefDate] >= (@DateIni)  AND  T0.[RefDate] <= (@DateFim)  
		AND  T2.[ReconDate] > (@DateFim)  ) and @tpData='LC' )

		or (
			((OA_REF.DueDate >= (@DateIni)  AND  OA_REF.DueDate <= (@DateFim)  ) and @tpData='V') 
			and
			(
				((OA_REF.RefDate <= (CAST(CAST(GETDATE() AS DATE) AS DATETIME))  /*AND  T0.[RefDate] >= (@DateIni)*/  AND  OA_REF.ReconDate <= (CAST(CAST(GETDATE() AS DATE) AS DATETIME))  
				AND  OA_REF.ReconDate > (CAST(CAST(GETDATE() AS DATE) AS DATETIME))  ) and @tpData='V' )
			)
		)
	)

	AND  T4.[CardType] = ('C')  AND  T4.[Balance] <> (0)  
	AND  ( (T4.[CardCode] = (@CardCode)  ) OR (ISNULL(@CardCode,'0')='0') )
	AND  T1.[IsCredit] = ('D')   
GROUP BY
	T0.[TransId], T0.[Line_ID], T0.[BPLName] 
HAVING 
	MAX(T0.[BalFcDeb]) <>- SUM(T1.[ReconSumFC])  OR  MAX(T0.[BalDueDeb]) <>- SUM(T1.[ReconSum])   
UNION ALL 
SELECT --1 as Query
	T0.[TransId], 
	T0.[Line_ID], 
	MAX(T0.[Account]), 
	MAX(T0.[ShortName]), 
	MAX(T0.[TransType]), 
	MAX(T0.[CreatedBy]), 
	MAX(T0.[BaseRef]), 
	MAX(T0.[SourceLine]), 
	CASE WHEN @tpData = 'V' THEN MAX(OA_REF.RefDate) ELSE MAX(T0.[RefDate]) END, 
	CASE WHEN @tpData = 'V' THEN MAX(OA_REF.DueDate) ELSE MAX(T0.[DueDate]) END, 
	
    MAX(t0.balduecred) as 'BalDueCred',
    MAX(t0.BalDueDeb)  as 'BalDueDeb',
    MAX(T0.[BalDueCred]) - MAX(T0.[BalDueDeb]) as 'BalDueCred - BalDueDeb',
   ( MAX(T0.[BalDueCred]) - MAX(T0.[BalDueDeb]) ) * -1 as 'Saldo'	,
	
	--MAX(T0.[BalDueCred]) - MAX(T0.[BalDueDeb]), 
	--MAX(T0.[BalFcCred]) - MAX(T0.[BalFcDeb]), 
	--MAX(T0.[BalScCred]) - MAX(T0.[BalScDeb]), 
	
	MAX(T0.[LineMemo]), 
	MAX(T2.[CardName]), 
	MAX(T2.[CardCode]), 
	MAX(T2.[Balance]), 
	MAX(T3.[SlpCode]), 
	MAX(T0.[Debit]) + MAX(T0.[Credit]), 
	MAX(T3.[IsSales]), 
	MAX(T2.[Currency]), 
	T0.[BPLName] 
FROM  
	[dbo].[JDT1] T0  
	INNER  JOIN [dbo].[OJDT] T1  ON  T1.[TransId] = T0.[TransId]   
	INNER  JOIN [dbo].[OCRD] T2  ON  T2.[CardCode] = T0.[ShortName]    
	LEFT OUTER  JOIN [dbo].[B1_JournalTransSourceView] T3  ON  T3.[ObjType] = T0.[TransType]  
		AND  T3.[DocEntry] = T0.[CreatedBy]  AND  (T3.[TransType] <> 'I'  
		OR  (T3.[TransType] = 'I'  AND  T3.[InstlmntID] = T0.[SourceLine] ))  
OUTER APPLY (
	SELECT DueDate = CASE WHEN (SELECT [CVA].[dbo].[fncDia_Util](T0.[DueDate])) = 0 THEN (SELECT [CVA].[dbo].[fncProximo_Dia_Util](T0.[DueDate])) ELSE T0.[DueDate] END,
		RefDate = CASE WHEN (SELECT [CVA].[dbo].[fncDia_Util](T0.[RefDate])) = 0 THEN (SELECT [CVA].[dbo].[fncProximo_Dia_Util](T0.[RefDate])) ELSE T0.[RefDate] END
) AS OA_REF
WHERE
	( 
		((T0.[RefDate] <= (@DateFim)  AND  T0.[RefDate] >= (@DateIni)  AND  T0.[RefDate] <= (@DateFim)  

		AND   
			NOT EXISTS (
				SELECT U0.[TransId], U0.[TransRowId] 
				FROM  [dbo].[ITR1] U0  
					INNER  JOIN [dbo].[OITR] U1  ON  U1.[ReconNum] = U0.[ReconNum]   
				WHERE 
					T0.[TransId] = U0.[TransId]  AND  T0.[Line_ID] = U0.[TransRowId]  AND  U1.[ReconDate] > (@DateFim)   
				GROUP BY 
					U0.[TransId], U0.[TransRowId])

		) and @tpData='LC')


		or 
			(
				(OA_REF.DueDate >= (@DateIni)  AND  OA_REF.DueDate <= (@DateFim)  and @tpData='V' 	)
				and
				(
					((OA_REF.RefDate <= (CAST(CAST(GETDATE() AS DATE) AS DATETIME))  /*AND  T0.[RefDate] >= (@DateIni)*/  AND  OA_REF.RefDate <= (CAST(CAST(GETDATE() AS DATE) AS DATETIME))  

					AND   
						NOT EXISTS (
							SELECT U0.[TransId], U0.[TransRowId] 
							FROM  [dbo].[ITR1] U0  
								INNER  JOIN [dbo].[OITR] U1  ON  U1.[ReconNum] = U0.[ReconNum]   
							WHERE 
								T0.[TransId] = U0.[TransId]  AND  T0.[Line_ID] = U0.[TransRowId]  AND  (CASE WHEN (SELECT [CVA].[dbo].[fncDia_Util](U1.[ReconDate])) = 0 THEN (SELECT [CVA].[dbo].[fncProximo_Dia_Util](U1.[ReconDate])) ELSE U1.[ReconDate] END) > (CAST(CAST(GETDATE() AS DATE) AS DATETIME))   
							GROUP BY 
								U0.[TransId], U0.[TransRowId])

					) and @tpData='V')
				)
			)


			--CAST(CAST(GETDATE() AS DATE) AS DATETIME)
	)
	AND  T2.[CardType] = ('C')  AND  T2.[Balance] <> (0)  
	AND  ((T2.[CardCode] = (@CardCode)  ) OR (ISNULL(@CardCode,'0')='0'))
	AND  (T0.[BalDueCred] <> T0.[BalDueDeb]  
	OR  T0.[BalFcCred] <> T0.[BalFcDeb] ) 
GROUP BY 
	T0.[TransId], T0.[Line_ID], T0.[BPLName]
	
end 

--select distinct TransType from #NF_Fiscal
--203 ODPI
--182 OBOE
--13  OINV
--24  ORCT
--14  IRIN
--30  OJDT
select 
	TransId     
	,Line_ID     
	,Account                                                                                                                                                                                                                                                          
	,ShortName                                                                                                                                                                                                                                                        
	,TransType                                                                                                                                                                                                                                                        
	,CreatedBy   
	,BaseRef                                                                                                                                                                                                                      
	,SourceLine 
	,RefDate                 
	,DueDate                 
	,BalDueCred                              
	,BalDueDeb                               
	,BalDueCred_BalDueDeb                    
	,Saldo                                   
	,LineMemo                                                                                                                                                                                                                                                         
	,CardName                                                                                                                                                                                                                                                         
	,CardCode                                                                                                                                                                                                                                                         
	,Balance                                 
	,SlpCode     
	,DebitMAthCredit                         
	,IsSales              
	,Currency                                                     
	,BPLName                                                                                                                                                                                                  
	,Serial      

	,case when FormaPagamento='' then PeyMethodNF else FormaPagamento end 'FormaPagamento'
	,PeyMethodNF   		

	,case 
		when coalesce(ODSC.BankName,'')<>'' then ODSC.BankCode --ODSC.BankName
		else case  when TransType='24' and  FormaPagamento IN ('Boleto', 'Cheque')  then TB.BankCode else (select top 1 BnkDflt  from OPYM where PayMethCod=PeyMethodNF )  end 
		
	end	'BancoNF'


	--select * from OPYM
	,Installmnt	
	,OrctComments
	--,ODSC.BankName
	,case 
		when coalesce(ODSC.BankCode,'')<>'' then cast(ODSC.BankCode AS nvarchar(30))
		--ODSC.BankCode
		else case  when TransType='24' and  FormaPagamento IN ('Boleto', 'Cheque')  then TB.BankCode else (select top 1 BnkDflt  from OPYM where PayMethCod=PeyMethodNF )  end 
		
	end	'BankName'
	,DocEntryNFS
	--,TB.bank
	--,CntrlBnkNF
from (
	 select 
		#NF_Fiscal.[TransId]
		,#NF_Fiscal.[Line_ID]
		,#NF_Fiscal.[Account]
		,#NF_Fiscal.[ShortName]
		,#NF_Fiscal.[TransType]
		,#NF_Fiscal.[CreatedBy]
		,#NF_Fiscal.[BaseRef]
		, case when #NF_Fiscal.[SourceLine]<0 then 0 else #NF_Fiscal.[SourceLine] end SourceLine
		,#NF_Fiscal.[RefDate]
		,#NF_Fiscal.[DueDate]
		,#NF_Fiscal.[BalDueCred]
		,#NF_Fiscal.[BalDueDeb]
		,#NF_Fiscal.[BalDueCred_BalDueDeb]
		,#NF_Fiscal.[Saldo]
		,#NF_Fiscal.[LineMemo]
		,#NF_Fiscal.[CardName]
		,#NF_Fiscal.[CardCode]
		,#NF_Fiscal.[Balance]
		,#NF_Fiscal.[SlpCode]
		,#NF_Fiscal.[DebitMAthCredit]
		,#NF_Fiscal.[IsSales]
		,#NF_Fiscal.[Currency]
		,#NF_Fiscal.[BPLName]
	
		,case when #NF_Fiscal.TransType = '13'  then  OINV.Serial
			  when #NF_Fiscal.TransType = '30'  then  OJDT.Serial
			  when #NF_Fiscal.TransType = '14'  then  ORIN.Serial
			  --when #NF_Fiscal.TransType = '24'  then  ORCT.Serial
			  when #NF_Fiscal.TransType = '203' then  ODPI.Serial
			  when #NF_Fiscal.TransType = '24'  then  (select top 1 serial from OINV where OINV.docentry in (select top 1 RCT2.baseAbs  from RCT2 where RCT2.invtype='13' and RCT2.DocNum=#NF_Fiscal.[BaseRef]))

			  --select top RCT2.baseAbs  from RCT2 where RCT2.invtype='13' and RCT2.DocNum=#NF_Fiscal.[BaseRef]
			  --else 321
			  --else 'N/A'
		end 'Serial' 
		, case when #NF_Fiscal.TransType = '24'  then  
				case 
					when orct.CashSum   > 0 then 'Dinheiro'
					when orct.BoeSum    > 0 then 'Boleto'
					when orct.CheckSum  > 0 then 'Cheque'
					when orct.CreditSum > 0 then 'Cartão de Crédito'
					when orct.TrsfrSum  > 0 then 'Tranferência Bancária'
					else ''
				end
			else ''
		end 'FormaPagamento'
	
		,case 
			  when #NF_Fiscal.TransType = '13'  then  OINV.PeyMethod
			  when #NF_Fiscal.TransType = '14'  then  ORIN.PeyMethod	  
			  when #NF_Fiscal.TransType = '203' then  ODPI.PeyMethod
			  else ''
		end 'PeyMethodNF' 
		--OINV.Installmnt 
		,case 
			  when #NF_Fiscal.TransType = '13'  then  OINV.Installmnt
			  when #NF_Fiscal.TransType = '14'  then  ORIN.Installmnt
			  when #NF_Fiscal.TransType = '203' then  ODPI.Installmnt
			  else null
		end 'Installmnt '
		--,(
		--	case when #NF_Fiscal.TransType = '24'  then  
		--		case 
		--			when orct.BoeSum    > 0 then orct.Comments
		--			else ''
		--		end
		--	end
		--) 
		,orct.Comments 'OrctComments'
		,ODSC.BankName
		,ODSC.BankCode
		,case
			when #NF_Fiscal.TransType = '24'  then  (select top 1 RCT2.baseAbs  from RCT2 where RCT2.invtype='13' and RCT2.DocNum=#NF_Fiscal.[BaseRef])
			else 0
		end 'DocEntryNFS'
	  from 
		#NF_Fiscal
		left join OINV on OINV.DocEntry = #NF_Fiscal.BaseRef and #NF_Fiscal.TransType='13'  
		left join OJDT on OJDT.TransId  = #NF_Fiscal.BaseRef and #NF_Fiscal.TransType='30'  
		left join ORIN on ORIN.Docentry = #NF_Fiscal.BaseRef and #NF_Fiscal.TransType='14' 	 
		
		left join ORCT on ORCT.DocEntry = #NF_Fiscal.BaseRef and #NF_Fiscal.TransType='24' 
		left join OBOE on OBOE.boenum =ORCT.boenum 
		left join OCHH on OCHH.RcptNum = ORCT.DocNum
		left join ODSC on (ODSC.BankCode=OBOE.BPBankCod or ODSC.BankCode = OCHH.BankCode)

		left join ODPI on ODPI.DocEntry = #NF_Fiscal.BaseRef and #NF_Fiscal.TransType='203'		

		--select 
		--	ORCT.boenum
		--	,OBOE.BPBankCod 
		--	,ODSC.BankName
		--from 
		--	ORCT 
		--	inner join OBOE on OBOE.boenum =ORCT.boenum 
		--	inner join ODSC on ODSC.BankCode=OBOE.BPBankCod 
		--select BankCode,BankName from ODSC
) TB	
	left join ODSC on ODSC.BankCode=(select top 1 BnkDflt  from OPYM where PayMethCod=PeyMethodNF ) 
	where (@BankCode=(select top 1 BnkDflt  from OPYM where PayMethCod=PeyMethodNF )) or isnull(@BankCode, '*')='*'
order by 1	  
	--and TransId=13227
	--where (ISNULL(@CardCode,'0')='0'))
	--(select top 1 BnkDflt  from OPYM where PayMethCod=PeyMethodNF )

	--select * from ODPI

drop table #NF_Fiscal





GO
/****** Object:  StoredProcedure [dbo].[spc_CVA_FluxoCaixa]    Script Date: 22/06/2017 17:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec [spc_CVA_FluxoCaixa] '01-01-2050' 
CREATE proc [dbo].[spc_CVA_FluxoCaixa]  
  @dt smalldatetime  
, @atrasados char(1) = 'N'  
, @caixa char(1)     = 'N'  
, @grafico char(1)   = 'S'
, @provisoes char(1) = 'N'  
  
as  

SET DATEFORMAT 'ymd';  
  create table #fluxo (  
    dt smalldatetime null  
  , vl_cap numeric(19, 2) null  
  , vl_prev_compra numeric(19, 2) null  
  , vl_total_despesa numeric(19, 2) null  
  , vl_car numeric(19, 2) null  
  , vl_prev_venda numeric(19, 2) null  
  , vl_total_receita numeric(19, 2) null  
  , vl_total_parcial numeric(19, 2) null  
  )  
  
  create table #lancamentos (  
    tipo char(3) null  
  , dt_vencimento smalldatetime null  
  , valor decimal(19, 2) null  
  )  
    
  create table #saldo (acctcode varchar(MAX) null, saldo money null)  
    
  insert into #saldo  
    exec spc_CVA_Balancete @caixa   
    
  declare @dias int  
  declare @dia int  
  declare @saldo_inicial decimal(19, 2)  
  declare @vl_cap decimal(19, 2)  
  declare @vl_prev_compra decimal(19, 2)  
  declare @vl_total_despesa decimal(19, 2)  
  declare @vl_car decimal(19, 2)  
  declare @vl_prev_venda decimal(19, 2)  
  declare @vl_total_receita decimal(19, 2)  
  declare @saldo_parcial decimal(19, 2)  
  declare @saldo_final decimal(19, 2)  
    
  select @saldo_inicial = SUM(saldo) from #saldo   
    
  select @saldo_inicial = ISNULL(@saldo_inicial, 0)  
    
  select @saldo_parcial = @saldo_inicial   
    
  exec spc_CVA_FluxoCaixa_CARGA @dt, @provisoes  
    
  select @dias = DATEDIFF(day, getdate(), @dt)  
    
  set @dia = 0  
    
  while @dia <= @dias  
  begin  
    
    select @vl_cap = 0  
         , @vl_car = 0  
         , @vl_prev_compra = 0  
         , @vl_prev_venda = 0  
  
    if @dia = 0 and @atrasados = 'S'  
    begin  
      select @vl_cap = sum(valor)  
        from #lancamentos  
       where tipo = 'CAP'  
         and dt_vencimento <= convert(char(10), getdate(), 120)  
  
      select @vl_prev_compra = sum(valor)  
        from #lancamentos  
       where tipo = 'PRO'  
         and dt_vencimento <= convert(char(10), getdate(), 120)  
  
      select @vl_prev_venda = sum(valor)  
        from #lancamentos  
       where tipo = 'PRE'  
         and dt_vencimento <= convert(char(10), getdate(), 120)  
  
      select @vl_car = sum(valor)  
        from #lancamentos  
       where tipo = 'CAR'  
         and dt_vencimento <= convert(char(10), getdate(), 120)  
    end  
    else  
    begin  
      select @vl_cap = sum(valor)  
        from #lancamentos  
       where tipo = 'CAP'  
         and dt_vencimento = DATEADD(DAY, @dia, CONVERT(char(10), getdate(), 120))  
  
      select @vl_prev_compra = sum(valor)  
        from #lancamentos  
       where tipo = 'PRO'  
         and dt_vencimento = DATEADD(DAY, @dia, CONVERT(char(10), getdate(), 120))  
  
      select @vl_prev_venda = sum(valor)  
        from #lancamentos  
       where tipo = 'PRE'  
         and dt_vencimento = DATEADD(DAY, @dia, CONVERT(char(10), getdate(), 120))  
  
      select @vl_car = sum(valor)  
        from #lancamentos  
       where tipo = 'CAR'  
         and dt_vencimento = DATEADD(DAY, @dia, CONVERT(char(10), getdate(), 120))  
  
  
    end  
  
    --select @vl_prev_compra = ( 350 * @dia ) + @dia * (@dia * @dia)  
    --     , @vl_prev_venda = @dia * 2 * (@dia * 2) + (@dia + 2 * 3)  
    
      
    select @vl_cap = ISNULL(@vl_cap, 0)  
         , @vl_car = ISNULL(@vl_car, 0)  
         , @vl_prev_compra = ISNULL(@vl_prev_compra, 0)  
         , @vl_prev_venda = ISNULL(@vl_prev_venda, 0)  
      
    select @vl_total_despesa = @vl_cap + @vl_prev_compra  
         , @vl_total_receita = @vl_car + @vl_prev_venda  
           
    select @saldo_parcial = @saldo_parcial - @vl_total_despesa + @vl_total_receita   
      
    insert into #fluxo (dt  
      , vl_cap, vl_prev_compra, vl_total_despesa  
                      , vl_car, vl_prev_venda, vl_total_receita  
                      , vl_total_parcial)  
     select CONVERT(char(10), getdate() + @dia, 120)  
           , @vl_cap, @vl_prev_compra, @vl_total_despesa  
           , @vl_car, @vl_prev_venda, @vl_total_receita  
           , @saldo_parcial   
    
select @dia = @dia + 1  
    
  end  
    
  delete from #fluxo where vl_total_receita + vl_total_despesa = 0  
  
  select * from #fluxo order by 1  


GO
/****** Object:  StoredProcedure [dbo].[spc_CVA_FluxoCaixa_CARGA]    Script Date: 22/06/2017 17:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec spc_CVA_FluxoCaixa_CARGA '01-01-2050' 

CREATE proc [dbo].[spc_CVA_FluxoCaixa_CARGA]
  @dt smalldatetime, @provisoes char(1) 
as

  declare @vGroupNum int
  declare @vShipDate smalldatetime
  declare @vLineTotal money
  declare @vTipo varchar(3)


  declare cp1 cursor local fast_forward read_only for
    select 'PRE' as tipo
         , ordr.groupnum as forma
         , rdr1.ShipDate as data_base
         , SUM(rdr1.linetotal) as valor
      from RDR1
     inner join ORDR
        on ORDR.DocEntry = rdr1.DocEntry 
     where rdr1.InvntSttus = 'O'
       and ordr.DocStatus = 'O'
     group by ordr.groupnum, rdr1.ShipDate 
     union all
    select 'PRO' as tipo
         , oPOR.groupnum as forma
         , POR1.ShipDate as data_base
         , SUM(POR1.linetotal) as valor
      from POR1
     inner join OPOR 
        on oPOR.DocEntry = POR1.DocEntry 
     where POR1.InvntSttus = 'O'
       and oPOR.DocStatus = 'O'   
     group by oPOR.groupnum, POR1.ShipDate 
    order by 1, 3, 2
  open cp1

  while 1 = 1
  begin
    fetch next from cp1 into @vTipo, @vGroupNum, @vShipDate, @vLineTotal
    if @@FETCH_STATUS <> 0 break
    
    insert into #lancamentos (tipo, dt_vencimento, valor)
      SELECT @vTipo, DATEADD(day, InstDays, @vShipDate), ( @vLineTotal * InstPrcnt ) / 100
        from CTG1

       where CTGCode = @vGroupNum 
       
    if @@ROWCOUNT = 0
      insert into #lancamentos (tipo, dt_vencimento, valor)
        select @vTipo, @vShipDate, @vLineTotal 
    
  end
  close cp1
  deallocate cp1
  
CREATE TABLE #ContasAReceberPorVencimento (
	TransId int, 
	Line_ID int, 
	Account nvarchar(30),
	ShortName  nvarchar(30),
	TransType nvarchar(40),
	CreatedBy int,
	BaseRef nvarchar(22),
	SourceLine smallint,
	RefDate datetime,
	DueDate datetime,
	BalDueCred decimal(19, 9),
	BalDueDeb decimal(19, 9),
	BalDueCredBalDueDeb decimal(19, 9),
	Saldo decimal(19, 9),
	LineMemo nvarchar(100),
	CardName nvarchar(200),
	CardCode nvarchar(30),
	Balance  decimal(19, 9),
	SlpCode int,
	DebitCredit  decimal(19, 9),
	IsSales nvarchar(2),
	Currency nvarchar(6),
	BPLName nvarchar(200),
	Serial      int,
	FormaPagamento   varchar(100),      
	PeyMethodNF   	 varchar(100),	
	BancoNF			 varchar(100),
	Installmnt		 varchar(100),
	OrctComments	 varchar(200),
	BankName         varchar(100)
	,DocEntryNFS	 int
)

insert  into #ContasAReceberPorVencimento
EXECUTE [spc_CVA_ContasAReceberPorVencimento] 
   '*'
  --,'1900-11-20'
  --,'2050-11-20'
  ,'1900-11-16'
  ,@dt
  ,'LC'
  ,'*'
  
CREATE TABLE #ContasAPagarPorVencimento (		
	ShortName nvarchar(30)
	, CardName nvarchar(200)
	, Lancamento datetime
	, Vencimento datetime
	, Origem nvarchar(40)
	, OrigemNr integer
	, Parcela smallint
	, ParcelaTotal smallint
	, Serial int
	, LineMemo nvarchar(100)
	, Debit decimal(19, 9)
	, Credit decimal(19, 9)
	, Saldo decimal(19, 9)
	,DueDate datetime
	,PeyMethodNF nvarchar (40)
)

insert into #ContasAPagarPorVencimento
execute spc_CVA_ContasAPagarPorVencimento 
   '*'
  --,'1900-11-20'
  --,'2050-11-20'
  ,'1900-11-16'
  ,@dt 
  ,'V'
  ,@provisoes


  insert into #lancamentos (tipo, dt_vencimento, valor)
    SELECT 'CAP'
          , dt_vencimento, 
           sum(vl_saldo)
    FROM
    (
	select 
		Saldo as 'vl_saldo' ,
		Vencimento as 'dt_vencimento'
	from 	
	#ContasAPagarPorVencimento

    ) as completo
    where dt_vencimento <= @dt 
    group by dt_vencimento 

  insert into #lancamentos (tipo, dt_vencimento, valor)
    SELECT 'CAR'
          , dt_vencimento, 
           sum(vl_saldo)
    FROM (
    select 
		Saldo as 'vl_saldo' ,
		DueDate as 'dt_vencimento'
	from 
		#ContasAReceberPorVencimento    

     ) as completo
    where dt_vencimento <= @dt 
    group by dt_vencimento 

  delete from #lancamentos
   where dt_vencimento > @dt

drop table #ContasAReceberPorVencimento

drop table #ContasAPagarPorVencimento









GO
/****** Object:  StoredProcedure [dbo].[spc_CVA_FluxoCaixa_CARGA_Analitico]    Script Date: 22/06/2017 17:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spc_CVA_FluxoCaixa_CARGA_Analitico]
  @dt smalldatetime 
, @caixa char(1)
, @atrasos char(1)
, @provisoes char(1)
--with encryption
as 

  declare @vGroupNum      int
  declare @vDocNum        int
  declare @vCardCode      varchar(30)
  declare @vCardName      varchar(200)
  declare @vShipDate      smalldatetime
  declare @vLineTotal     money
  declare @vTipo          varchar(3)
  declare @saldo_inicial  decimal(19, 2)
  declare @vdt_vencimento smalldatetime
  declare @vvalor money
  declare @vlinha int

  create table #lancamentos (
    tipo char(4) null
  , DocNum int null
  , CardCode varchar(30) null
  , CardName varchar(200) null
  , dt_vencimento smalldatetime null
  , valor decimal(19, 2) null
  , saldo decimal(19, 2) null
  )

  declare cp1 cursor local fast_forward read_only for
    select 'PV' as tipo
         , ordr.docnum
         , ordr.cardcode
         , ordr.cardname
         , ordr.groupnum as forma
         , rdr1.ShipDate as data_base
         , SUM(rdr1.linetotal) as valor
      from RDR1
     inner join ORDR
        on ORDR.DocEntry = rdr1.DocEntry 
     where rdr1.InvntSttus = 'O'
       and ordr.DocStatus = 'O'
     group by ordr.docnum, ordr.cardcode, ordr.cardname, ordr.groupnum, rdr1.ShipDate 
     union all
    select 'PC' as tipo
         , opor.docnum
         , opor.cardcode
         , opor.cardname
         , oPOR.groupnum as forma
         , POR1.ShipDate as data_base
         , SUM(POR1.linetotal) as valor
      from POR1
     inner join OPOR 
        on oPOR.DocEntry = POR1.DocEntry 
     where POR1.InvntSttus = 'O'
       and oPOR.DocStatus = 'O'   
     group by opor.docnum, opor.cardcode, opor.cardname, oPOR.groupnum, POR1.ShipDate 
    order by 1, 3, 2
  open cp1

  while 1 = 1
  begin
    fetch next from cp1 into @vTipo, @vDocNum, @vCardCode, @vCardName, @vGroupNum, @vShipDate, @vLineTotal
    if @@FETCH_STATUS <> 0 break
    
    insert into #lancamentos (tipo, docnum, cardcode, cardname, dt_vencimento, valor)
      SELECT @vTipo, @vDocNum, @vCardCode, @vCardName
           , DATEADD(day, InstDays, @vShipDate)
           , case when @vTipo = 'PC' then ( ( @vLineTotal * InstPrcnt ) / 100 ) * -1 else (@vLineTotal * InstPrcnt) / 100 end
        from CTG1
       where CTGCode = @vGroupNum 
       
    if @@ROWCOUNT = 0
      insert into #lancamentos (tipo, docnum, cardcode, cardname, dt_vencimento, valor)
        select @vTipo, @vDocNum, @vCardCode, @vCardName, @vShipDate, case @vtipo when 'PC' then @vLineTotal * -1 else @vLineTotal end
    
  end
  close cp1
  deallocate cp1


CREATE TABLE #ContasAPagarPorVencimento (		
	ShortName nvarchar(30)
	, CardName nvarchar(200)
	, Lancamento datetime
	, Vencimento datetime
	, Origem nvarchar(40)
	, OrigemNr integer
	, Parcela smallint
	, ParcelaTotal smallint
	, Serial int
	, LineMemo nvarchar(100)
	, Debit decimal(19, 9)
	, Credit decimal(19, 9)
	, Saldo decimal(19, 9)
	, DueDate datetime
	, PeyMethodNF nvarchar(40)
)

insert into #ContasAPagarPorVencimento
execute spc_CVA_ContasAPagarPorVencimento
   '*'
  ,'1900-11-16'
  ,@dt 
  ,'V'
  ,@provisoes
  
CREATE TABLE #ContasAReceberPorVencimento (
	TransId int, 
	Line_ID int, 
	Account nvarchar(30),
	ShortName  nvarchar(30),
	TransType nvarchar(40),
	CreatedBy int,
	BaseRef nvarchar(22),
	SourceLine smallint,
	RefDate datetime,
	DueDate datetime,
	BalDueCred decimal(19, 9),
	BalDueDeb decimal(19, 9),
	BalDueCredBalDueDeb decimal(19, 9),
	Saldo decimal(19, 9),
	LineMemo nvarchar(100),
	CardName nvarchar(200),
	CardCode nvarchar(30),
	Balance  decimal(19, 9),
	SlpCode int,
	DebitCredit  decimal(19, 9),
	IsSales nvarchar(2),
	Currency nvarchar(6),
	BPLName nvarchar(200),
	Serial  int,
	FormaPagamento nvarchar(100),
	PeyMethodNF    nvarchar(100),
	BancoNF        nvarchar(100),
	Installmnt	   nvarchar(200),
	OrctComments   nvarchar(500),
	BankName	   nvarchar(100),
	Nf int
)

insert  into #ContasAReceberPorVencimento
EXECUTE [spc_CVA_ContasAReceberPorVencimento] 
   '*'
  ,'1900-11-20'
  --,'2050-11-20'
  --,'1900-11-16'
  ,@dt
  ,'V'
  ,'*'

  insert into #lancamentos (tipo, docnum, cardcode, cardname, dt_vencimento, valor)
       SELECT tipo
          , docnum
          , CardCode
          , cardname
          , dt_vencimento 
          , sum(vl_saldo)* -1
    FROM (
		 select
			 CASE 
				when Origem='30' then 'OJDT'
				when Origem='18' then 'OPCH'
				else '????'
			 end AS 'tipo' 
			, OrigemNr as 'docnum'
			, ShortName as 'CardCode'
			, CardName as 'cardname'
			, Vencimento as 'dt_vencimento'
			, Saldo as 'vl_saldo'

		 from
			#ContasAPagarPorVencimento   
  ) as completo
    where completo.dt_vencimento <= @dt 
    group by tipo, docnum, cardcode, cardname, dt_vencimento
  
  

  insert into #lancamentos (tipo, docnum, cardcode, cardname, dt_vencimento, valor)
       SELECT tipo
          , docnum
          , CardCode
          , cardname
          , dt_vencimento 
          , sum(vl_saldo)
    FROM (

		 select
			 CASE 
				when TransType='30' then 'OJDT'
				when TransType='13' then 'OINV'
				when TransType='14' then 'ORIN'
				when TransType='24' then 'ORCT'
				else '????'
			 end AS 'tipo' 
			, BaseRef as 'docnum'
			, ShortName as 'CardCode'
			, CardName as 'cardname'
			, DueDate as 'dt_vencimento'
			, Saldo as 'vl_saldo'

		 from
			#ContasAReceberPorVencimento

  ) as completo
    where completo.dt_vencimento <= @dt 
    group by tipo, docnum, cardcode, cardname, dt_vencimento

  delete from #lancamentos
   where dt_vencimento > @dt
   
  if @atrasos = 'N'
    delete from #lancamentos
     where convert(char(10), dt_vencimento, 120) < convert(char(10), GETDATE(), 120)

  declare @saldo_final decimal(19, 2)
  
  create table #saldo (acctcode varchar(MAX) null, saldo money null)
  
  insert into #saldo
    exec spc_CVA_Balancete @caixa 
  
  select @saldo_inicial = SUM(saldo) from #saldo 
  

  select @saldo_inicial = ISNULL(@saldo_inicial, 0)  

---------------
  select dt_vencimento as 'Data'
       , tipo as 'Tipo'
       , CASE tipo
           when 'OJDT' then 'L.C.'
           when 'OINV' then 'NF Venda'
           when 'OPCH' then 'NF Compra'
           when 'OBOE' then 'Boleto'
           when 'PV' then 'P. Venda'
           when 'PC' then 'P. Compra'
           when 'OCHH' then 'Cheque'
           when 'ORCT' then 'Contas À Receber'
           else tipo end 'TP'
       , DocNum as 'Numero'
       , CardCode as 'Cliente'
       , CardName as 'Razão'
       , valor as 'Valor'
       , saldo as 'Saldo'
       , ROW_NUMBER() over (order by dt_vencimento, tipo, docnum, cardcode) as linha
     into #final
    from #lancamentos 
   order by dt_vencimento, tipo, docnum, cardcode

  declare cp1 cursor local fast_forward for
    select linha, valor
      from #final
     order by 1
     
  open cp1
  
  while 1 = 1
  begin
    fetch next from cp1 into @vlinha, @vvalor
    if @@FETCH_STATUS <> 0 break
        
    select @saldo_inicial = @saldo_inicial + isnull(@vvalor, 0)
    
    update #final 
       set saldo = @saldo_inicial
     where linha = @vlinha 

  end
  close cp1
  deallocate cp1

 select * from #final order by linha 



GO
