USE [SBOAlessi_1503]
GO
/****** Object:  StoredProcedure [dbo].[scp_CVA_ResFiLiquidados]    Script Date: 31/07/2019 15:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER proc [dbo].[scp_CVA_ResFiLiquidados]
 @cardcode varchar(20)
,@cardType varchar(2)
as

Begin 
 declare @dt varchar(30) = Getdate() -1  
 
 
create table #tmp 
(
	  operacao       varchar(100)   null
	, objtype        varchar(72)    null
	, metodo         varchar(200)   null
	, parcela        int            null
	, crentry        int            null
	, Codigo         varchar(30)    null
	, Parceiro       varchar(200)   null
		, valorparcela   decimal(19,9)  null
	, vencimento     smalldatetime  null
	, liquidacao     smalldatetime  null

	, valorpago      decimal(19,9)  null
	, transacao      varchar(1000)  null
	, jrnlmemo       varchar(max)   null
	, transid        int            null
	, boenum         int            null
	, boemeth        varchar(200)   null
	, notas          varchar(200)   null
	, Juros          decimal(19,9)  null
	, formaPagamento nvarchar(200)  null
)

insert into #tmp	
exec spc_CVA_ContasRecebidasPorCliente 
  --'C00000235'
  @cardCode
 ,'2016-01-01'
 ,@dt	
 --,'2018-09-04'
 ,'L'
 ,'*'
 ,0
 ,'Y' 



 select distinct 
	   --(select count(*) from #tmp where liquidacao <= vencimento) as qtdeAberto
    --  ,(select isnull( sum(valorpago),0) from #tmp where liquidacao <= vencimento) ValorAberto
		(
		   SELECT COUNT(*)
				FROM #tmp 
			WHERE	FormaPagamento in('RecebTransf','')
				OR	FormaPagamento like 'Bol%'
				OR FormaPagamento like '%Cheque%'	  
	    ) as qtdeAberto
	  ,(
		    SELECT ISNULL(SUM(valorpago),0) 
				FROM #tmp 
			WHERE	FormaPagamento in('RecebTransf','')
				OR	FormaPagamento like 'Bol%'
				OR FormaPagamento like '%Cheque%'
	   ) as ValorAberto
	  ,(select count(*) from #tmp where FormaPagamento in('RecebTransf','')) as qtdeEmCarteira
      ,(select isnull(sum(valorpago),0) from #tmp where FormaPagamento in('RecebTransf','')) ValorCarteira
	  ,(select count(*) from #tmp where FormaPagamento like 'Bol%') as qtdeBoleto
      ,(select isnull(sum(valorpago),0) from #tmp where FormaPagamento like 'Bol%') ValorBoleto
	  ,(select count(*) from #tmp where FormaPagamento like '%Cheque%') as qtdeCheque
      ,(select isnull(sum(valorpago),0) from #tmp where FormaPagamento like '%Cheque%') ValorCheque
	  ,(
		   SELECT COUNT(*)
				FROM #tmp 
			WHERE	FormaPagamento in('RecebTransf','')
				OR	FormaPagamento like 'Bol%'
				OR FormaPagamento like '%Cheque%'	  
	    ) as qtdeTotal
	  ,(
		    SELECT ISNULL(SUM(valorpago),0) 
				FROM #tmp 
			WHERE	FormaPagamento in('RecebTransf','')
				OR	FormaPagamento like 'Bol%'
				OR FormaPagamento like '%Cheque%'
	   ) as ValorTotal
	  ,(select count(*) from #tmp where #tmp.liquidacao > #tmp.vencimento) as PgAtraso
	  ,(select isnull(SUM(valorpago),0) from #tmp where  #tmp.liquidacao > #tmp.vencimento) as VlPgAtraso
	  
  from #tmp

 drop table #tmp

end
