USE [SBOAlessi_1503]
GO
/****** Object:  StoredProcedure [dbo].[Spc_ResFiAcumulo]    Script Date: 31/07/2019 15:14:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER proc [dbo].[Spc_ResFiAcumulo]

  @cardcode varchar(20)
 ,@cardtype varchar(20)
 

 as
 begin
  declare @dt varchar(30) = Getdate() -1 
 create table #tmp 
(
  operacao       varchar(100)   null
, objtype        varchar(72)    null
, metodo         varchar(200)   null
, parcela        int            null
, crentry        int            null
, Codigo         varchar(30)    null
, Parceiro       varchar(200)   null

, vencimento     smalldatetime  null
, liquidacao     smalldatetime  null
, valorparcela   decimal(19, 9) null
, valorpago      decimal(19, 9) null
, transacao      varchar(1000)   null
, jrnlmemo       varchar(max)   null
, transid        int            null
, boenum         int            null
, boemeth        varchar(200)   null
, notas          varchar(200)   null
, dias        int            null
)

insert into #tmp	
exec SpcCVAContasRecebidasPorCliente 
--'*'
 @Cardcode
,'2018-01-01'
--,'2018-09-20'
,@dt
,'L'
,'*'
,0

--Create table #aux
-- (
--  valor decimal(19,2)
-- )
 
--insert into #aux
	select SUM(valorpago) from #tmp where  #tmp.liquidacao > #tmp.vencimento


--select  sum(valor) from #AUX

--select * from #tmp

--drop table #aux
drop table #tmp

 end

