USE [SBOAlessi_1503]
GO
/****** Object:  StoredProcedure [dbo].[scp_CVA_ResFiAtrsados]    Script Date: 31/07/2019 15:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER proc [dbo].[scp_CVA_ResFiAtrsados]
  @CardCode varchar(20)
 ,@CardType varchar(20)
as
 declare @dt varchar(30) = Getdate() 
 declare @MaiorTmp int, @MaiorTmp1 int

begin 
	Create table #tmp
	( 
     [TransId]      int
	,[Line_ID]		int
	,[Account]      nvarchar(300)
	,[ShortName]    nvarchar(300)
	,[TransType]    nvarchar(400)
	,[CreatedBy]    int
	,[BaseRef]      nvarchar(220)
	,[SourceLine]   smallint
	,[RefDate]      datetime
	,[DueDate]      datetime
	,[BalDueCred]	numeric (16, 9) 
	,[BalDueDeb]	numeric (16, 9) 
	,[BalDueCred_BalDueDeb] numeric (16, 9) 
    ,[Saldo]		numeric (16, 9) 
	,[LineMemo]	    nvarchar(1000)
	,[CardName]	    nvarchar(300)
	,[CardCode]	    nvarchar(300)
	,[Balance]	    numeric (19, 6)
	,[SlpCode]	    int
	,[DebitMAthCredit]numeric (19, 6) 
	,[IsSales]		nvarchar(20)
	,[Currency]		nvarchar(60)
	,[BPLName]	    nvarchar(200)
	,[Serial]       varchar(30)
	,[FormaPagamento] varchar(200)
	,[PayMethodNF]   varchar(200)
	,[BancoNF]      int
	,[Installmnt]   int
	,[OrctComments] varchar(max)
	,[BankName]     varchar(200)
	,[DocEntryNFS]  int
	,[LateDays]     int
	)

insert into #tmp  
exec SpcCVAContasAReceberPorVencimento 
  --'C00000339'
  @CardCode
  ,'2018-01-01'
  ,'2060-01-01'
  --,@dt
  ,'V'
  ,'*'
  ,'*'
  ,0
  ,'N'
  ,'N'  
	
create table #tmp1 
(
  operacao       varchar(100)   null
, objtype        varchar(72)    null
, metodo         varchar(200)   null
, parcela        int            null
, crentry        int            null
, Codigo         varchar(30)    null
, Parceiro       varchar(200)   null
, vencimento     smalldatetime  null
, liquidacao     smalldatetime  null
, valorparcela   decimal(19, 9) null
, valorpago      decimal(19, 9) null
, transacao      varchar(1000)   null
, jrnlmemo       varchar(max)   null
, transid        int            null
, boenum         int            null
, boemeth        varchar(200)   null
, notas          varchar(200)   null
, dias           int            null
)
insert into #tmp1	
exec SpcCVAContasRecebidasPorCliente 
--'C00003351'
 @Cardcode
,'2000-01-01'
--,'2018-10-22'
,@dt
,'L'
,'*'
,0

	set @MaiorTmp1 =  (select (isnull((select max(dias) from #tmp1 where dias > 0 ),0)) )
	set @MaiorTmp  =  (select (isnull((select max(LateDays) from #tmp where LateDays > 0 ),0)) )

	select distinct (isnull((select sum(LateDays) from #tmp where LateDays > 0 ),0) / (select case when count(*) = 0 then 1 else count(*) end  from #tmp)) as Média			
	,case when @MaiorTmp > @MaiorTmp1 then @MaiorTmp else @MaiorTmp1 end as 'Maior'	
	,(isnull((select max(LateDays) from #tmp where LateDays > 0 ),0)) as Atual
		   
	
	,convert(decimal(19,2),isnull(((select SUM(valorpago) from #tmp1 where  #tmp1.liquidacao > #tmp1.vencimento) / (select SUM(valorpago) from #tmp1)),0) *100) as Atraso


			   

			   	
  from #tmp
   

drop table #tmp
end

