USE [SBOAlessi_1503]
GO
/****** Object:  StoredProcedure [dbo].[scp_CVA_ResFiLiquidadosAbertoGrupo]    Script Date: 31/07/2019 15:11:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER proc [dbo].[scp_CVA_ResFiLiquidadosAbertoGrupo]
 @grupo varchar(72)

as

Begin
  declare @dt varchar(30) = Getdate() -1 
 
create table #tmp 
(
  operacao       varchar(100)   null
, objtype        varchar(72)    null
, metodo         varchar(200)   null
, parcela        int            null
, crentry        int            null
, Codigo         varchar(30)    null
, Parceiro       varchar(200)   null

, vencimento     smalldatetime  null
, liquidacao     smalldatetime  null
, valorparcela   decimal(19, 9) null
, valorpago      decimal(19, 9) null
, transacao      varchar(1000)   null
, jrnlmemo       varchar(max)   null
, transid        int            null
, boenum         int            null
, boemeth        varchar(200)   null
, notas          varchar(200)   null
, dias        int            null
)

insert into #tmp	
exec SpcCVAContasRecebidasPorCliente 
'*'
,'2000-01-01'
,@dt
,'L'
,@grupo
,0
  
 select Codigo +' - ' + Parceiro as 'Cliente'
	    ,notas as 'NF'
		,vencimento as 'Dta Venc'		
		,liquidacao as 'Data Pgto'
		,Convert(decimal(19,2),valorparcela)  as 'Valor'
		,Convert(decimal(19,2),valorpago)  as 'Valor Pago'		
  from #tmp  

 drop table #tmp

end
