<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="WaitSeconds" value="30" />
    <add key="LogFile" value="C:\CVA Consultoria\Log_SKA_SAP.txt"/>
    <add key="SQL1" value="SELECT * FROM SSPExportProd WHERE STATUS = 0" />
    <add key="SQL2" value="select pers_id from beas_pers where udf1 = @colaborador" />
    <add key="SQL3" value="select aplatz_id from beas_aplatz where udf1 = @recurso" />
    <add key="FilePathToImport1" value="C:\Integracao\" />
    <add key="FilePathToImport2" value="C:\Integracao\" />
    <add key="FilePathToImport3" value="C:\Integracao\" />
  </appSettings>
  <connectionStrings>
    <add name="sap" connectionString="Server=SAPSQL;Database=SBO_TesteBeas;User Id=sa;Password=@H20#17*;" />
    <add name="ska" connectionString="Server=SAPSQL;Database=MES;User Id=sa;Password=@H20#17*;" />
  </connectionStrings>
</configuration>