<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebImcopa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <!--<SAP.Middleware.Connector>
      <ClientSettings>
        <DestinationConfiguration>
          <destinations>
            <add NAME="NCO_DEV" USER="cotacao" PASSWD="imcsoya1" CLIENT="300" LANG="PT" ASHOST="192.168.0.68" SYSNR="00" MAX_POOL_SIZE="1" POOL_SIZE="1" IDLE_TIMEOUT="0"/>
          </destinations>
        </DestinationConfiguration>
      </ClientSettings>
    </SAP.Middleware.Connector>-->
    <globalization fileEncoding="iso-8859-15" requestEncoding="iso-8859-15" responseEncoding="iso-8859-15" culture="pt-BR" uiCulture="pt-BR"/>
    <authentication mode="Windows">
      <forms name="WebImcopa" path="/" loginUrl="Login.aspx" protection="All"></forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--<customErrors mode="RemoteOnly" />-->
    <roleManager enabled="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>

  <appSettings>
    <add key="administrador" value="802714"/>
    <add key="emailRemetente" value="portalvendas@imcopa.com.br"/>
    <add key="ADServer" value="imcopa.com.br"/>


    <add key="ADPath" value="LDAP://adpro002"/>
    <add key="ADDomain" value="imcopa.com.br"/>
    <add key="ADOu" value="OU=temp"/>

    <add key="ADAdminUser" value="c3VwNA=="/>
    <add key="ADAdminPassword" value="dHJhbnNnZW5pY28="/>
    <add key="ADDefaultPassword" value="SW5pY2lhbDEyMw=="/>



    <add key="R3" value="CLIENT=300 USER=cotacao PASSWD=imcsoya1 LANG=PT ASHOST=saphom002 SYSNR=00 SYSTEMID=Q01"/>

    <add key="AUTHO" value=""/>
    <add key="FEMB" value="P101 - CP S/A - ARAUCARIA PR|P300 - CP S/A - CAMBE PR"/>
    <add key="FRETE" value="CIF-CIF|FOB-FOB"/>
    <add key="CPAGTO" value="I001|I038|I039|I040|I050|I051|I054|I086|I087|I089|I090|I091"/>
    <add key="BUKRS" value="|1000-Araucaria|2000-Araucaria Com.|P001-Cervejaria Petrópolis S/A|P002-Cerv.Petróp.Centro Oeste"/>
    <!-- COnfigurações novo SAP .Net Connector 3.0 -->
    <add key="CLIENT" value="300"/>

    <add key="USER" value="cotacao"/>
    <add key="PASSWD" value="imcsoya1"/>

    <add key="ASHOST" value="saphom002"/>
    <add key="SYSNR" value="00"/>
    <add key="SYSTEMID" value="P01"/>

    <add key="FORMAS_PAGAMENTO" value="A;D;E;I;N" />
    <add key="FORMAS_PAGAMENTO_DESCRICAO" value="Boleto - Banco do Brasil;Boleto - HSBC;Pagamento a vista;Cobrança em carteira;Boleto - Banco Safra" />
  </appSettings>
  <!--Eros Inicio-->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.relaylevel3.com" port="25"  userName="portalvendas@imcopa.com.br" password="imcopa2015"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--Eros Fim-->
</configuration>
