<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Informar<strong> Descrição</strong></h3>
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{VisualPercent}}%; float:right">
                    {{VisualPercent}}%
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="15" ng-disabled="status == 2" ng-model="oportunitty.Description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>