<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="ApiUrl" value="https://api.tomticket.com" />
    <add key="Token" value="a39ba1be7b2330e6ed638f601eacca0b" />
    <add key="CaminhoDestino" value="C:\temp\chamados" />

    <!-- Quando precisar criar as tabelas novamente-->
    <add key="createTableFields" value="false" />    
    
    <!-- Sincronizar todos quando for uma base nova-->
    <add key="sincronizarTodos" value="false" />
    
    <!-- Essa sincronia sempre considera a ultima atualização feita-->
    <add key="sincronizarUltimos" value="false" />

    <!-- Quando precisar atualizar a partir de uma data-->
    <add key="sincronizarPorData" value="false" />
    
    <!-- Data em formato Unix Time-->
    <add key="dataSincroniza" value="1629479133" />

    <!-- Alterar status dos chamados-->
    <add key="alteraStatus" value="false" />
  
    <!-- Quando precisar sincronizar os chamados novamente (unitário) - Separar por ';' para vários-->
    <add key="ChamadoUnitario" value="" />

    <!-- Realizar calculo da horas novamente-->
    <add key="recalcularHoras" value="true" />
    
  </appSettings>
  <connectionStrings>
    <add name="MeuContext" connectionString="Server=localhost; DataBase=cva_tomticket; Uid=sa; Pwd=hanab1@SAP; " providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>