<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="ArquivoTempo" value="C:\TESTE\Tempo\"/>
    <add key="ArquivoConsumo" value="C:\TESTE\Consumo\"/>
    <add key="ArquivoAcabado" value="C:\TESTE\Acabado\"/>
    <add key="DepositoRefugo" value="29"/>
    <add key="WaitSeconds" value="30"/>
    <!--Server Types:
        MSSQL     = 1
        DB_2      = 2
        SYBASE    = 3
        MSSQL2005 = 4
        MAXDB     = 5
        MSSQL2008 = 6
        MSSQL2012 = 7
        MSSQL2014 = 8-->
    <add key="DbServerType" value="8"/>
    <add key="LicenseServer" value="SAPSQL"/>
    <add key="Server" value="SAPSQL"/>
    <add key="UseTrusted" value="false"/>
    <add key="UserName" value="manager"/>
    <add key="Password" value="hybel2017"/>
    <add key="CompanyDB" value="SBOHybel_TST_PRODUCAO"/>
    <add key="DbUserName" value="sa"/>
    <add key="DbPassword" value="@H20#17*"/>
  </appSettings>
  <connectionStrings>
    <add name="sap" connectionString="Server=SAPSQL;Database=SBOHybel_TST_PRODUCAO;User Id=sa;Password=@H20#17*;"/>
    <add name="ska" connectionString="Server=SAPSQL;Database=MES_TST;User Id=sa;Password=@H20#17*;"/>
  </connectionStrings>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yy HH:mm:ss} [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\CVA Consultoria\Integração SKA\Integrador V2.1 - TESTE\Log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10000000"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yy HH:mm:ss} [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>
