<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Conferencia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Conferencia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Conferencia.Properties.Settings.ConectionString" connectionString="Server=10.170.1.50:30015;UserName=SYSTEM;Password=CVA@inicio123;Current Schema=SBO_ESCOTEIROS_PRO"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  
    <userSettings>
        <Conferencia.Properties.Settings>
            <setting name="ConectionStringSAP" serializeAs="String">
                <value>Server=10.170.1.50:30015;UserName=SYSTEM;Password=CVA@inicio123</value>
            </setting>
        </Conferencia.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Conferencia.Properties.Settings>
            <setting name="Servidor" serializeAs="String">
                <value>10.170.1.50:30015</value>
            </setting>
            <setting name="UsuarioDB" serializeAs="String">
                <value>SYSTEM</value>
            </setting>
            <setting name="SenhaDB" serializeAs="String">
                <value>CVA@inicio123</value>
            </setting>
            <setting name="UsuarioSAP" serializeAs="String">
                <value>marco</value>
            </setting>
            <setting name="SenhaSAP" serializeAs="String">
                <value>Mk3rsgo*</value>
            </setting>
            <setting name="ServidorLicenca" serializeAs="String">
                <value>10.170.1.50</value>
            </setting>
            <setting name="BaseSAP" serializeAs="String">
                <value>SBO_ESCOTEIROS_PRO</value>
            </setting>
        </Conferencia.Properties.Settings>
    </applicationSettings>
  </configuration>
