@model CVA.Portal.Producao.Model.SaidaInsumoModel

<div id="modal-delete" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <input type="hidden" value="" id="modal-delete-Id" />
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Remover</h4>
            </div>
            <div class="modal-body">
                <h4>Tem certeza que deseja remover este registro?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="removeTb()">Sim</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>