IF EXISTS (SELECT * FROM sys.objects WHERE type = 'IF' AND name = 'FN_CVA_SEF_E025')
	DROP FUNCTION FN_CVA_SEF_E025
GO

--SELECT * FROM [FN_CVA_SEF_E025] (1,'2018-01-01','2018-31-01')
create FUNCTION [dbo].[FN_CVA_SEF_E025] 
	(@Filial			INT,
	@DataDe			DATETIME,
	@DataAte		DATETIME)


RETURNS @Docs TABLE
	(
		DocEntry		  VARCHAR(50),
		ObjType			  INT,
		LIN				  VARCHAR(4),					
		VL_CONT_P		  DECIMAL (19,2),
		VL_OP_ISS_P		  DECIMAL (19,2),
		CFOP			  VARCHAR(4),
		VL_BC_ICMS_P	  DECIMAL (19,2),
		ALIQ_ICMS		  DECIMAL (19,2),
		VL_ICMS_P		  DECIMAL (19,2),
		VL_BC_ST_P        DECIMAL (19,2),
		VL_ICMS_ST_P	  DECIMAL (19,2),
		VL_ISNT_ICMS_P	  DECIMAL (19,2),
		VL_OUT_ICMS_P	  DECIMAL (19,2),
		VL_BC_IPI_P       DECIMAL (19,2),
		VL_IPI_P          DECIMAL (19,2),
		VL_ISNT_IPI_P     DECIMAL (19,2),
		VL_OUT_IPI_P      DECIMAL (19,2),
		IND_PETR          INT,
		IND_IMUN	      VARCHAR(1)
	)

AS
BEGIN


DECLARE @Docs2 TABLE
	(
		DocEntry		  VARCHAR(50),
		ObjType			  INT,
		LineTotal		  DECIMAL (19,2),
		DistribSum		  DECIMAL (19,2),
		CFOP			  VARCHAR (6),
		BaseICMS		  DECIMAL (19,2),
		AliquotaICMS	  DECIMAL (19,2),
		ValorICMS		  DECIMAL (19,2),
		AliqICMS		  DECIMAL (19,2),
		OutrosICMS		  DECIMAL (19,2),
		IsentoICMS		  DECIMAL (19,2),
		BaseICMS_ST		  DECIMAL (19,2),
		AliquotaICMS_ST	  DECIMAL (19,2),
		ValorICMS_ST	  DECIMAL (19,2),
		BaseIPI			  DECIMAL (19,2),
		AliquotaIPI		  DECIMAL (19,2),
		ValorIPI		  DECIMAL (19,2),
		AliqIPI			  DECIMAL (19,2),
		OutrosIPI		  DECIMAL (19,2),
		IsentoIPI		  DECIMAL (19,2)
	)

INSERT INTO @Docs2
	SELECT 
			OPDN.DocEntry					DocEntry,
			OPDN.ObjType					ObjType,
			PDN1.LineTotal                  LineTotal,
			PDN1.DistribSum	                DistribSum,
			PDN1.CFOPCode					CFOP, 
			ISNULL(ICMS.BaseSum,0)			BaseICMS,
			ISNULL(ICMS.TaxRate,0)			AliquotaICMS,
			ISNULL(ICMS.TaxSum,0)			ValorICMS,
			ISNULL(ICMS.TaxRate,0)          AliqICMS,
			ISNULL(ICMS.U_OthAmtl,0)        OutrosICMS,
			ISNULL(ICMS.U_ExcAmtl,0)        IsentoICMS,
			ISNULL(ICMS_ST.BaseSum,0)		BaseICMS_ST,
			ISNULL(ICMS_ST.TaxRate,0)		AliquotaICMS_ST,
			ISNULL(ICMS_ST.TaxSum,0)		ValorICMS_ST,
			ISNULL(IPI.BaseSum,0)			BaseIPI,
			ISNULL(IPI.TaxRate,0)			AliquotaIPI,
			ISNULL(IPI.TaxSum,0)			ValorIPI,
			ISNULL(IPI.TaxRate,0)			AliqIPI,
			ISNULL(IPI.U_OthAmtl,0)         OutrosIPI,
			ISNULL(IPI.U_ExcAmtl,0)         IsentoIPI

	
		FROM OPDN WITH(NOLOCK)
			INNER JOIN PDN1 WITH(NOLOCK)
				ON PDN1.DocEntry = OPDN.DocEntry
			LEFT JOIN (
					SELECT PDN4.DocEntry, PDN4.LineNum, SUM(PDN4.TaxSum) TaxSum, SUM(PDN4.BaseSum) BaseSum, PDN4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
					FROM PDN4 WITH(NOLOCK) 
						INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = PDN4.StaType
						INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS'
					GROUP BY PDN4.DocEntry, PDN4.LineNum, PDN4.TaxRate, U_OthAmtl, U_ExcAmtl
				) ICMS
				ON ICMS.DocEntry = PDN1.DocEntry
				AND ICMS.LineNum = PDN1.LineNum
			LEFT JOIN (
				SELECT PDN4.DocEntry, PDN4.LineNum, SUM(PDN4.TaxSum) TaxSum, SUM(PDN4.BaseSum) BaseSum, PDN4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM PDN4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = PDN4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS-ST'
				GROUP BY PDN4.DocEntry, PDN4.LineNum, PDN4.TaxRate, U_OthAmtl, U_ExcAmtl
			) ICMS_ST
				ON ICMS_ST.DocEntry = PDN1.DocEntry
				AND ICMS_ST.LineNum = PDN1.LineNum
			LEFT JOIN (
				SELECT PDN4.DocEntry, PDN4.LineNum, SUM(PDN4.TaxSum) TaxSum, SUM(PDN4.BaseSum) BaseSum, PDN4.TaxRate,  SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM PDN4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = PDN4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'IPI'
				GROUP BY PDN4.DocEntry, PDN4.LineNum, PDN4.TaxRate, U_OthAmtl, U_ExcAmtl
			) IPI
				ON IPI.DocEntry = PDN1.DocEntry
				AND IPI.LineNum = PDN1.LineNum
		WHERE 
		0=0
		AND OPDN.DocDate BETWEEN @DataDe AND @DataAte
		AND ISNULL(PDN1.TargetType, 0) <> 18
		AND OPDN.BPLId = @Filial
		AND OPDN.CANCELED = 'N' AND Model IN (1, 3, 5, 39)

INSERT INTO @Docs2
	SELECT 
			OPCH.DocEntry					DocEntry,
			OPCH.ObjType					ObjType,
			PCH1.LineTotal                  LineTotal,
			PCH1.DistribSum	                DistribSum,
			PCH1.CFOPCode					CFOP, 
			ISNULL(ICMS.BaseSum,0)			BaseICMS,
			ISNULL(ICMS.TaxRate,0)			AliquotaICMS,
			ISNULL(ICMS.TaxSum,0)			ValorICMS,
			ISNULL(ICMS.TaxRate,0)          AliqICMS,
			ISNULL(ICMS.U_OthAmtl,0)        OutrosICMS,
			ISNULL(ICMS.U_ExcAmtl,0)        IsentoICMS,
			ISNULL(ICMS_ST.BaseSum,0)		BaseICMS_ST,
			ISNULL(ICMS_ST.TaxRate,0)		AliquotaICMS_ST,
			ISNULL(ICMS_ST.TaxSum,0)		ValorICMS_ST,
			ISNULL(IPI.BaseSum,0)			BaseIPI,
			ISNULL(IPI.TaxRate,0)			AliquotaIPI,
			ISNULL(IPI.TaxSum,0)			ValorIPI,
			ISNULL(IPI.TaxRate,0)			AliqIPI,
			ISNULL(IPI.U_OthAmtl,0)         OutrosIPI,
			ISNULL(IPI.U_ExcAmtl,0)         IsentoIPI

	
		FROM OPCH WITH(NOLOCK)
			INNER JOIN PCH1 WITH(NOLOCK)
				ON PCH1.DocEntry = OPCH.DocEntry
			LEFT JOIN (
					SELECT PCH4.DocEntry, PCH4.LineNum, SUM(PCH4.TaxSum) TaxSum, SUM(PCH4.BaseSum) BaseSum, PCH4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
					FROM PCH4 WITH(NOLOCK) 
						INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = PCH4.StaType
						INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS'
					GROUP BY PCH4.DocEntry, PCH4.LineNum, PCH4.TaxRate, U_OthAmtl, U_ExcAmtl
				) ICMS
				ON ICMS.DocEntry = PCH1.DocEntry
				AND ICMS.LineNum = PCH1.LineNum
			LEFT JOIN (
				SELECT PCH4.DocEntry, PCH4.LineNum, SUM(PCH4.TaxSum) TaxSum, SUM(PCH4.BaseSum) BaseSum, PCH4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM PCH4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = PCH4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS-ST'
				GROUP BY PCH4.DocEntry, PCH4.LineNum, PCH4.TaxRate, U_OthAmtl, U_ExcAmtl
			) ICMS_ST
				ON ICMS_ST.DocEntry = PCH1.DocEntry
				AND ICMS_ST.LineNum = PCH1.LineNum
			LEFT JOIN (
				SELECT PCH4.DocEntry, PCH4.LineNum, SUM(PCH4.TaxSum) TaxSum, SUM(PCH4.BaseSum) BaseSum, PCH4.TaxRate,  SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM PCH4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = PCH4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'IPI'
				GROUP BY PCH4.DocEntry, PCH4.LineNum, PCH4.TaxRate, U_OthAmtl, U_ExcAmtl
			) IPI
				ON IPI.DocEntry = PCH1.DocEntry
				AND IPI.LineNum = PCH1.LineNum
		WHERE 
		0=0
		and OPCH.DocDate BETWEEN @DataDe AND @DataAte
		AND OPCH.BPLId = @Filial
		AND OPCH.CANCELED = 'N' AND Model IN (1, 3, 5, 39)

INSERT INTO @Docs2
	SELECT 
			ORDN.DocEntry					DocEntry,
			ORDN.ObjType					ObjType,
			RDN1.LineTotal                  LineTotal,
			RDN1.DistribSum	                DistribSum,
			RDN1.CFOPCode					CFOP, 
			ISNULL(ICMS.BaseSum,0)			BaseICMS,
			ISNULL(ICMS.TaxRate,0)			AliquotaICMS,
			ISNULL(ICMS.TaxSum,0)			ValorICMS,
			ISNULL(ICMS.TaxRate,0)          AliqICMS,
			ISNULL(ICMS.U_OthAmtl,0)        OutrosICMS,
			ISNULL(ICMS.U_ExcAmtl,0)        IsentoICMS,
			ISNULL(ICMS_ST.BaseSum,0)		BaseICMS_ST,
			ISNULL(ICMS_ST.TaxRate,0)		AliquotaICMS_ST,
			ISNULL(ICMS_ST.TaxSum,0)		ValorICMS_ST,
			ISNULL(IPI.BaseSum,0)			BaseIPI,
			ISNULL(IPI.TaxRate,0)			AliquotaIPI,
			ISNULL(IPI.TaxSum,0)			ValorIPI,
			ISNULL(IPI.TaxRate,0)			AliqIPI,
			ISNULL(IPI.U_OthAmtl,0)         OutrosIPI,
			ISNULL(IPI.U_ExcAmtl,0)         IsentoIPI

	
		FROM ORDN WITH(NOLOCK)
			INNER JOIN RDN1 WITH(NOLOCK)
				ON RDN1.DocEntry = ORDN.DocEntry
			LEFT JOIN (
					SELECT RDN4.DocEntry, RDN4.LineNum, SUM(RDN4.TaxSum) TaxSum, SUM(RDN4.BaseSum) BaseSum, RDN4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
					FROM RDN4 WITH(NOLOCK) 
						INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = RDN4.StaType
						INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS'
					GROUP BY RDN4.DocEntry, RDN4.LineNum, RDN4.TaxRate, U_OthAmtl, U_ExcAmtl
				) ICMS
				ON ICMS.DocEntry = RDN1.DocEntry
				AND ICMS.LineNum = RDN1.LineNum
			LEFT JOIN (
				SELECT RDN4.DocEntry, RDN4.LineNum, SUM(RDN4.TaxSum) TaxSum, SUM(RDN4.BaseSum) BaseSum, RDN4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM RDN4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = RDN4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS-ST'
				GROUP BY RDN4.DocEntry, RDN4.LineNum, RDN4.TaxRate, U_OthAmtl, U_ExcAmtl
			) ICMS_ST
				ON ICMS_ST.DocEntry = RDN1.DocEntry
				AND ICMS_ST.LineNum = RDN1.LineNum
			LEFT JOIN (
				SELECT RDN4.DocEntry, RDN4.LineNum, SUM(RDN4.TaxSum) TaxSum, SUM(RDN4.BaseSum) BaseSum, RDN4.TaxRate,  SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM RDN4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = RDN4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'IPI'
				GROUP BY RDN4.DocEntry, RDN4.LineNum, RDN4.TaxRate, U_OthAmtl, U_ExcAmtl
			) IPI
				ON IPI.DocEntry = RDN1.DocEntry
				AND IPI.LineNum = RDN1.LineNum
		WHERE 
		0=0
		and ORDN.DocDate BETWEEN @DataDe AND @DataAte
		AND ORDN.BPLId = @Filial
		AND ORDN.CANCELED = 'N' AND Model IN (1, 3, 5, 39)

INSERT INTO @Docs2
	SELECT 
			ORIN.DocEntry					DocEntry,
			ORIN.ObjType					ObjType,
			RIN1.LineTotal                  LineTotal,
			RIN1.DistribSum	                DistribSum,
			RIN1.CFOPCode					CFOP, 
			ISNULL(ICMS.BaseSum,0)			BaseICMS,
			ISNULL(ICMS.TaxRate,0)			AliquotaICMS,
			ISNULL(ICMS.TaxSum,0)			ValorICMS,
			ISNULL(ICMS.TaxRate,0)          AliqICMS,
			ISNULL(ICMS.U_OthAmtl,0)        OutrosICMS,
			ISNULL(ICMS.U_ExcAmtl,0)        IsentoICMS,
			ISNULL(ICMS_ST.BaseSum,0)		BaseICMS_ST,
			ISNULL(ICMS_ST.TaxRate,0)		AliquotaICMS_ST,
			ISNULL(ICMS_ST.TaxSum,0)		ValorICMS_ST,
			ISNULL(IPI.BaseSum,0)			BaseIPI,
			ISNULL(IPI.TaxRate,0)			AliquotaIPI,
			ISNULL(IPI.TaxSum,0)			ValorIPI,
			ISNULL(IPI.TaxRate,0)			AliqIPI,
			ISNULL(IPI.U_OthAmtl,0)         OutrosIPI,
			ISNULL(IPI.U_ExcAmtl,0)         IsentoIPI

	
		FROM ORIN WITH(NOLOCK)
			INNER JOIN RIN1 WITH(NOLOCK)
				ON RIN1.DocEntry = ORIN.DocEntry
			LEFT JOIN (
					SELECT RIN4.DocEntry, RIN4.LineNum, SUM(RIN4.TaxSum) TaxSum, SUM(RIN4.BaseSum) BaseSum, RIN4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
					FROM RIN4 WITH(NOLOCK) 
						INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = RIN4.StaType
						INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS'
					GROUP BY RIN4.DocEntry, RIN4.LineNum, RIN4.TaxRate, U_OthAmtl, U_ExcAmtl
				) ICMS
				ON ICMS.DocEntry = RIN1.DocEntry
				AND ICMS.LineNum = RIN1.LineNum
			LEFT JOIN (
				SELECT RIN4.DocEntry, RIN4.LineNum, SUM(RIN4.TaxSum) TaxSum, SUM(RIN4.BaseSum) BaseSum, RIN4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM RIN4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = RIN4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS-ST'
				GROUP BY RIN4.DocEntry, RIN4.LineNum, RIN4.TaxRate, U_OthAmtl, U_ExcAmtl
			) ICMS_ST
				ON ICMS_ST.DocEntry = RIN1.DocEntry
				AND ICMS_ST.LineNum = RIN1.LineNum
			LEFT JOIN (
				SELECT RIN4.DocEntry, RIN4.LineNum, SUM(RIN4.TaxSum) TaxSum, SUM(RIN4.BaseSum) BaseSum, RIN4.TaxRate,  SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM RIN4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = RIN4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'IPI'
				GROUP BY RIN4.DocEntry, RIN4.LineNum, RIN4.TaxRate, U_OthAmtl, U_ExcAmtl
			) IPI
				ON IPI.DocEntry = RIN1.DocEntry
				AND IPI.LineNum = RIN1.LineNum
		WHERE 
		0=0
		and ORIN.DocDate BETWEEN @DataDe AND @DataAte
		AND ORIN.BPLId = @Filial
		AND ORIN.CANCELED = 'N' AND Model IN (1, 3, 5, 39)

INSERT INTO @Docs2
	SELECT 
			ODLN.DocEntry					DocEntry,
			ODLN.ObjType					ObjType,
			DLN1.LineTotal                  LineTotal,
			DLN1.DistribSum	                DistribSum,
			DLN1.CFOPCode					CFOP, 
			ISNULL(ICMS.BaseSum,0)			BaseICMS,
			ISNULL(ICMS.TaxRate,0)			AliquotaICMS,
			ISNULL(ICMS.TaxSum,0)			ValorICMS,
			ISNULL(ICMS.TaxRate,0)          AliqICMS,
			ISNULL(ICMS.U_OthAmtl,0)        OutrosICMS,
			ISNULL(ICMS.U_ExcAmtl,0)        IsentoICMS,
			ISNULL(ICMS_ST.BaseSum,0)		BaseICMS_ST,
			ISNULL(ICMS_ST.TaxRate,0)		AliquotaICMS_ST,
			ISNULL(ICMS_ST.TaxSum,0)		ValorICMS_ST,
			ISNULL(IPI.BaseSum,0)			BaseIPI,
			ISNULL(IPI.TaxRate,0)			AliquotaIPI,
			ISNULL(IPI.TaxSum,0)			ValorIPI,
			ISNULL(IPI.TaxRate,0)			AliqIPI,
			ISNULL(IPI.U_OthAmtl,0)         OutrosIPI,
			ISNULL(IPI.U_ExcAmtl,0)         IsentoIPI

	
		FROM ODLN WITH(NOLOCK)
			INNER JOIN DLN1 WITH(NOLOCK)
				ON DLN1.DocEntry = ODLN.DocEntry
			LEFT JOIN (
					SELECT DLN4.DocEntry, DLN4.LineNum, SUM(DLN4.TaxSum) TaxSum, SUM(DLN4.BaseSum) BaseSum, DLN4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
					FROM DLN4 WITH(NOLOCK) 
						INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = DLN4.StaType
						INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS'
					GROUP BY DLN4.DocEntry, DLN4.LineNum, DLN4.TaxRate, U_OthAmtl, U_ExcAmtl
				) ICMS
				ON ICMS.DocEntry = DLN1.DocEntry
				AND ICMS.LineNum = DLN1.LineNum
			LEFT JOIN (
				SELECT DLN4.DocEntry, DLN4.LineNum, SUM(DLN4.TaxSum) TaxSum, SUM(DLN4.BaseSum) BaseSum, DLN4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM DLN4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = DLN4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS-ST'
				GROUP BY DLN4.DocEntry, DLN4.LineNum, DLN4.TaxRate, U_OthAmtl, U_ExcAmtl
			) ICMS_ST
				ON ICMS_ST.DocEntry = DLN1.DocEntry
				AND ICMS_ST.LineNum = DLN1.LineNum
			LEFT JOIN (
				SELECT DLN4.DocEntry, DLN4.LineNum, SUM(DLN4.TaxSum) TaxSum, SUM(DLN4.BaseSum) BaseSum, DLN4.TaxRate,  SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM DLN4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = DLN4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'IPI'
				GROUP BY DLN4.DocEntry, DLN4.LineNum, DLN4.TaxRate, U_OthAmtl, U_ExcAmtl
			) IPI
				ON IPI.DocEntry = DLN1.DocEntry
				AND IPI.LineNum = DLN1.LineNum
		WHERE 
		0=0
		and ODLN.DocDate BETWEEN @DataDe AND @DataAte
		AND ODLN.BPLId = @Filial
		AND ODLN.CANCELED = 'N' AND Model IN (1, 3, 5, 39)
		AND ISNULL(DLN1.TargetType, 0) <> 13

INSERT INTO @Docs2
	SELECT 
			OINV.DocEntry					DocEntry,
			OINV.ObjType					ObjType,
			INV1.LineTotal                  LineTotal,
			INV1.DistribSum	                DistribSum,
			INV1.CFOPCode					CFOP, 
			ISNULL(ICMS.BaseSum,0)			BaseICMS,
			ISNULL(ICMS.TaxRate,0)			AliquotaICMS,
			ISNULL(ICMS.TaxSum,0)			ValorICMS,
			ISNULL(ICMS.TaxRate,0)          AliqICMS,
			ISNULL(ICMS.U_OthAmtl,0)        OutrosICMS,
			ISNULL(ICMS.U_ExcAmtl,0)        IsentoICMS,
			ISNULL(ICMS_ST.BaseSum,0)		BaseICMS_ST,
			ISNULL(ICMS_ST.TaxRate,0)		AliquotaICMS_ST,
			ISNULL(ICMS_ST.TaxSum,0)		ValorICMS_ST,
			ISNULL(IPI.BaseSum,0)			BaseIPI,
			ISNULL(IPI.TaxRate,0)			AliquotaIPI,
			ISNULL(IPI.TaxSum,0)			ValorIPI,
			ISNULL(IPI.TaxRate,0)			AliqIPI,
			ISNULL(IPI.U_OthAmtl,0)         OutrosIPI,
			ISNULL(IPI.U_ExcAmtl,0)         IsentoIPI

	
		FROM OINV WITH(NOLOCK)
			INNER JOIN INV1 WITH(NOLOCK)
				ON INV1.DocEntry = OINV.DocEntry
			LEFT JOIN (
					SELECT INV4.DocEntry, INV4.LineNum, SUM(INV4.TaxSum) TaxSum, SUM(INV4.BaseSum) BaseSum, INV4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
					FROM INV4 WITH(NOLOCK) 
						INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = INV4.StaType
						INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS'
					GROUP BY INV4.DocEntry, INV4.LineNum, INV4.TaxRate, U_OthAmtl, U_ExcAmtl
				) ICMS
				ON ICMS.DocEntry = INV1.DocEntry
				AND ICMS.LineNum = INV1.LineNum
			LEFT JOIN (
				SELECT INV4.DocEntry, INV4.LineNum, SUM(INV4.TaxSum) TaxSum, SUM(INV4.BaseSum) BaseSum, INV4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM INV4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = INV4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS-ST'
				GROUP BY INV4.DocEntry, INV4.LineNum, INV4.TaxRate, U_OthAmtl, U_ExcAmtl
			) ICMS_ST
				ON ICMS_ST.DocEntry = INV1.DocEntry
				AND ICMS_ST.LineNum = INV1.LineNum
			LEFT JOIN (
				SELECT INV4.DocEntry, INV4.LineNum, SUM(INV4.TaxSum) TaxSum, SUM(INV4.BaseSum) BaseSum, INV4.TaxRate,  SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM INV4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = INV4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'IPI'
				GROUP BY INV4.DocEntry, INV4.LineNum, INV4.TaxRate, U_OthAmtl, U_ExcAmtl
			) IPI
				ON IPI.DocEntry = INV1.DocEntry
				AND IPI.LineNum = INV1.LineNum
		WHERE 
		0=0
		and OINV.DocDate BETWEEN @DataDe AND @DataAte
		AND OINV.BPLId = @Filial
		AND OINV.CANCELED = 'N' AND Model IN (1, 3, 5, 39)

INSERT INTO @Docs2
	SELECT 
			ORPD.DocEntry					DocEntry,
			ORPD.ObjType					ObjType,
			RPD1.LineTotal                  LineTotal,
			RPD1.DistribSum	                DistribSum,
			RPD1.CFOPCode					CFOP, 
			ISNULL(ICMS.BaseSum,0)			BaseICMS,
			ISNULL(ICMS.TaxRate,0)			AliquotaICMS,
			ISNULL(ICMS.TaxSum,0)			ValorICMS,
			ISNULL(ICMS.TaxRate,0)          AliqICMS,
			ISNULL(ICMS.U_OthAmtl,0)        OutrosICMS,
			ISNULL(ICMS.U_ExcAmtl,0)        IsentoICMS,
			ISNULL(ICMS_ST.BaseSum,0)		BaseICMS_ST,
			ISNULL(ICMS_ST.TaxRate,0)		AliquotaICMS_ST,
			ISNULL(ICMS_ST.TaxSum,0)		ValorICMS_ST,
			ISNULL(IPI.BaseSum,0)			BaseIPI,
			ISNULL(IPI.TaxRate,0)			AliquotaIPI,
			ISNULL(IPI.TaxSum,0)			ValorIPI,
			ISNULL(IPI.TaxRate,0)			AliqIPI,
			ISNULL(IPI.U_OthAmtl,0)         OutrosIPI,
			ISNULL(IPI.U_ExcAmtl,0)         IsentoIPI

	
		FROM ORPD WITH(NOLOCK)
			INNER JOIN RPD1 WITH(NOLOCK)
				ON RPD1.DocEntry = ORPD.DocEntry
			LEFT JOIN (
					SELECT RPD4.DocEntry, RPD4.LineNum, SUM(RPD4.TaxSum) TaxSum, SUM(RPD4.BaseSum) BaseSum, RPD4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
					FROM RPD4 WITH(NOLOCK) 
						INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = RPD4.StaType
						INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS'
					GROUP BY RPD4.DocEntry, RPD4.LineNum, RPD4.TaxRate, U_OthAmtl, U_ExcAmtl
				) ICMS
				ON ICMS.DocEntry = RPD1.DocEntry
				AND ICMS.LineNum = RPD1.LineNum
			LEFT JOIN (
				SELECT RPD4.DocEntry, RPD4.LineNum, SUM(RPD4.TaxSum) TaxSum, SUM(RPD4.BaseSum) BaseSum, RPD4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM RPD4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = RPD4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS-ST'
				GROUP BY RPD4.DocEntry, RPD4.LineNum, RPD4.TaxRate, U_OthAmtl, U_ExcAmtl
			) ICMS_ST
				ON ICMS_ST.DocEntry = RPD1.DocEntry
				AND ICMS_ST.LineNum = RPD1.LineNum
			LEFT JOIN (
				SELECT RPD4.DocEntry, RPD4.LineNum, SUM(RPD4.TaxSum) TaxSum, SUM(RPD4.BaseSum) BaseSum, RPD4.TaxRate,  SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM RPD4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = RPD4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'IPI'
				GROUP BY RPD4.DocEntry, RPD4.LineNum, RPD4.TaxRate, U_OthAmtl, U_ExcAmtl
			) IPI
				ON IPI.DocEntry = RPD1.DocEntry
				AND IPI.LineNum = RPD1.LineNum
		WHERE 
		0=0
		and ORPD.DocDate BETWEEN @DataDe AND @DataAte
		AND ORPD.BPLId = @Filial
		AND ORPD.CANCELED = 'N' AND Model IN (1, 3, 5, 39)


INSERT INTO @Docs2
	SELECT 
			ORPC.DocEntry					DocEntry,
			ORPC.ObjType					ObjType,
			RPC1.LineTotal                  LineTotal,
			RPC1.DistribSum	                DistribSum,
			RPC1.CFOPCode					CFOP, 
			ISNULL(ICMS.BaseSum,0)			BaseICMS,
			ISNULL(ICMS.TaxRate,0)			AliquotaICMS,
			ISNULL(ICMS.TaxSum,0)			ValorICMS,
			ISNULL(ICMS.TaxRate,0)          AliqICMS,
			ISNULL(ICMS.U_OthAmtl,0)        OutrosICMS,
			ISNULL(ICMS.U_ExcAmtl,0)        IsentoICMS,
			ISNULL(ICMS_ST.BaseSum,0)		BaseICMS_ST,
			ISNULL(ICMS_ST.TaxRate,0)		AliquotaICMS_ST,
			ISNULL(ICMS_ST.TaxSum,0)		ValorICMS_ST,
			ISNULL(IPI.BaseSum,0)			BaseIPI,
			ISNULL(IPI.TaxRate,0)			AliquotaIPI,
			ISNULL(IPI.TaxSum,0)			ValorIPI,
			ISNULL(IPI.TaxRate,0)			AliqIPI,
			ISNULL(IPI.U_OthAmtl,0)         OutrosIPI,
			ISNULL(IPI.U_ExcAmtl,0)         IsentoIPI

	
		FROM ORPC WITH(NOLOCK)
			INNER JOIN RPC1 WITH(NOLOCK)
				ON RPC1.DocEntry = ORPC.DocEntry
			LEFT JOIN (
					SELECT RPC4.DocEntry, RPC4.LineNum, SUM(RPC4.TaxSum) TaxSum, SUM(RPC4.BaseSum) BaseSum, RPC4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
					FROM RPC4 WITH(NOLOCK) 
						INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = RPC4.StaType
						INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS'
					GROUP BY RPC4.DocEntry, RPC4.LineNum, RPC4.TaxRate, U_OthAmtl, U_ExcAmtl
				) ICMS
				ON ICMS.DocEntry = RPC1.DocEntry
				AND ICMS.LineNum = RPC1.LineNum
			LEFT JOIN (
				SELECT RPC4.DocEntry, RPC4.LineNum, SUM(RPC4.TaxSum) TaxSum, SUM(RPC4.BaseSum) BaseSum, RPC4.TaxRate, SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM RPC4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = RPC4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'ICMS-ST'
				GROUP BY RPC4.DocEntry, RPC4.LineNum, RPC4.TaxRate, U_OthAmtl, U_ExcAmtl
			) ICMS_ST
				ON ICMS_ST.DocEntry = RPC1.DocEntry
				AND ICMS_ST.LineNum = RPC1.LineNum
			LEFT JOIN (
				SELECT RPC4.DocEntry, RPC4.LineNum, SUM(RPC4.TaxSum) TaxSum, SUM(RPC4.BaseSum) BaseSum, RPC4.TaxRate,  SUM(U_OthAmtl) U_OthAmtl, SUM(U_ExcAmtl) U_ExcAmtl
				FROM RPC4 WITH(NOLOCK) 
					INNER JOIN OSTT WITH(NOLOCK) ON OSTT.AbsId = RPC4.StaType
					INNER JOIN ONFT WITH(NOLOCK) ON ONFT.AbsId = OSTT.NfTaxId AND ONFT.Code = 'IPI'
				GROUP BY RPC4.DocEntry, RPC4.LineNum, RPC4.TaxRate, U_OthAmtl, U_ExcAmtl
			) IPI
				ON IPI.DocEntry = RPC1.DocEntry
				AND IPI.LineNum = RPC1.LineNum
		WHERE 
		0=0
		and ORPC.DocDate BETWEEN @DataDe AND @DataAte
		AND ORPC.BPLId = @Filial
		AND ORPC.CANCELED = 'N' AND Model IN (1, 3, 5, 39)	


INSERT INTO @Docs
	SELECT 
			DocEntry							DocEntry,
			ObjType								ObjType,
			'E025'								LIN,
			SUM(LineTotal) + SUM(DistribSum)	VL_CONT_P,
			0.00								VL_OP_ISS_P,
			CFOP								CFOP,
			SUM(BaseICMS)						VL_BC_ICMS_P,
			AliqICMS							ALIQ_ICMS,
			SUM(ValorICMS)						VL_ICMS_P,
			SUM(BaseICMS_ST)					VL_BC_ST_P,
			SUM(ValorICMS_ST)					VL_ICMS_ST_P,
			SUM(IsentoICMS)						VL_ISNT_ICMS_P,
			SUM(OutrosICMS)						VL_OUT_ICMS_P,
			SUM(BaseIPI)						VL_BC_IPI_P,
			SUM(ValorIPI)						VL_IPI_P,
			SUM(IsentoIPI)						VL_ISNT_IPI_P,
			SUM(OutrosIPI)						VL_OUT_IPI_P,
			0									IND_PETR,
			''									IND_IMUN

				FROM @Docs2
				GROUP BY 
					DocEntry,
					ObjType,
					CFOP,
					AliqICMS,
					ALiqIPI
				ORDER BY DocEntry,ObjType,CFOP




RETURN
END