USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_APON_EXT]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_APON_EXT]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
FILTRO PARA CONSULTA DE APONTAMENTOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR		   INT
,@DATA_INICIAL DATETIME
,@DATA_FINAL   DATETIME
,@ID_PRJ       INT
,@STU_ID       INT
,@CLI_ID       INT
,@ID_CHA	   INT
/*------------------------------*/
AS
BEGIN
	SELECT DISTINCT
		T0.HOR_INI AS 'InitHour'
		,ISNULL(T0.HOR_INT, '00:00:00') AS 'IntervalHour'
		,T0.HOR_SAI AS 'FinishHour'
		,T0.DSCR    AS 'Description'
		,T0.SOL     AS 'Requester'
		,T0.DAT     AS 'Date'
		,T1.NOM		AS 'User.Name'
		,T4.COD     AS 'Project.Codigo'
		,T4.TAG     AS 'Project.Tag'
		,T4.NOM     AS 'Project.Nome'
		,T5.FUNC    AS 'Specialty.Name'
		,T6.FAN		AS 'Client.Name'
		,T0.ID_CHA  AS 'Ticket.NumTck'
		,T8.NOM	    AS 'ProjectType.Name'
	
	FROM CVA_APON T0
	INNER JOIN CVA_USR	  T1		ON T1.ID = T0.USR
	INNER JOIN CVA_USR1   T2	    ON T2.USR_ID = T0.USR
	INNER JOIN CVA_COL    T3	    ON T3.ID = T2.COL_ID
	INNER JOIN CVA_PRJ    T4	    ON T0.ID_PRJ = T4.ID
	INNER JOIN CVA_FUNC   T5	    ON T5.ID = T0.ID_SPC
	INNER JOIN CVA_CLI    T6	    ON T6.ID = T4.ID_CLI
	INNER JOIN CVA_TIPOSPROJETO T8 ON T8.ID = T4.ID_TIP_PRJ
	
	WHERE 1 = 1
		AND T3.ID								 = CASE WHEN @USR = 0              THEN T3.ID ELSE @USR END
		AND DATEADD(dd,DATEDIFF(dd,0,T0.DAT),0) >= CASE WHEN @DATA_INICIAL IS NULL THEN DATEADD(dd,DATEDIFF(dd,0,T0.DAT),0) ELSE DATEADD(dd,DATEDIFF(dd,0,@DATA_INICIAL),0) END
		AND DATEADD(dd,DATEDIFF(dd,0,T0.DAT),0) <= CASE WHEN @DATA_FINAL IS NULL   THEN DATEADD(dd,DATEDIFF(dd,0,T0.DAT),0) ELSE DATEADD(dd,DATEDIFF(dd,0,@DATA_FINAL	),0) END
		AND T0.ID_PRJ							 = CASE WHEN @ID_PRJ = 0           THEN T0.ID_PRJ ELSE @ID_PRJ END
		AND T0.STU								 = CASE WHEN @STU_ID = 0           THEN T0.STU ELSE @STU_ID END
		AND T6.ID							     = CASE WHEN @CLI_ID = 0           THEN T6.ID ELSE @CLI_ID END
		--AND T0.ID_CHA      				  = CASE WHEN @ID_CHA = 0		   THEN T0.ID_CHA ELSE @ID_CHA END 
		AND CASE WHEN @ID_CHA = 0 THEN  ISNULL(T0.ID_CHA,0) ELSE @ID_CHA END = ISNULL(T0.ID_CHA,0)
	ORDER BY
		T0.DAT
END
GO
