USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PER_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_PER_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA O CADASTRO DE PERFIL
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@PER VARCHAR(200)
,@DSCR VARCHAR(2000)
,@FIN_ACC VARCHAR(1)
,@ID INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_PER SET
		 UPD = GETDATE()
		,USR = @USR
		,STU = @STU
		,PER = @PER
		,DSCR = @DSCR
		,FIN_ACC = @FIN_ACC
	
	WHERE ID = @ID
	
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
