USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL1_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_COL1_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA UMA ESPECIALIDADE ESPECIFICA
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID_COL INT
,@ID_FUNC INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 ID
		,COL
		,FUNC

	FROM CVA_COL1

	WHERE COL = @ID_COL
		AND FUNC = @ID_FUNC
END
GO
