USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_STATUSREPORT_GET_PARCIAL]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_STATUSREPORT_GET_PARCIAL]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA UM STATUSREPORT
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T1.ID		AS 'Projeto.Id'
		,T1.COD		AS 'Projeto.Codigo'
		,T1.TAG		AS 'Projeto.Tag'
		,T1.NOM		AS 'Projeto.Nome'
		,T0.DAT		AS 'Data'
		,T0.DSC		AS 'Descricao'
		,T0.PON_ATC AS 'PontosAtencao'
		,T0.PLN_ACA AS 'PlanoDeAcao'
		,T0.CQT		AS 'Conquistas'
		,T0.PRX_PAS AS 'ProximosPassos'
		,T0.PCT_CON AS 'Concluido'
		,T2.NOM		AS 'GerenteProjeto.Nome'
		,T0.HOR_ORC AS 'HorasOrcadas'
		,T0.HOR_CON AS 'HorasConsumidas'
		,T5.NOM		AS 'Fase.Nome'
		,T3.DAT_INI	AS 'Fase.DataInicio'
		,T3.DAT_PRV	AS 'Fase.DataPrevista'
		,T3.HOR_ORC AS 'Fase.HorasOrcadas'
		,T3.HOR_USD	AS 'Fase.HorasConsumidas'
		,T3.PCT_CON	AS 'Fase.Concluido'

	FROM CVA_PROJETOS_STATUSREPORT T0
	INNER JOIN CVA_PRJ T1 ON T1.ID = T0.ID_PRJ
	INNER JOIN CVA_COL T2 ON T2.ID = T0.ID_GER
	INNER JOIN CVA_PROJETOS_FASES T3 ON T3.ID_PRJ = T1.ID
	LEFT JOIN CVA_STATUSREPORT_FASES T4 ON T4.ID_STU_RPT = T0.ID AND T4.ID_FAS_PRJ = T3.ID
	INNER JOIN CVA_FAS_PRJ T5 ON T5.ID = T3.ID_FAS

	WHERE T0.ID = @ID
END
GO
