USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_TIP_DESP_GET_DESP]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_TIP_DESP_GET_DESP]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA O TIPO DE DESPESA POR ID DE DESPESA
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID
		,T0.NOM
		,T0.UN_MED
	
	FROM CVA_TIP_DESP T0
	INNER JOIN CVA_DESP T1 ON T1.ID_TIP_DESP = T0.ID
	
	WHERE T1.ID = @ID
END
GO
