USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_COL_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA UM COLABORADOR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @NOM VARCHAR(200)
,@STU INT
,@USR INT
,@EMA VARCHAR(200)
,@TEL VARCHAR(20)
,@CEL VARCHAR(20)
,@DT_NASC DATETIME
,@GEN INT
,@EST_CIV INT
,@RG VARCHAR(20)
,@CPF VARCHAR(20)
,@CNPJ VARCHAR(20)
,@PASS VARCHAR(20)
,@EMI_RG DATETIME
,@ORG_EXP VARCHAR(50)
,@VAL_PAS DATETIME
,@NAT VARCHAR(200)
,@NAC VARCHAR(200)
,@PRJ_MAN INT
,@TYP INT
,@ID_ADR INT
,@ID INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_COL
		 SET UPD = GETDATE()
		,NOM = @NOM
		,STU = @STU
		,USR = @USR
		,EMA = @EMA
		,TEL = @TEL
		,CEL = @CEL
		,DT_NASC = @DT_NASC
		,GEN = @GEN
		,EST_CIV = @EST_CIV
		,RG = @RG
		,CPF = @CPF
		,CNPJ = @CNPJ
		,PASS = @PASS
		,VAL_PAS = @VAL_PAS
		,EMI_RG = @EMI_RG
		,ORG_EXP = @ORG_EXP
		,NAT = @NAT
		,NAC = @NAC
		,PRJ_MAN = @PRJ_MAN
		,TYP = @TYP
		
	WHERE ID = @ID

	INSERT INTO CVA_COL_ADR VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@ID
		,@ID_ADR)
		
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
