USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PER_GET_USR]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PER_GET_USR]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA O PERFIL DO USUÁRIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T1.ID		AS 'Id'
		,T1.PER		AS 'Name'
		,T1.DSCR	AS 'Description'
		,T1.FIN_ACC AS 'FinancialAccess'
	
	FROM CVA_USR2 T0
	INNER JOIN CVA_PER T1 ON T1.ID = T0.PER_ID
	
	WHERE T0.USR_ID = @ID
END
GO
