USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CLI2_DEL]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_CLI2_DEL]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
REMOVE OS ENDEREÇOS DO CLIENTE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT CVA_ADR.ID
		INTO #TEMP_ADR
	
	FROM CVA_ADR
	INNER JOIN CVA_CLI2 ON CVA_CLI2.ADR_ID = CVA_ADR.ID
	
	WHERE CVA_CLI2.CLI_ID = @ID

	DELETE FROM CVA_CLI2
	
	WHERE CLI_ID = @ID

	DELETE CVA_ADR FROM CVA_ADR
	INNER JOIN #TEMP_ADR ON #TEMP_ADR.ID = CVA_ADR.ID
		 
	DROP TABLE #TEMP_ADR

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
