USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_USR_GET_ID]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_USR_GET_ID]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS USUARIOS A PARTIR DO ID
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID		AS 'Id'
		,T0.STU		AS 'StatusId'
		,T0.NOM		AS 'Name'
		,T0.EML		AS 'Email'
		,T0.EXT_USR AS 'ExternalUser'
		,T1.ID		AS 'ProjectBonded.Id'
		,T1.COD		AS 'ProjectBonded.Code'

	FROM CVA_USR T0
	LEFT JOIN CVA_PRJ T1 ON T1.ID = T0.PRJ_BND
		
	WHERE T0.ID = @ID
END
GO
