USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_GET_FIL]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_COL_GET_FIL]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS COLABORADORES CONFORME OS FILTROS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @NAME VARCHAR(50)
,@CPF VARCHAR(11)
,@CNPJ VARCHAR(14)
,@SECTOR INT
,@SPECIALTY INT
,@STATUS INT
/*------------------------------*/
AS
BEGIN
	SELECT DISTINCT
		 T0.ID		AS 'Id'
        ,T0.NOM		AS 'Nome'   
        ,T0.CPF		AS 'CPF'
        ,T0.CNPJ	AS 'CNPJ'
        ,T0.EMA		AS 'Email'
		,T0.DT_NASC AS 'DataNascimento'
        ,D2.ID		AS 'Status.Id'
        ,D2.NOM		AS 'Status.Descricao'
	
	FROM CVA_COL T0
	INNER JOIN CVA_COL1 T1 ON T1.COL = T0.ID
	INNER JOIN CVA_STU  D2    ON D2.ID = T0.STU
  
	WHERE 1 = 1
		AND T0.NOM  LIKE '%' + @NAME +'%'
		AND T0.CPF  = CASE WHEN @CPF  = '' THEN T0.CPF  ELSE @CPF END
		AND T0.CNPJ = CASE WHEN @CNPJ = '' THEN T0.CNPJ ELSE @CNPJ END
		AND T0.STU  = CASE WHEN @STATUS = 0 THEN T0.STU ELSE @STATUS END
  
	ORDER BY T0.NOM
END
GO
