USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_POL_DESP_PRJ_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_POL_DESP_PRJ_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA A POLITICA DE DESPESA POR PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID INT
,@USR INT
/*------------------------------*/
AS
BEGIN
	IF (@USR = 13 OR @USR = 18 OR @USR = 24 OR @USR = 43 OR @USR = 52 OR @USR = 54)
	BEGIN
		IF((SELECT RSP_DSP FROM CVA_PRJ WHERE ID = @ID) = 'Cliente')
		BEGIN
			SELECT
				 T2.ID		AS 'Expense.Id'
				,T2.NOM		AS 'Expense.Name'
				,T0.VLR		AS 'Value'
				,T2.UN_MED	AS 'Expense.UnitMeter'
			
			FROM CVA_CLI5 T0
			INNER JOIN CVA_TIP_DESP T2 ON T0.ID_TIP_DESP = T2.ID
			
			WHERE T0.ID_CLI = (SELECT ID_CLI FROM CVA_PRJ WHERE ID = @ID)
		END
	
		ELSE
		BEGIN
			SELECT
				 T2.ID		AS 'Expense.Id'
				,T2.NOM		AS 'Expense.Name'
				,T0.VLR		AS 'Value'
				,T2.UN_MED	AS 'Expense.UnitMeter'
			
			FROM CVA_CLI5 T0
			INNER JOIN CVA_TIP_DESP T2 ON T0.ID_TIP_DESP = T2.ID
			
			WHERE T0.ID_CLI = 7--(SELECT ID_CLI FROM CVA_PRJ WHERE ID = @ID)
		END
	END
	
	ELSE--NAO DIRETORIA/COMERCIAL
	BEGIN
		IF((SELECT RSP_DSP FROM CVA_PRJ WHERE ID = @ID) = 'Cliente')
		BEGIN
			SELECT
				 T2.ID		AS 'Expense.Id'
				,T2.NOM		AS 'Expense.Name'
				,T0.VLR		AS 'Value'
				,T2.UN_MED	AS 'Expense.UnitMeter'
				
			FROM CVA_CLI5 T0
			INNER JOIN CVA_TIP_DESP T2 ON T0.ID_TIP_DESP = T2.ID
			
			WHERE T0.ID_CLI = (SELECT ID_CLI FROM CVA_PRJ WHERE ID = @ID)
				AND T2.ID <> 14
		END
		
		ELSE
		BEGIN
			SELECT
				 T2.ID		AS 'Expense.Id'
				,T2.NOM		AS 'Expense.Name'
				,T0.VLR		AS 'Value'
				,T2.UN_MED	AS 'Expense.UnitMeter'
			
			FROM CVA_CLI5 T0
			INNER JOIN CVA_TIP_DESP T2 ON T0.ID_TIP_DESP = T2.ID
			
			WHERE T0.ID_CLI = 7--(SELECT ID_CLI FROM CVA_PRJ WHERE ID = @ID)
				AND T2.ID <> 14
		END
	END
END
GO
