USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COLABORADORES_ESPECIALIDADES_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_COLABORADORES_ESPECIALIDADES_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS ESPECIALIDADES DO COLABORADOR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID		AS 'Id'
		,T0.STU		AS 'StatusId'
		,T0.FUNC	AS 'Name'
		,T0.DSCR	AS 'Description'
		,T1.VAL_PAY	AS 'Value'
	
	FROM CVA_FUNC T0
	INNER JOIN CVA_COL1 T1 ON T1.FUNC = T0.ID

	WHERE T1.COL = @ID
END
GO
