USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_ADR_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CVA_ADR_UPD]
/*--------------------------------------------
 ___________________________________________
|PROJETO:	CVA_GESTAO						|
|AUTOR:		GIULIANO COSTA					|
|DATA:		06/05/2016	-	15H22M			|
|___________________________________________|

CHANGE LOGS:
CRIACAO DA PROCEDURE	-	06/05/2016 15H22M
_____________________________________________

DESCRICAO:
ATUALIZA O REGISTRO DE ENDEREÇO
--------------------------------------------*/
@USR INT
,@STU INT
,@STT VARCHAR(200)
,@STTNO VARCHAR(50)
,@BLC VARCHAR(200)
,@CIT VARCHAR(200)
,@UF INT
,@ZIP VARCHAR(200)
,@ID INT
AS
BEGIN
		UPDATE CVA_ADR SET
			UPD = GETDATE()
			,USR = @USR
			,STU = @STU
			,STT = @STT
			,STTNO = @STTNO
			,BLC = @BLC
			,CIT = @CIT
			,UF = @UF
			,ZIP = @ZIP
		WHERE ID = @ID

		SELECT @@ROWCOUNT AS SUCCESS
	END
GO
