USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_VIEW_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_VIEW_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODAS AS TELAS ATIVAS DO SISTEMA
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID		AS 'Id'
		,T0.VIE		AS 'Name'
		,T0.DSCR	AS 'Description'
		,T0.SIG		AS 'Initial'
		
	FROM CVA_VIEW T0
	INNER JOIN CVA_STU T1 ON T1.ID = T0.STU
	
	WHERE T1.IS_ATV = 1
	
	ORDER BY T0.VIE
END
GO
