USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CON_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_CON_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA O REGISTRO DE CONTATO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@NOM VARCHAR(200)
,@EMA VARCHAR(200)
,@TEL VARCHAR(50)
,@CEL VARCHAR(50)
,@SIT VARCHAR(200)
,@ID INT
/*------------------------------*/
AS
BEGIN
	IF(@ID <> 0)
	BEGIN
		UPDATE CVA_CON SET
			 UPD = GETDATE()
			,USR = @USR
			,STU = @STU
			,NOM = @NOM
			,EMA = @EMA
			,TEL = @TEL
			,CEL = @CEL
			,SIT = @SIT
			
		WHERE ID = @ID

		SELECT @@ROWCOUNT AS SUCCESSID
	END
	
	ELSE
	BEGIN
		EXEC SP_CVA_CON_INS @USR, @STU,@NOM, @EMA, @TEL, @CEL, @SIT
	END
END
GO
