USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_REMOVE_COLABORADOR]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create PROCEDURE [dbo].[SP_CVA_PROJETOS_REMOVE_COLABORADOR]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
REMOVE UM RECURSO DO PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID_PRJ INT
,@ID_COL INT
/*------------------------------*/
AS
BEGIN
	DELETE CVA_PROJETOS_RECURSOS 
	
	WHERE ID_COL = @ID_COL AND ID_PRJ = @ID_PRJ
	
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
