USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL1_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_COL1_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA AS ESPECIALIDADES DO COLABORADOR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@COL INT
,@FUNC INT
,@VAL_PAY VARCHAR(12)
/*------------------------------*/
AS
BEGIN
	IF EXISTS(SELECT ID FROM CVA_COL1 WHERE COL = @COL AND FUNC = @FUNC)
	BEGIN
		UPDATE CVA_COL1 SET
			 UPD = GETDATE()
			,USR = @USR
			,STU = @STU
			,VAL_PAY = @VAL_PAY
			
		WHERE COL = @COL
			AND FUNC = @FUNC

		SELECT @@ROWCOUNT AS SUCCESS
	END
	
	ELSE
	BEGIN
		INSERT INTO CVA_COL1 VALUES(
			 GETDATE()
			,NULL
			,@USR
			,@STU
			,@COL
			,@FUNC
			,@VAL_PAY)

		SELECT @@ROWCOUNT AS SUCCESS
	END
END
GO
