USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_APON4_LCK]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_APON4_LCK]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
REMOVE UM REGISTRO DE HORAS AUTORIZADAS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	DELETE CVA_COL4 
	
	WHERE ID = @ID
	
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
