USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_REGRAS_GET_BY_PRJ]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_REGRAS_GET_BY_PRJ]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS ESPECIALIDADES DOS RECURSOS DO PROJETO COM VALOR DIFERENCIADO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRJ INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID      AS 'Id'
		,T0.ID_COL AS 'CollaboratorId'
		,T1.NOM    AS 'CollaboratorName'
		,T3.FUNC   AS 'SpecialtyName'
		,T0.ID_SPC AS 'SpecialtyId'
		,T0.VAL    AS 'Value'
		
	FROM CVA_PROJETOS_REGRAS T0 
	INNER JOIN CVA_COL T1 ON T1.ID = T0.ID_COL
	INNER JOIN CVA_FUNC T3 ON T3.ID = T0.ID_SPC

	WHERE T0.ID_PRJ = @ID_PRJ
		AND T0.STU = 1
END
GO
