USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_GET_SOLD_HOURS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_GET_SOLD_HOURS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 13/08/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS HORAS VENDIDAS DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRJ INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T2.FUNC               AS 'Especialidade'
		,SUM(T0.HRS)    AS 'Horas'
		,SUM(T0.HRS_CON) AS 'HorasConsumidas'
	FROM CVA_PROJETOS_RECURSOS    T0
		INNER JOIN CVA_FUNC           T2 ON T0.ID_ESP = T2.ID
	WHERE T0.ID_PRJ = @ID_PRJ
	GROUP BY T2.FUNC
END
GO
