USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_APON_GET_BY_ID]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_APON_GET_BY_ID]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA UM APONTAMENTO PELO ID
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT 
		 T0.ID     AS 'id'
		,T0.USR    AS 'userId'
		,T0.DAT    AS 'noteDate'
		,T0.ID_PRJ AS 'projectId'
		,T2.ID_CLI AS 'clientId'
		,T0.VLR    AS 'Value'
		,T0.ID_FAS AS 'stepId'
		
	FROM CVA_APON T0
	INNER JOIN CVA_PRJ T2 ON T0.ID_PRJ = T2.ID  
	
	WHERE T0.ID = @ID
END
GO
