USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_FUNC_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_FUNC_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA O REGISTRO DE ESPECIALIDADE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@FUNC VARCHAR(200)
,@DSCR VARCHAR(200)
,@VAL VARCHAR(50)
,@TIP_ESP INT
,@ID INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_FUNC SET
		 UPD = GETDATE()
		,USR = @USR
		,STU = @STU
		,FUNC = @FUNC
		,DSCR = @DSCR
		,VAL = @VAL
		,TIP_ESP = @TIP_ESP
		
	WHERE ID = @ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
