USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_FASES_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_FASES_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|AUTOR: ROBSON REIS		        |
|ULT. REVISAO: 01/11/2018       |
|ALT: TRATATIV PARA FASE _______|

DESCRIÇÃO:
INSERE UM NOVO MEMBRO DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT 
,@ID_PRJ INT
,@ID_FAS INT
,@DAT_INI DATETIME
,@DAT_PRV DATETIME
,@HOR_ORC VARCHAR(20)
,@HOR_USD VARCHAR(20)
,@LBR    VARCHAR(1)
/*------------------------------*/
AS
BEGIN

	IF(SELECT COUNT('A') 
		FROM CVA_PROJETOS_FASES 
		WHERE ID_PRJ = @ID_PRJ 
			  AND ID_FAS = @ID_FAS 
			  AND DAT_INI = @DAT_INI 
			  AND DAT_PRV = @DAT_PRV)  = 0
		BEGIN
		INSERT INTO CVA_PROJETOS_FASES VALUES(
			 GETDATE()
			,NULL
			,@USR
			,@STU
			,@ID_PRJ
			,@ID_FAS
			,@DAT_INI
			,@DAT_PRV
			,@HOR_ORC
			,@HOR_USD
			,@LBR)

		SELECT @@IDENTITY AS SUCCESS
	END
	ELSE
	BEGIN
		SELECT 0 AS SUCCESS
	END
END

GO
