USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_APON_GET_USR]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_APON_GET_USR]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS APONTAMENTOS DO USUARIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID		INT,
@Mes	INT,
@Ano	INT
/*------------------------------*/
AS 
BEGIN
	SELECT
		 T0.ID      AS 'Id'
		,T0.HOR_INI AS 'InitHour'
		,T0.HOR_INT AS 'IntervalHour'
		,T0.HOR_SAI AS 'FinishHour'
		,T0.DSCR    AS 'Description'
		,T0.SOL     AS 'Requester'
		,T0.DAT     AS 'Date'
		,T1.NOM		AS 'User.Name'
		,T2.ID      AS 'Project.Id'
		,T2.COD     AS 'Project.Codigo'
		,T2.TAG     AS 'Project.Tag'
		,T2.NOM     AS 'Project.Nome'

		,T2.ID_CLI  AS 'Client.Id'
		
		,T5.ID      AS 'Ticket.Id'
		,T5.NUM_TCK AS 'Ticket.NumTck'
		------,T5.DSCR    AS 'Ticket.Description'
		

		,T4.FUNC    AS 'Specialty.Name'
		,T4.ID      AS 'Specialty.Id'
		------,T0.STU     AS 'StatusId'
		------,T6.NOM     AS 'Status'
		------,T0.VLR	    AS 'Value'

		,T8.FAN		AS 'Client.Name'
		,T9.ID		AS 'ProjectType.Id'
		,T9.NOM		AS 'ProjectType.Name'
		,T0.ID_FAS  AS 'Step.Id'
		,T10.NOM	AS 'Step.Name'

	FROM CVA_APON T0
	INNER JOIN CVA_USR T1 ON T1.ID = T0.USR
	LEFT JOIN CVA_PRJ     T2 ON T2.ID      = T0.ID_PRJ





    LEFT JOIN CVA_FUNC    T4 ON T4.ID      = T0.ID_SPC
	LEFT JOIN CVA_CLI T8 ON T8.ID = T2.ID_CLI
    LEFT JOIN CVA_TCK_IMP T5 ON T5.NUM_TCK      = T0.ID_CHA AND T5.CLI_AMS = T8.DSCR_AMS
    INNER JOIN CVA_STU    T6 ON T0.STU     = T6.ID
    LEFT JOIN CVA_PROJETOS_FASES T7 ON T7.ID = T0.ID_FAS

    INNER JOIN CVA_TIPOSPROJETO T9 ON T9.ID = T2.ID_TIP_PRJ
	INNER JOIN CVA_FAS_PRJ T10 ON T10.ID = T7.ID_FAS

    WHERE 1 = 1 
   	AND T0.USR = @ID
   	AND ((
   		MONTH(T0.DAT) = @Mes
   		AND YEAR(T0.DAT) = @Ano
   		)
   		AND T6.IS_ATV = 1
   	)

    ORDER BY T0.DAT DESC
END
GO
