USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PARAMETRIZACAO_PROJETOS_GET_ALL]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_PARAMETRIZACAO_PROJETOS_GET_ALL]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS PARÂMETROS DE CRIAÇÃO DE PROJETOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT	
		 ID  AS 'Id'
		,EQP AS 'Equipe'
		,DE  AS 'De'
		,ATE AS 'Ate'
			
	FROM CVA_PARAMETRIZACAO_PROJETOS
END
GO
