USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL4_GET_BY_COL]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_COL4_GET_BY_COL]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA O LIMITE DE HORAS LIBERADAS PARA APONTAMENTO POR COLABORADOR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID	    AS 'Id'
		,T1.NOM     AS 'User'
		,T0.ID_COL  AS 'Colaborador'
		,T3.NOM     AS 'ColaboradorNome'
		,T0.DAT	    AS 'Data'
		,T0.MAX_HRS	AS 'Horas'
	
	FROM CVA_COL4 T0
	LEFT JOIN CVA_USR T1 ON T1.ID = T0.USR
	LEFT JOIN CVA_STU T2 ON T2.ID = T0.STU
	LEFT JOIN CVA_COL T3 ON T3.ID = T0.ID_COL

	WHERE T0.ID_COL = CASE WHEN @ID = 0 THEN T0.ID_COL ELSE @ID END	
END
GO
