USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_OPRT_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_OPRT_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA UMA OPORTUNIDADE PARA EDIÇÃO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID			AS 'Id'
		,T0.NOM 		AS 'Nome'
		,T0.STU			AS 'Status.Id'
		,T0.COD			AS 'Codigo'
		,T0.ID_CLI		AS 'Cliente.Id'
		,T0.DAT_PRV		AS 'DataPrevista'
		,T0.ID_PCT		AS 'Temperatura.Id'
		,T0.CST_ORC     AS 'CustoOrcado'
		,T0.HRS_ORC     AS 'HorasOrcadas'
		,T0.ING_LIQ     AS 'IngressoLiquido'
		,T0.RSC_GER     AS 'RiscoGerenciavel'
		,T0.ING_TOT     AS 'IngressoTotal'
		,T0.ID_VEN		AS 'Vendedor.Id'
		,T0.VAL_PRJ     AS 'ValorOportunidade'
		,T0.RSP_DSP		AS 'ResponsavelDespesa'
		,ISNULL(T0.CONV_PRJ,0)    AS 'Convertida'
		,T0.TAG         AS 'Tag'
		,T0.ID_TIP_PRJ  AS 'TipoProjeto.Id'
		
	FROM CVA_OPR T0

	WHERE 1 = 1
		AND T0.ID = @ID

	ORDER BY T0.COD
END
GO
