USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_FAS_PRJ_GET_ALL]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_FAS_PRJ_GET_ALL]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODAS AS FASES DE PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID		AS 'Id'
		,T0.STU		AS 'StatusId'
		,T0.COD		AS 'Code'
		,T0.NOM		AS 'Name'
		,T0.DSCR	AS 'Description'
		,T0.IS_PRJ	AS 'IsProjectStep'
		,T1.NOM		AS 'Status'
	
	FROM CVA_FAS_PRJ T0
	INNER JOIN CVA_STU T1 ON T0.STU = T1.ID

	ORDER BY T0.NOM
END
GO
