USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CLI_CON_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_CLI_CON_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS CONTATOS DE UM CLIENTE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_CLI INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T2.NOM		AS 'Name'
		,T2.ID		AS 'Id'		
		,T2.EMA		AS 'Email'
		,T2.CEL		AS 'CellPhone'
		,T2.TEL		AS 'Phone'
	
	FROM CVA_CLI T0
	INNER JOIN CVA_CLI1 T1 ON T0.ID = T1.CLI_ID
	INNER JOIN CVA_CON T2 ON T2.ID = T1.CON_ID
	
	WHERE 1 = 1
		AND T0.ID = @ID_CLI
END
GO
