USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_LOADCOMBO_CLIENT]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_LOADCOMBO_CLIENT]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
FUNÇÃO PARA CARREGAR COMBOBOX DE CLIENTES
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT
		 ID	 AS 'Id'
		,RAZ AS 'Name'	
		,TAG AS 'Tag'			
	
	FROM CVA_CLI

	WHERE STU = 1

	ORDER BY RAZ
END
GO
