USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_TYP_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_COL_TYP_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS TIPOS DE COLABORADORES
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT
		 ID			AS 'Id'
		,NOM		AS 'Nome'
		,DSCR		AS 'Description'
		,FIX		AS 'Fixed' 
		,NEC_CNPJ	AS 'CnpjRequired'
		
	FROM CVA_COL_TYP
	
	WHERE STU = 1
	
	ORDER BY NOM
END
GO
