USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_ADR_GET_ID]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_COL_ADR_GET_ID]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RECUPERA O ENDERECO DO COLABORADOR PELO ID
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T1.ID		AS 'Id'
		,T1.BLC		AS 'Block'
		,T1.CIT		AS 'City'
		,T1.STT		AS 'Street'
		,T1.STTNO	AS 'StreetNo'
		,T1.ZIP		AS 'ZipCode'
		,T1.UF		AS 'Uf_Id'
	
	FROM CVA_COL_ADR T0
	INNER JOIN CVA_ADR T1 ON T0.ADR_ID = T1.ID
	
	WHERE T0.COL_ID = @ID
END
GO
