USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_UF_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_UF_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA A LISTA DE ESTADOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID	AS 'Id'
		,T0.UF	AS 'UF'
		,T0.NAM	AS 'State'

	FROM CVA_UF T0
END
GO
