USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_FASES_PRJ_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_CVA_FASES_PRJ_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS FASES UTILIZADAS EM PROJETOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT
		 ID   AS 'Id'
		,STU  AS 'Status'
		,NOM  AS 'Nome'
		,DSCR AS 'Descricao'
			
	FROM CVA_FAS_PRJ
	
	WHERE IS_PRJ = 1
END
GO
