USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_OPRT_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_OPRT_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UMA NOVA OPORTUNIDADE E RETORNA O ID
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@COD VARCHAR(MAX)
,@TAG VARCHAR(MAX)
,@NOM VARCHAR(MAX)
,@DAT_PRV DATETIME
,@ID_CLI INT
,@ID_VEN INT
,@ID_TIP_PRJ INT
,@ID_PCT INT
,@VAL_PRJ NUMERIC(12,2)
,@CST_ORC NUMERIC(12,2)
,@HRS_ORC NUMERIC(12,2)
,@ING_LIQ NUMERIC(12,2)
,@RSC_GER NUMERIC(12,2)
,@ING_TOT NUMERIC(12,2)
,@RSP_DSP VARCHAR(MAX)
/*------------------------------*/
AS
BEGIN
IF ((SELECT COUNT(ID) FROM CVA_OPR WHERE COD LIKE @COD) > 0)
BEGIN
	SELECT -1 AS SUCCESSID
END

ELSE
BEGIN
	INSERT INTO CVA_OPR VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@COD
		,@TAG
		,@NOM
		,@DAT_PRV
		,@ID_CLI
		,@ID_VEN
		,@ID_TIP_PRJ
		,@ID_PCT
		,@VAL_PRJ
		,@CST_ORC
		,@HRS_ORC
		,@ING_LIQ
		,@RSC_GER
		,@ING_TOT
		,@RSP_DSP
		,0)

	SELECT @@IDENTITY AS SUCCESSID
END
END
GO
