USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_STATUSREPORT_GET_PARCIAL_CON]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_STATUSREPORT_GET_PARCIAL_CON]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS HORAS CONSUMIDAS DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID_PRJ INT
,@DAT DATETIME
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID
		,T0.HOR_INI AS 'Inicio'
		,T0.HOR_INT AS 'Intervalo'
		,T0.HOR_SAI AS 'Fim'
		,T4.NOM     AS 'Especialidade'
		,T0.ID_PRJ
		,T0.DAT
	
	FROM CVA_APON T0
	INNER JOIN CVA_FUNC T3 ON T3.ID = T0.ID_SPC
	INNER JOIN CVA_TIPOSESPECIALIDADE T4 ON T4.ID = T3.TIP_ESP
	
	WHERE T0.ID_PRJ = @ID_PRJ
		AND T0.DAT <= @DAT
		AND T0.STU <> 2
END
GO
