USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_TIPOSESPECIALIDADE_GET_ALL]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_TIPOSESPECIALIDADE_GET_ALL]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS TIPOS DE ESPECIALIDADE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID  AS 'Id'
		,T0.USR AS 'User'
		,T0.STU AS 'Status'
		,T0.NOM AS 'Nome'

	FROM CVA_TIPOSESPECIALIDADE T0
END
GO
