USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CAL1_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_CAL1_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE OS FERIADOS DE UM CALENDARIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@DAT DATETIME
,@FER VARCHAR(200)
,@CAL INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_CAL1 VALUES(
		 GETDATE()
		,NULL
		,@USR
		,(SELECT STU FROM CVA_CAL WHERE ID = @CAL)
		,@DAT
		,@FER
		,@CAL)
		
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
