USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_RECURSOS_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_RECURSOS_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO MEMBRO DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT 
,@ID_PRJ INT
,@ID_COL INT
,@ID_ESP INT
,@ID_FAS INT
,@HRS INT
,@HRS_CON NUMERIC(10,2)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PROJETOS_RECURSOS VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@ID_PRJ
		,@ID_COL
		,@ID_ESP
		,@ID_FAS
		,@HRS
		,@HRS_CON)

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
