USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_TIP_DESP_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_TIP_DESP_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO TIPO DE DESPESA
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@NOM VARCHAR(200)
,@DSCR VARCHAR(2000)
,@UN_MED INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_TIP_DESP VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@NOM
		,@DSCR
		,@UN_MED)

	SELECT @@IDENTITY AS SUCCESSID
END
GO
