USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_FUNC_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_COL_FUNC_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS COLABORADORES POR ESPECIALIDADE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@FUNC INT
/*------------------------------*/
AS
BEGIN
	SELECT 
		 T0.ID		AS 'Id'
		,T0.NOM		AS 'Nome'
		,T0.CNPJ	AS 'CNPJ'
		,T0.CPF		AS 'CPF'
		,T0.EMA		AS 'Email'
		
	FROM CVA_COL T0
	INNER JOIN CVA_STU T1 ON T1.ID = T0.STU
	INNER JOIN CVA_COL1 T2 ON T2.COL = T0.ID
	
	WHERE 1 = 1
		AND T1.IS_ATV = 1
		AND T2.FUNC = @FUNC
END
GO
