USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_OPORTUNIDADES_PRICING_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_OPORTUNIDADES_PRICING_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA UMA PRICING DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID INT
,@USR INT
,@STU INT 
,@ID_OPR INT
,@PCT_BKO NUMERIC(10,2)
,@PCT_RSC NUMERIC(10,2)
,@PCT_MRG NUMERIC(10,2)
,@PCT_COM NUMERIC(10,2)
,@PCT_IMP NUMERIC(10,2)
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_OPORTUNIDADES_PRICING SET 
		 UPD = GETDATE()
		,USR = @USR
		,STU = @STU
		,ID_OPR = @ID_OPR
		,PCT_BKO = @PCT_BKO
		,PCT_RSC = @PCT_RSC
		,PCT_MRG = @PCT_MRG
		,PCT_COM = @PCT_COM
		,PCT_IMP = @PCT_IMP

	WHERE ID = @ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
