USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_ALTERACOES_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_ALTERACOES_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UMA NOVA ALTERACAO DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@ID_PRJ INT
,@DAT DATETIME
,@DSC VARCHAR(MAX)
,@FAS VARCHAR(MAX)
,@ESP VARCHAR(MAX)
,@COL VARCHAR(MAX)
,@HRS INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PROJETOS_ALTERACOES VALUES(
		 GETDATE()
		,NULL
		,@USR
		,1
		,@ID_PRJ
		,@DAT
		,@DSC
		,@FAS
		,@ESP
		,@COL
		,@HRS)

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
