USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_ESPECIALIDADE_GET_APON]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_CVA_ESPECIALIDADE_GET_APON]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 14/08/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS ESPECIALIDADES PARA APONTAR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
  @ID_PRJ INT
 ,@ID_COL INT
 ,@ID_FAS INT
/*------------------------------*/
AS
BEGIN
SELECT 
	T0.ID_ESP AS 'Id'
	,T1.FUNC AS 'Name'
	
	FROM CVA_PROJETOS_RECURSOS T0

INNER JOIN CVA_FUNC T1 ON T1.ID = T0.ID_ESP
INNER JOIN CVA_PROJETOS_FASES T2 ON T2.ID_FAS = T0.ID_FAS AND T2.ID_PRJ = T0.ID_PRJ

WHERE T0.ID_COL = @ID_COL
  AND T2.ID     = @ID_FAS
  AND T0.ID_PRJ = @ID_PRJ
END
GO
