USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_PRJ_MAN]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_COL_PRJ_MAN]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS GERENTES DE PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID		AS 'Id'
		,T0.NOM		AS 'Nome'
	
	FROM CVA_COL T0
	INNER JOIN CVA_STU T1 ON T0.STU = T1.ID
	
	WHERE 1 = 1
		AND T0.PRJ_MAN = 1
		AND T1.IS_ATV = 1
		
	ORDER BY T0.NOM
END
GO
