USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CHANGEREQUEST_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_CHANGEREQUEST_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA UMA CHANGE REQUEST
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID	AS 'Id'
		,T0.COD	AS 'Codigo'
		,T0.VER	AS 'Versao'
		,T0.AUT	AS 'Autor'
		,T0.SIT	AS 'Situacao'
		,T0.GPI	AS 'GPI'
		,T0.GPE	AS 'GPE'
		,T0.DEP	AS 'Departamento'
		,T0.PRO	AS 'Processo'
		,T0.DSC	AS 'Descricao'
		,T0.MOT	AS 'Motivos'
		,T0.REC	AS 'Recomendacoes'
		,T0.IPO	AS 'ImpactosPositivos'
		,T0.INE	AS 'ImpactosNegativos'

		,T1.ID_FAS	AS 'RecursoFase'
		,T1.FAS		AS 'RecursoFaseNome'
		,T1.ID_SPC	AS 'RecursoEspecialidade'
		,T1.SPC		AS 'RecursoEspecialidadeNome'
		,T1.HRS		AS 'RecursoHorasSolicitadas'
		,T1.SOL		AS 'RecursoSolicitante'
		,T1.NSC		AS 'RecursoNecessidade'

	FROM CVA_CHANGEREQUEST T0
	INNER JOIN CVA_CHANGEREQUEST_RECURSOS T1 ON T1.ID_CHR = T0.ID

	WHERE T0.ID = @ID
END
GO
