USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_ADR_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_COL_ADR_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA O ENDEREÇO DO COLABORADOR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@STT VARCHAR(100)
,@STTNO VARCHAR(50)
,@BLC VARCHAR(50)
,@CIT VARCHAR(50)
,@UF INT
,@ZIP VARCHAR(12)
,@ADR_ID INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_ADR SET
		 UPD = GETDATE()
		,USR = @USR
		,STU = @STU
		,STT = @STT
		,STTNO = @STTNO
		,BLC = @BLC
		,CIT = @CIT
		,UF = @UF
		,ZIP = @ZIP
		
	WHERE ID = @ADR_ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
