USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PRJ_GET_FIL]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CVA_PRJ_GET_FIL]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/11/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODAS OS PROJETOS CONFORME FILTRO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @CLI_ID  INT
,@CODE VARCHAR(100)
,@STATUS INT
/*------------------------------*/
AS
BEGIN
	SELECT DISTINCT
		 T0.ID  AS 'Id'
		,T0.COD AS 'Codigo'
		,T0.NOM AS 'Nome'
		,T0.DAT_INI AS 'DataInicial' 
		,T1.RAZ AS 'Cliente.Nome'
		,T0.TAG AS 'Tag'
		,T0.STU AS 'Status.Id'
		,T3.NOM AS 'Status.Descricao'

	FROM CVA_PRJ T0
	LEFT JOIN CVA_CLI T1 ON T0.ID_CLI = T1.ID
	LEFT JOIN CVA_TIPOSPROJETO T2 ON T0.ID_TIP_PRJ = T2.ID
	LEFT JOIN CVA_STU T3 ON T3.ID = T0.STU

	WHERE 1 = 1
		AND T0.ID_CLI     = CASE WHEN @CLI_ID = 0 THEN T0.ID_CLI     ELSE @CLI_ID END
		AND T0.COD LIKE '%' + @CODE +'%'	
		AND T0.STU = ISNULL(NULLIF(@STATUS, 0), T0.STU)
	ORDER BY T0.COD	
END
GO
