USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_STU_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_STU_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS STATUS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@OBJ INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID		AS 'Id'
		,T0.USR		AS 'UserId'
		,T0.NOM		AS 'Descricao'
		,T0.DSCR	AS 'Description'
	
	FROM CVA_STU T0
	INNER JOIN CVA_STU_TAB T1 ON T0.ID = T1.STU_ID
	INNER JOIN CVA_TAB T2 ON T2.ID = T1.TAB_ID
	
	WHERE 1 = 1
		AND T2.ID = CASE WHEN @OBJ = 0 THEN T2.ID ELSE @OBJ END
	
	GROUP BY T0.ID, T0.USR, T0.NOM, T0.DSCR
END
GO
