USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CLI_GET_CNPJ]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_CLI_GET_CNPJ] -- '00466591001088'
(
@CNPJ VARCHAR(20)
)
AS
BEGIN
SELECT ID
  FROM [CVA_CLI]
  WHERE REPLACE(REPLACE(CNPJ,'.',''),'-','') = REPLACE(REPLACE(@CNPJ,'.',''),'-','') 
END

GO
