USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_OPORTUNIDADES_PRICING_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_OPORTUNIDADES_PRICING_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UMA NOVA PRICING DA OPORTUNIDADE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@ID_OPR INT
,@PCT_BKO NUMERIC(10,2)
,@PCT_RSC NUMERIC(10,2)
,@PCT_MRG NUMERIC(10,2)
,@PCT_COM NUMERIC(10,2)
,@PCT_IMP NUMERIC(10,2)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_OPORTUNIDADES_PRICING VALUES(
		 GETDATE()
		,NULL
		,@USR
		,1
		,@ID_OPR
		,@PCT_BKO
		,@PCT_RSC
		,@PCT_MRG
		,@PCT_COM
		,@PCT_IMP)

	SELECT @@IDENTITY AS SUCCESS
END
GO
