USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_GEN_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_GEN_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS GÊNEROS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT 
		 ID		AS 'Id'
		,STU	AS 'StatusId'
		,NAM	AS 'Name'
		,DSCR	AS 'Description'
		
	FROM CVA_GEN
END
GO
