USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_EXPENSEPERIOD_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CVA_EXPENSEPERIOD_INS]  
/*--------------------------------------------  
 _______________________________   
|           PORTAL CVA          |  
|								|  
|AUTOR: FELIPE HOSOMI		    |  
|ULT. REVISAO: 08/11/2018       |  
|_______________________________|  
  
DESCRIÇÃO:  
INCLUI PERIODOS PARA APONTAMENTO DE DESPESAS
--------------------------------------------*/  
  
/*--------- PARÂMETROS ---------*/  
 @USR     INT  
,@ID_COL  INT  
,@DAT_INI DATETIME  
,@DAT_FIM DATETIME  
/*------------------------------*/  
AS  
BEGIN  
	INSERT INTO CVA_PRD2 VALUES
	(  
		GETDATE()  
		,@USR  
		,1  
		,@ID_COL  
		,@DAT_INI  
		,@DAT_FIM
	)  
   
	SELECT @@ROWCOUNT AS SUCCESS  
END  
GO
