USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_ALTERACOES_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_ALTERACOES_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS RECURSOS DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRJ INT
/*------------------------------*/
AS
BEGIN
	SELECT 
		 DAT AS 'Data'
		,DSC AS 'Descricao'
		,FAS AS 'FaseNome'
		,ESP AS 'EspecialidadeNome'
		,COL AS 'ColaboradorNome'
		,HRS AS 'HorasAdicionadas'

	FROM CVA_PROJETOS_ALTERACOES
	
	WHERE ID_PRJ = @ID_PRJ
END
GO
