USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_STU_RPT_INFO_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_STU_RPT_INFO_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS INFORMAÇÕES PARA SALVAR UM NOVO STATUS REPORT
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID_PRJ INT
,@DAT DATETIME
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.HOR_INI AS 'Inicio'
		,T0.HOR_INT AS 'Intervalo'
		,T0.HOR_SAI AS 'Fim'
		,T1.GER		AS 'Gerente.Id'
		,T2.NOM		AS 'Gerente.Nome'
	
	FROM CVA_APON T0
	INNER JOIN CVA_PRJ T1 ON T0.ID_PRJ = T1.ID
	INNER JOIN CVA_COL T2 ON T1.GER = T2.ID

	WHERE T1.ID = @ID_PRJ
		AND T0.DAT <= @DAT
		AND T0.STU <> 2
END
GO
