USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_PRICING_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_PRICING_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO MEMBRO DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT 
,@ID_PRJ INT
,@PCT_BKO VARCHAR(50)
,@PCT_RSC VARCHAR(50)
,@PCT_MRG VARCHAR(50)
,@PCT_COM VARCHAR(50)
,@PCT_IMP VARCHAR(50)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PROJETOS_PRICING VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@ID_PRJ
		,@PCT_BKO
		,@PCT_RSC
		,@PCT_MRG
		,@PCT_COM
		,@PCT_IMP)

	SELECT @@IDENTITY AS SUCCESS
END
GO
