USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_TCK_GET_PRJ]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_TCK_GET_PRJ]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS CHAMADOS AMS EM ABERTO DE ACORDO COM O CLIENTE DO PROJETO SELECIONADO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@PRJ_ID INT,
@DATE DATETIME = NULL,
@NUM_TICK INT = NULL
/*------------------------------*/
AS
BEGIN
IF ((SELECT A0.AMS FROM CVA_TIPOSPROJETO A0 
			 INNER JOIN CVA_PRJ A1 ON A1.ID_TIP_PRJ = A0.ID WHERE A1.ID = @PRJ_ID) = 1)
	BEGIN
		SELECT
			 T0.Id
			,T0.NUM_TCK AS 'NumTck'
			,T0.STU_AMS	AS 'StatusAMS'
			,T0.CLI_AMS	AS 'ClientAMS'
			,T0.REQ_AMS	AS 'Request'
			,T0.DSCR	AS 'Description'
			,T0.CAT		AS 'Categoria'
		
		FROM CVA_TCK_IMP T0
		INNER JOIN CVA_CLI T1 ON T1.ID = T0.CLI_ID
		INNER JOIN CVA_PRJ T2 ON T2.ID_CLI = T1.ID
		INNER JOIN CVA_TIPOSPROJETO T3 ON T3.ID = T2.ID_TIP_PRJ

		WHERE T2.ID = @PRJ_ID
			AND T3.AMS = 1
			AND(
				(@DATE IS NOT NULL AND T0.COD_LAST_STATUS = 5 AND MONTH(T0.DATE_LAST_STATUS) = MONTH(@DATE))
				OR
				(T0.COD_LAST_STATUS IS NULL OR T0.COD_LAST_STATUS <> 5)
				OR 
				T0.NUM_TCK = @NUM_TICK
			)
	
		ORDER BY CONVERT(INT,NUM_TCK) DESC
	END

ELSE IF ((SELECT A0.AMS FROM CVA_TIPOSPROJETO A0 
			 INNER JOIN CVA_PRJ A1 ON A1.ID_TIP_PRJ = A0.ID WHERE A1.ID = @PRJ_ID) = 0)
	BEGIN
		SELECT
			 T0.Id
			,T0.NUM_TCK AS 'NumTck'
			,T0.STU_AMS	AS 'StatusAMS'
			,T0.CLI_AMS	AS 'ClientAMS'
			,T0.REQ_AMS	AS 'Request'
			,T0.DSCR	AS 'Description'
		
		FROM CVA_TCK_IMP T0
		INNER JOIN CVA_CLI T1 ON T1.ID = T0.CLI_ID
		INNER JOIN CVA_PRJ T2 ON T2.ID_CLI = T1.ID
		INNER JOIN CVA_TIPOSPROJETO T3 ON T3.ID = T2.ID_TIP_PRJ

		WHERE T2.ID = @PRJ_ID
			AND T3.AMS = 0
			AND(
				(@DATE IS NOT NULL AND COD_LAST_STATUS = 5 AND MONTH(T0.DATE_LAST_STATUS) = MONTH(@DATE))
				OR
				(T0.COD_LAST_STATUS IS NULL OR T0.COD_LAST_STATUS <> 5)
				OR 
				T0.NUM_TCK = @NUM_TICK
			)
			AND T0.CAT IN ('Desenvolvimento - SAP Business One', 'Projetos - SAP Business One')
	
		ORDER BY CONVERT(INT,NUM_TCK) DESC
	END	
END
GO
