USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_STATUSREPORT_GET_ALL]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_STATUSREPORT_GET_ALL]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS STATUS REPORT DO PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRJ INT
/*------------------------------*/
AS
BEGIN
	SELECT  
		 T0.ID      AS 'Id'
		,T0.ID_GER  AS 'GerenteProjeto.Id'
		,T1.NOM     AS 'GerenteProjeto.Nome'
		,T0.ID_PRJ  AS 'Projeto.Id'
		,T0.DAT	    AS 'Data'
		,T0.HOR_ORC AS 'HorasOrcadas'
		,T0.HOR_CON AS 'HorasConsumidas'
		,T0.DSC	    AS 'Descricao'
		,T0.PON_ATC AS 'PontosAtencao'
		,T0.PLN_ACA AS 'PlanoDeAcao'
		,T0.CQT		AS 'Conquistas'
		,T0.PRX_PAS AS 'ProximosPassos'
		,T0.PCT_CON AS 'Concluido'

	FROM CVA_PROJETOS_STATUSREPORT T0
	INNER JOIN CVA_COL T1 ON T1.ID = T0.ID_GER

	WHERE T0.ID_PRJ = @ID_PRJ
END
GO
