USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@TAG VARCHAR(50)
,@COD VARCHAR(200)
,@NOM VARCHAR(200)
,@DSC VARCHAR(2000)
,@DAT_INI DATETIME
,@DAT_PRV DATETIME
,@ID_CLI INT
,@ID_TIP_PRJ INT
,@VAL_PRJ VARCHAR(50)
,@CST_ORC VARCHAR(50)
,@HRS_ORC VARCHAR(50)
,@RSP_DSP VARCHAR(50)
,@GER INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PRJ VALUES(
		 GETDATE()
		,NULL
		,@USR 
		,@STU 
		,@COD
		,@TAG
		,@NOM 
		,@DSC 
		,@DAT_INI 
		,@DAT_PRV 
		,@ID_CLI 
		,@VAL_PRJ 
		,@CST_ORC
		,'0'
		,@HRS_ORC 
		,'0'
		,@RSP_DSP
		,'0'
		,'0'
		,'0'
		,@ID_TIP_PRJ
		,@GER)
	
	SELECT @@IDENTITY AS SUCCESS
END
GO
