USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_NOT_USR]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_COL_NOT_USR]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS COLABORADORES QUE NAO POSSUEM USUARIOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID	AS 'Id'
		,T0.NOM AS 'Nome'
		,T0.EMA AS 'Email'
	
	FROM CVA_COL T0
	
	WHERE T0.ID NOT IN (SELECT COL_ID FROM CVA_USR1 WHERE COL_ID = T0.ID)
      AND T0.STU = 1
		
	ORDER BY T0.NOM
END
GO
