USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_MEMBROS_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_MEMBROS_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS RECURSOS DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRJ INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 ID  AS 'Id'
		,STU AS 'Status'
		,NOM AS 'Nome'
		,TEL AS 'Telefone'
		,EML AS 'Email'
		,DPT AS 'Departamento'

	FROM CVA_PROJETOS_MEMBROS
	
	WHERE ID_PRJ = @ID_PRJ
END
GO
