USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CHANGEREQUEST_RECURSOS_RMV]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_CHANGEREQUEST_RECURSOS_RMV]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
REMOVE OS ITENS DE UMA CHANGE REQUEST
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_CHR INT
/*------------------------------*/
AS
BEGIN
	DELETE CVA_CHANGEREQUEST_RECURSOS
	
	WHERE ID_CHR = @ID_CHR

	SELECT @@ROWCOUNT AS SUCCESSID
END
GO
