USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_PRICING_GET_BY_PROJECT]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_PRICING_GET_BY_PROJECT]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS PRICINGS DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRJ INT
/*------------------------------*/
AS
BEGIN
	SELECT 
		 ID AS 'Id'
		,STU AS 'Status'
		,PCT_BKO AS 'PorcentagemBackoffice'
		,PCT_RSC AS 'PorcentagemRisco'
		,PCT_MRG AS 'PorcentagemMargem'
		,PCT_COM AS 'PorcentagemComissao'
		,PCT_IMP AS 'PorcentagemImposto'

	FROM CVA_PROJETOS_PRICING
	
	WHERE ID_PRJ = @ID_PRJ
END
GO
