USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PRICING_ITENS_INS_OPRT]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PRICING_ITENS_INS_OPRT]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO MEMBRO DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@ID_PRI INT
,@ID_ESP INT
,@HRS NUMERIC
,@VAL NUMERIC
,@CST NUMERIC                   
,@VAL_BKO NUMERIC
,@VAL_RSC NUMERIC
,@VAL_MRG NUMERIC
,@VAL_COM NUMERIC
,@VAL_IMP NUMERIC
,@HOT_DIA NUMERIC
,@HOT_VAL NUMERIC
,@HOT_TOT NUMERIC  
,@KLM_TRE NUMERIC
,@KLM_DIS NUMERIC
,@KLM_VAL NUMERIC
,@KLM_TOT NUMERIC		  
,@ALI_DIA NUMERIC
,@ALI_VAL NUMERIC
,@ALI_TOT NUMERIC		  
,@DSL_HRS NUMERIC
,@DSL_VAL NUMERIC
,@DSL_TOT NUMERIC		  
,@AER_TRE NUMERIC
,@AER_VAL NUMERIC
,@AER_TOT NUMERIC		 
,@SUB_TOT NUMERIC
,@DSP_TOT NUMERIC
,@SUB_DSP NUMERIC
,@DSP_IMP NUMERIC
,@VAL_HRS NUMERIC
,@VAL_HRS_DSP NUMERIC
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PRICING_ITENS_OPRT VALUES(
		 GETDATE()
		,NULL
		,@USR
		,1
		,@ID_PRI 
        ,@ID_ESP 
		,NULL
        ,@HRS
        ,@VAL
        ,@CST             
        ,@VAL_BKO
        ,@VAL_RSC
        ,@VAL_MRG
        ,@VAL_COM
        ,@VAL_IMP
        ,@HOT_DIA
        ,@HOT_VAL
        ,@HOT_TOT  
        ,@KLM_TRE
        ,@KLM_DIS
        ,@KLM_VAL
        ,@KLM_TOT		  
        ,@ALI_DIA
        ,@ALI_VAL
        ,@ALI_TOT		  
        ,@DSL_HRS
        ,@DSL_VAL
        ,@DSL_TOT		  
        ,@AER_TRE
        ,@AER_VAL
        ,@AER_TOT		 
        ,@SUB_TOT
        ,@DSP_TOT
        ,@SUB_DSP
        ,@DSP_IMP
        ,@VAL_HRS
        ,@VAL_HRS_DSP)

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
