USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_DESP_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_DESP_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODAS AS DESPESAS POR USUARIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@USR INT,
@Mes INT,
@Ano INT
/*------------------------------*/
AS
BEGIN
	SELECT
		T0.ID			AS 'Id'
		,T0.ID_PRJ		AS 'Project.Id'
		,T1.NOM			AS 'Project.Nome'
		,T1.TAG			AS 'Project.Tag'
		,T1.COD			AS 'Project.Codigo'
		,T0.DAT			AS 'Date'
		,T0.ID_TIP_DESP AS 'ExpenseType.Id'
		,T3.NOM			AS 'ExpenseType.Name'
		,T0.DOC_NUM		AS 'DocumentNumber'
		,T0.DOC_NUM_TOT AS 'DocumentNumberTotal'
		,T0.VLR_REM_USR AS 'ExpenseUserTotal'
		,T0.DSCR		AS 'Description'
		,T0.VLR_REM		AS 'ExpenseTotal'
		,T0.KIL			AS 'ExpenseKilometer'

	FROM CVA_DESP T0
	LEFT JOIN CVA_PRJ T1 ON T0.ID_PRJ = T1.ID
	INNER JOIN CVA_TIP_DESP T3 ON T3.ID = T0.ID_TIP_DESP
	INNER JOIN CVA_STU T4 ON T4.ID = T0.STU
	
	WHERE 1 = 1
		AND T0.USR = @USR
		AND T4.IS_ATV = 1
		AND (
				(MONTH(T0.DAT) = @Mes AND YEAR(T0.DAT) = @Ano
			)
			AND T4.IS_ATV = 1
		)
	
	ORDER BY T0.DAT DESC
END
GO
