USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_RECURSOSFASE_RMV_FOR_PRJ]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_RECURSOSFASE_RMV_FOR_PRJ]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
REMOVE OS ITENS DE UMA FASE DO PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_FAS INT
/*------------------------------*/
AS
BEGIN
	DELETE CVA_PROJETOS_RECURSOSFASE
	
	WHERE ID_FAS = @ID_FAS
		  
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
