USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CHANGEREQUEST_GET_FOR_PRJ]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_CHANGEREQUEST_GET_FOR_PRJ]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS CHANGE REQUESTS DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRJ INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID	AS 'Id'
		,T0.COD	AS 'Codigo'
		,T0.VER	AS 'Versao'

	FROM CVA_CHANGEREQUEST T0

	WHERE T0.ID_PRJ = @ID_PRJ
END
GO
