USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CAL1_GET_ID]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_CAL1_GET_ID]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS FERIADOS DE UM CALENDÁRIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 ID		AS 'Id'
		,CAL	AS 'CalendarId'
		,DAT	AS 'Date'
		,STU	AS 'StatusId'
		,FER	AS 'Description'
	
	FROM CVA_CAL1
	
	WHERE CAL = @ID
	
	ORDER BY DAT
END
GO
