USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_LOADCOMBO_COLLABORATOR]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-----------------------------------------PROCS DE LOAD COMBO-----------------------------------------------*/

CREATE PROCEDURE [dbo].[SP_CVA_LOADCOMBO_COLLABORATOR]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
FUNÇÃO PARA CARREGAR COMBOBOX DE COLABORADORES
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT
		 ID	 AS 'Id'
		,NOM AS 'Nome'		
	
	FROM CVA_COL

	WHERE STU = 1

	ORDER BY NOM
END
GO
