USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_DESP_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_CVA_DESP_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERÇÃO DE UMA NOVA DESPESA
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR			INT
,@STU			INT 
,@ID_PRJ		INT
,@DAT			DATETIME
,@ID_TIP_DESP	INT 
,@DOC_NUM		VARCHAR(50)
,@DOC_NUM_TOT	DECIMAL(8,2)
,@VLR_REM_USR	DECIMAL(8,2)
,@DSCR			VARCHAR(2000)
,@VLR_REM		DECIMAL(8,2)
,@KIL			INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_DESP VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@ID_PRJ
		,@DAT
		,@ID_TIP_DESP
		,@DOC_NUM
		,@DOC_NUM_TOT
		,@VLR_REM_USR
		,@DSCR
		,@VLR_REM
		,@KIL)
		
	SELECT @@IDENTITY AS SUCCESSID	
END
GO
