USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_VER_DOC]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_COL_VER_DOC]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
VERIFICA SE EXISTE COLABORADOR NA BASE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @CNPJ VARCHAR(20)
,@CPF VARCHAR(20)
/*------------------------------*/
AS
BEGIN
	IF EXISTS(SELECT ID FROM CVA_COL WHERE CNPJ = @CNPJ AND CPF = @CPF)
	BEGIN
		SELECT
			ID as 'SUCCESSID'
			
		FROM CVA_COL
		
		WHERE 1 = 1
			AND CNPJ = @CNPJ
			AND CPF = @CPF
	END
	
	ELSE
	BEGIN
		SELECT 0 AS SUCCESSID
	END
END
GO
