USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_EXPENSEPERIOD_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CVA_EXPENSEPERIOD_GET]  
/*--------------------------------------------  
 _______________________________   
|           PORTAL CVA          |  
|								|  
|AUTOR: FELIPE HOSOMI		    |  
|ULT. REVISAO: 08/11/2018       |  
|_______________________________|  
  
DESCRIÇÃO:  
RETORNA PERIODOS EM ABERTO DE APONTAMENTO DE DESPESAS
--------------------------------------------*/  
  
/*--------- PARÂMETROS ---------*/  
@ID_COL INT  
/*------------------------------*/  
AS  
BEGIN  
	SELECT  
	   T0.ID		AS 'Id'  
	  ,T0.COL_ID	AS 'Colaborador'  
	  ,T1.NOM		AS 'ColaboradorNome'  
	  ,T0.DAT_INI	AS 'De'  
	  ,T0.DAT_FIM	AS 'Ate'  
	  ,T2.NOM		AS 'User.Name'  
  
	FROM CVA_PRD2 T0  
		INNER JOIN CVA_COL T1 ON T1.ID = T0.COL_ID  
		INNER JOIN CVA_USR T2 ON T2.ID = T0.USR  
  
	WHERE T0.COL_ID = CASE WHEN @ID_COL = 0 THEN T0.COL_ID ELSE @ID_COL END  
	AND T0.STU = 1
	ORDER BY T1.NOM  
END  
GO
