USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_USR_EXIST]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_USR_EXIST]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
VERIFICA A EXISTENCIA DO USUARIO POR EMAIL
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@EML VARCHAR(200)
/*------------------------------*/
AS
BEGIN
	IF EXISTS(SELECT EML FROM CVA_USR WHERE EML = @EML)
	BEGIN
		SELECT 1 AS SUCCESS
	END
	
	ELSE
	BEGIN
		SELECT 0 AS SUCCESS
	END
END
GO
