USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_USR_ALT_PAS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_USR_ALT_PAS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ALTERA SENHA DO USUARIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @PAS VARCHAR(200)
,@EMA VARCHAR(200)
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_USR SET
		 PAS = @PAS
		,PRI_ACS = 0
		
	WHERE EML = @EMA
	
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
