USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_MEMBROS_RMV]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_MEMBROS_RMV]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
REMOVE OS MEMBROS DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRJ INT
/*------------------------------*/
AS
BEGIN
	DELETE CVA_PROJETOS_MEMBROS 
	
	WHERE ID_PRJ = @ID_PRJ
				
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
