USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_FASES_RMV]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_FASES_RMV]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
REMOVE AS FASES DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID_PRJ INT
,@ID_FAS INT
/*------------------------------*/
AS
BEGIN
	IF ((SELECT SUM(ID) FROM CVA_APON WHERE ID_PRJ = @ID_PRJ AND ID_FAS = @ID_FAS) IS NOT NULL)
	BEGIN
		SELECT 0 AS SUCCESS
	END
		
	ELSE
	BEGIN
		DELETE CVA_PROJETOS_FASES 
		
		WHERE ID_PRJ = @ID_PRJ
			AND ID_FAS = @ID_FAS
		
		DELETE CVA_PROJETOS_RECURSOS
		WHERE ID_FAS = @ID_FAS
		      AND ID_PRJ = @ID_PRJ
		
		SELECT 1 AS SUCCESS
	END
END
GO
