USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PARAMETRIZACAO_PROJETOS_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_PARAMETRIZACAO_PROJETOS_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM PARÂMETRO PARA INSERÇÃO DE PROJETOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@EQP VARCHAR(20)
,@DE  VARCHAR(8)
,@ATE VARCHAR(8)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PARAMETRIZACAO_PROJETOS VALUES(
		 GETDATE()
		,NULL
		,@USR
		,1
		,@EQP
		,@DE
		,@ATE)

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
