USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PRJ_USE_AMS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PRJ_USE_AMS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA SE O PROJETO É DO TIPO AMS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID_TIP_PRJ
		,T1.AMS AS 'AMS'

	FROM CVA_PRJ T0
	INNER JOIN CVA_TIPOSPROJETO T1 ON T0.ID_TIP_PRJ = T1.ID
	
	WHERE T0.ID = @ID
END
GO
