USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_FASES_GET_SPECIFIC]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_FASES_GET_SPECIFIC]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS FASES DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID_PRJ INT
,@ID_FAS INT
/*------------------------------*/
AS
BEGIN
	SELECT 
		 T0.ID		AS 'Id'
		,T0.STU		AS 'Status'
		,T1.ID		AS 'Projeto.Id'
		,T1.COD		AS 'Projeto.Nome'
		,T0.ID_FAS  AS 'StepId'
		,T2.NOM		AS 'Nome'
		,T0.DAT_INI AS 'DataInicio'
		,T0.DAT_PRV AS 'DataPrevista'
		,T0.HOR_ORC AS 'HorasOrcadas'
		,T0.HOR_USD AS 'HorasConsumidas'

	FROM CVA_PROJETOS_FASES T0
	INNER JOIN CVA_PRJ T1 ON T0.ID_PRJ = T1.ID
	INNER JOIN CVA_FAS_PRJ T2 ON T0.ID_FAS = T2.ID
	
	WHERE ID_PRJ = @ID_PRJ
		AND ID_FAS = @ID_FAS
END
GO
