USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_FUNC_GET_ATV]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_FUNC_GET_ATV]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS ESPECIALIDADES ATIVAS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT 
		 T0.ID		AS 'Id'
		,T0.FUNC	AS 'Name'
		,T0.DSCR	AS 'Description'
		,T0.VAL     AS 'Value'
		,T0.TIP_ESP AS 'TipoEspecialidade.Id'
		,T2.NOM     AS 'TipoEspecialidade.Nome'
	
	FROM CVA_FUNC T0
	INNER JOIN CVA_STU T1 ON T1.ID = T0.STU
	INNER JOIN CVA_TIPOSESPECIALIDADE T2 ON T2.ID = T0.TIP_ESP
	
	WHERE T1.IS_ATV = 1

	ORDER BY T0.FUNC
END
GO
