USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_DESP_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_DESP_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA A DESPESA
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR			INT
,@DAT			DATETIME
,@ID_TIP_DESP	INT
,@DOC_NUM		VARCHAR(50)
,@DOC_NUM_TOT	DECIMAL(8,2)
,@VLR_REM_USR	DECIMAL(8,2)
,@DSCR			VARCHAR(2000)
,@VLR_REM		DECIMAL(8,2)
,@KIL			INT
,@ID			INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_DESP SET
		 UPD = GETDATE()
		,USR = @USR
		,DAT = @DAT
		,ID_TIP_DESP = @ID_TIP_DESP
		,DOC_NUM = @DOC_NUM
		,DOC_NUM_TOT = @DOC_NUM_TOT
		,VLR_REM_USR = @VLR_REM_USR
		,DSCR = @DSCR
		,VLR_REM = @VLR_REM
		,KIL = @KIL
	
	WHERE 1 = 1
		AND ID = @ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
