USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_MAX_HRS_RMV]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_CVA_COL_MAX_HRS_RMV]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
REMOVE O LIMITE DE HORAS DIFERENCIADO DE UM COLABORADOR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/ 
AS
BEGIN
	UPDATE CVA_COL SET
		MAX_HRS = '08:00:00'
	
	WHERE ID = @ID
	
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
