USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_ADR_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_COL_ADR_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE O ENDEREÇO DO COLABORADOR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@STT VARCHAR(100)
,@STTNO VARCHAR(50)
,@BLC VARCHAR(50)
,@CIT VARCHAR(50)
,@UF INT
,@ZIP VARCHAR(12)
,@COL_ID INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_ADR VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@STT
		,@STTNO
		,@BLC
		,@CIT
		,@UF
		,@ZIP)
		
	DECLARE @ADR_ID INT = (SELECT @@IDENTITY)

	INSERT INTO CVA_COL_ADR VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@COL_ID
		,@ADR_ID)

	SELECT @@IDENTITY AS SUCCESS
END
GO
