USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_DESP_EXT]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_DESP_EXT]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
EXTRAI OS DADOS DE DESPESA COM FILTRO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @COL INT
,@CLI INT
,@PRJ INT
,@DE  DATETIME
,@ATE DATETIME
/*------------------------------*/
AS
BEGIN
	SELECT DISTINCT
		 T0.DAT			AS 'Date'		 
		,T5.NOM			AS 'Collaborator.Name'
		,T7.RAZ			AS 'Cliente'
		,T1.COD + ' - ' + T1.TAG + ' ' + T1.NOM			AS 'Project.Nome'
		,T1.RSP_DSP		AS 'Responsavel'		
		,T0.DSCR		AS 'Description'
		,T3.NOM			AS 'ExpenseType.Name'
		,T0.DOC_NUM		AS 'DocumentNumber'
		,T0.DOC_NUM_TOT AS 'DocumentNumberTotal'
		------------------------------------------	
		,T0.VLR_REM		AS 'ExpenseTotal'
		--,T0.ID_TIP_DESP AS 'ExpenseType.Id'
		--,T0.VLR_REM_USR AS 'ExpenseUserTotal'
		--,T0.KIL			AS 'ExpenseKilometer'
		,ISNULL(T8.VLR,0)  AS 'Limite' 

	FROM CVA_DESP T0
	INNER JOIN CVA_PRJ       T1 ON T0.ID_PRJ = T1.ID
	INNER JOIN CVA_TIP_DESP T3 ON T3.ID = T0.ID_TIP_DESP
	INNER JOIN CVA_USR1     T4 ON T4.USR_ID = T0.USR
	INNER JOIN CVA_COL      T5 ON T4.COL_ID = T5.ID
	INNER JOIN CVA_STU      T6 ON T0.STU = T6.ID
	INNER JOIN CVA_CLI      T7 ON T7.ID = T1.ID_CLI
	LEFT JOIN CVA_CLI5		T8 ON T8.ID_CLI = T7.ID AND T8.ID_TIP_DESP = T0.ID_TIP_DESP AND T1.ID_CLI = T8.ID_CLI AND T8.ID_TIP_DESP	= T0.ID_TIP_DESP
	
	WHERE 1 = 1
		AND ISNULL(T0.ID_PRJ,'')			     = CASE WHEN @PRJ = 0     THEN ISNULL(T0.ID_PRJ,'')				   ELSE @PRJ								 END
		AND DATEADD(dd,DATEDIFF(dd,0,T0.DAT),0) >= CASE WHEN @DE  IS NULL THEN DATEADD(dd,DATEDIFF(dd,0,T0.DAT),0) ELSE DATEADD(dd,DATEDIFF(dd,0,@DE),0)     END
		AND DATEADD(dd,DATEDIFF(dd,0,T0.DAT),0) <= CASE WHEN @ATE IS NULL THEN DATEADD(dd,DATEDIFF(dd,0,T0.DAT),0) ELSE DATEADD(dd,DATEDIFF(dd,0,@ATE	),0) END
		AND T4.COL_ID							 = CASE WHEN @COL = 0     THEN T4.COL_ID						   ELSE @COL							     END
		AND T7.ID								 = CASE WHEN @CLI = 0     THEN T7.ID							   ELSE @CLI							     END
		AND T6.IS_ATV							 = 1	
	ORDER BY T0.DAT
END
