USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CAL_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_CAL_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA UM CALENDÁRIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR  INT
,@STU  INT
,@NOM  VARCHAR(200)
,@DSCR VARCHAR(200)
,@ANO  DATETIME
,@ANOF DATETIME
,@ID   INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_CAL SET
		 UPD  = GETDATE()
		,USR  = @USR
		,STU  = @STU
		,NOM  = @NOM
		,DSCR = @DSCR
		,ANO  = @ANO
		,ANOF = @ANOF
		
	WHERE ID = @ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
