USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_TIPOSPROJETO_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_TIPOSPROJETO_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM TIPO DE PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@NOM VARCHAR(100)
,@AMS INT
,@TEA VARCHAR(20)
,@DSC VARCHAR(200)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_TIPOSPROJETO VALUES(
		 GETDATE()
		,NULL
		,@USR
		,1
		,@NOM
		,@AMS
		,@DSC
		,@TEA)
		
	SELECT @@IDENTITY AS SUCCESS
END
GO
