USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PARAMETRIZACAO_PROJETOS_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PARAMETRIZACAO_PROJETOS_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA OS PARÂMETROS PARA INSERÇÃO DE PROJETOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID  INT
,@USR INT
,@EQP VARCHAR(20)
,@DE  VARCHAR(8)
,@ATE VARCHAR(8)
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_PARAMETRIZACAO_PROJETOS SET
		 UPD = GETDATE()
		,USR = @USR
		,EQP = @EQP
		,DE = @DE
		,ATE = @ATE
	WHERE ID = @ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
