USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CHANGEREQUEST_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_CHANGEREQUEST_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA UMA CHANGE REQUEST
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID  INT
,@USR INT
,@COD VARCHAR(1000)
,@VER VARCHAR(1000)
,@AUT VARCHAR(1000)
,@SIT VARCHAR(1000)
,@GPI VARCHAR(1000)
,@GPE VARCHAR(1000)
,@DEP VARCHAR(1000)
,@PRO VARCHAR(1000)
,@DSC VARCHAR(1000)
,@MOT VARCHAR(1000)
,@REC VARCHAR(1000)
,@IPO VARCHAR(1000)
,@INE VARCHAR(1000)
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_CHANGEREQUEST SET
		 UPD = GETDATE()
	    ,USR = @USR
	    ,COD = @COD
	    ,VER = @VER
	    ,AUT = @AUT
	    ,SIT = @SIT
	    ,GPI = @GPI
	    ,GPE = @GPE
	    ,DEP = @DEP
	    ,PRO = @PRO
	    ,DSC = @DSC
	    ,MOT = @MOT
	    ,REC = @REC
	    ,IPO = @IPO
	    ,INE = @INE
	
	WHERE ID = @ID

	SELECT @@ROWCOUNT AS SUCCESSID
END
GO
