USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_COL_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS COLABORADORES
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT 
		 T0.ID		AS 'Id'
		,T1.NOM		AS 'Status'
		,T0.NOM		AS 'Name'
		,T0.CPF		AS 'Cpf'
		,T0.CNPJ	AS 'Cnpj'
		,T0.EMA		AS 'Email'
		
	FROM CVA_COL T0
	INNER JOIN CVA_STU T1 ON T0.STU = T1.ID

	ORDER BY T0.NOM
END
GO
