USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_APON_GET_BY_PRJ_FAS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_APON_GET_BY_PRJ_FAS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS APONTAMENTOS DE UM PROJETO EM DETERMINADA FASE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID_PRJ INT
,@ID_FAS INT
/*------------------------------*/
AS
BEGIN
	SELECT 
		 T0.VLR     AS 'Value'
		,T0.HOR_INI AS 'InitHour'
		,T0.HOR_INT AS 'IntervalHour'
		,T0.HOR_SAI AS 'FinishHour'
		
	FROM CVA_APON T0

	WHERE T0.ID_PRJ = @ID_PRJ
		AND T0.ID_FAS = @ID_FAS
		AND T0.STU = 1
END
GO
