USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_GENERATE_NUM]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_GENERATE_NUM]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
GERA A NUMERACAO DO PROJETO, A PARTIR DO TIPO DE PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_TIP_PRJ INT
/*------------------------------*/
AS
BEGIN
	DECLARE @EQUIPE VARCHAR(7) = (SELECT TEA FROM CVA_TIPOSPROJETO WHERE ID = @ID_TIP_PRJ)
	DECLARE @DE  INT = (SELECT DE  FROM CVA_PARAMETRIZACAO_PROJETOS WHERE EQP = @EQUIPE)
	DECLARE @ATE INT = (SELECT ATE FROM CVA_PARAMETRIZACAO_PROJETOS WHERE EQP = @EQUIPE)
	
	SELECT
		MAX(COD) + 1 AS 'Codigo'
	
	FROM CVA_OPR T0
		
	WHERE T0.COD >= @DE
		AND T0.COD <= @ATE
END
GO
