USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PER1_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_PER1_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE A LIGACAO DO PERFIL COM A TELA
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@VIEW_ID INT
,@ID INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PER1 VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@VIEW_ID
		,@ID)

	SELECT @@IDENTITY AS SUCCESSID
END
GO
