USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_FASES_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_FASES_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS FASES DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
  @ID_PRJ INT
 ,@ID_COL INT
/*------------------------------*/
AS
BEGIN
IF(@ID_COL = 0)
BEGIN

	SELECT 
		 T0.ID      AS 'Id'
		,T0.STU     AS 'Status'
		,T1.ID      AS 'Projeto.Id'
		,T1.COD     AS 'Projeto.Nome'
		,T0.ID_FAS  AS 'StepId'
		,T2.NOM     AS 'Nome'
		,T0.DAT_INI AS 'DataInicio'
		,T0.DAT_PRV AS 'DataPrevista'
		,T0.HOR_ORC AS 'HorasOrcadas'
		,T0.HOR_USD AS 'HorasConsumidas'
		,T0.LBR     AS 'Liberada'

	FROM CVA_PROJETOS_FASES T0
	INNER JOIN CVA_PRJ T1 ON T0.ID_PRJ = T1.ID
	INNER JOIN CVA_FAS_PRJ T2 ON T0.ID_FAS = T2.ID
	
	WHERE ID_PRJ = @ID_PRJ

	END

	ELSE
	BEGIN
	SELECT DISTINCT 
	 T2.ID  AS 'StepId'
	,T2.NOM AS 'Nome'
	,T1.ID  AS 'Id'
	,T1.LBR AS 'Liberada'
FROM CVA_PROJETOS_RECURSOS T0

INNER JOIN CVA_PROJETOS_FASES T1 ON T0.ID_FAS = T1.ID_FAS AND T0.ID_PRJ = T1.ID_PRJ
INNER JOIN CVA_FAS_PRJ		  T2 ON T1.ID_FAS = T2.ID

WHERE T0.ID_PRJ = @ID_PRJ

  AND T0.ID_COL = CASE WHEN @ID_COL = 0 THEN T0.ID_COL ELSE @ID_COL END
  	 AND T1.LBR = 'S'

  END
END
GO
