USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_LOGIN]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_LOGIN]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
EM CASO DE SUCESSO ATUALIZA PARA CONECTADO E RETORNA O ID DO USUARIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@EML VARCHAR(200)
/*------------------------------*/
AS
BEGIN
	IF EXISTS(SELECT 1 FROM CVA_USR T0 INNER JOIN CVA_STU T1 ON T1.ID = T0.STU WHERE EML = @EML AND T1.IS_ATV = 1)
	BEGIN
		SELECT
			 T0.ID		AS 'Id'
			,T0.PAS		AS 'Password'
			,T0.PRI_ACS AS 'FirstAccess'
			
		FROM CVA_USR T0
		
		WHERE 1=1
			AND EML = @EML
	END

	ELSE
	BEGIN
		SELECT 0 AS 'Id'
	END
END
GO
