USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_USR_COL_GET_ID]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_USR_COL_GET_ID]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA O ID DE COLABORADOR DO USUARIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.COL_ID AS 'Id'
		--,T3.MAX_HRS AS 'MaxHours'
		
	FROM CVA_USR1 T0
	--LEFT JOIN CVA_USR1 T1 ON T0.ID = T1.USR_ID
	--INNER JOIN CVA_COL T3 ON T3.ID = T1.USR_ID
	--INNER JOIN CVA_STU T2 ON T2.ID = T0.STU
	
	WHERE 1 = 1
		AND T0.USR_ID = @ID
END
GO
