USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PER_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_PER_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO PERFIL
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR	INT
,@STU	INT
,@PER	VARCHAR(200)
,@DSCR	VARCHAR(2000)
,@SIG	VARCHAR(3)
,@FIN_ACC VARCHAR(1)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PER VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@PER
		,@DSCR
		,@SIG
		,@FIN_ACC)

	SELECT @@IDENTITY AS SUCCESSID
END
GO
