USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_MEMBROS_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_MEMBROS_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO MEMBRO DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT 
,@ID_PRJ INT
,@NOM VARCHAR(50)
,@TEL VARCHAR(50)
,@EML VARCHAR(50)
,@DPT VARCHAR(50)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PROJETOS_MEMBROS VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@ID_PRJ
		,@NOM
		,@TEL
		,@EML
		,@DPT)

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
