USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_RECURSOSFASE_GET_FOR_PRJ]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_RECURSOSFASE_GET_FOR_PRJ]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS ITENS DE UMA FASE DO PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRJ INT
/*------------------------------*/
AS
BEGIN
	SELECT 
		   T0.ID      AS 'Id'
		  ,T0.ID_FAS  AS 'Fase.Id'
		  ,T4.NOM     AS 'Fase.Nome'
		  ,T4.ID      AS 'Fase.StepId'
		  ,T0.ID_ESP  AS 'Especialidade.Id'
		  ,T2.FUNC    AS 'Especialidade.Nome'
		  ,T0.ID_COL  AS 'Colaborador.Id'
		  ,T5.NOM     AS 'Colaborador.Nome'
		  ,T0.CST_ORC AS 'CustoOrcado'
		  ,T0.HRS_ORC AS 'HorasOrcadas'	
		  ,T1.ID_PRJ	  
		  
		 
	FROM CVA_PROJETOS_RECURSOSFASE T0
	INNER JOIN CVA_PROJETOS_FASES T1 ON T0.ID_FAS = T1.ID
	INNER JOIN CVA_FUNC			  T2 ON T0.ID_ESP = T2.ID
	INNER JOIN CVA_USR1			  T3 ON T0.ID_COL = T3.COL_ID
	INNER JOIN CVA_FAS_PRJ		  T4 ON T1.ID_FAS = T4.ID
	INNER JOIN CVA_COL			  T5 ON T3.COL_ID = T5.ID

	WHERE T1.ID_PRJ = @ID_PRJ		
END
GO
