USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CAL_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_CAL_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM CALENDÁRIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR  INT
,@STU  INT
,@NOM  VARCHAR(200)
,@DSCR VARCHAR(200)
,@ANO  DATETIME
,@ANOF DATETIME
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_CAL VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@NOM
		,@DSCR
		,@ANO
		,@ANOF)
	
	SELECT @@IDENTITY AS SUCCESSID
END
GO
