USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PRICING_ITENS_GET_OPRT]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_PRICING_ITENS_GET_OPRT]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS ITENS DE UMA PRICING
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRI INT
/*------------------------------*/
AS
BEGIN
	SELECT
		'O'			AS 'Tipo'
		,T0.ID      AS 'Id'
		,T0.ID_ESP  AS 'Especialidade.Id'
		,T1.FUNC    AS 'Especialidade.Nome'
		,T0.COL     AS 'Colaborador'
		,T0.HRS     AS 'EspecialidadeHoras'
		,T0.VAL     AS 'EspecialidadeValor'
		,T0.CST     AS 'EspecialidadeCusto'
        ,T0.VAL_BKO AS 'ValorBackoffice'
        ,T0.VAL_RSC AS 'ValorRisco'
        ,T0.VAL_MRG AS 'ValorMargem'
        ,T0.VAL_COM AS 'ValorComissao'
        ,T0.VAL_IMP AS 'ValorImposto'
        ,T0.HOT_DIA AS 'HotelDiarias'
        ,T0.HOT_VAL AS 'HotelValor'
        ,T0.HOT_TOT AS 'HotelTotal'
        ,T0.KLM_TRE AS 'KmTrechos'
        ,T0.KLM_DIS AS 'KmDistancia'
        ,T0.KLM_VAL AS 'KmValor'
        ,T0.KLM_TOT AS 'KmTotal'
        ,T0.ALI_DIA AS 'AlimentacaoDias'
        ,T0.ALI_VAL AS 'AlimentacaoValor'
        ,T0.ALI_TOT AS 'AlimentacaoTotal'
        ,T0.DSL_HRS AS 'DeslocamentoHoras'
        ,T0.DSL_VAL AS 'DeslocamentoValor'
        ,T0.DSL_TOT AS 'DeslocamentoTotal'
        ,T0.AER_TRE AS 'AereoTrechos'
        ,T0.AER_VAL AS 'AereoValor'
        ,T0.AER_TOT AS 'AereoTotal'
        ,T0.SUB_TOT AS 'RecursoSubTotal'
        ,T0.DSP_TOT AS 'RecursoDespesas'
        ,T0.SUB_DSP AS 'RecursoValorComDespesas'
        ,T0.DSP_IMP AS 'RecursoValorComImpostos'
        ,T0.VAL_HRS AS 'RecursoValorHorasSemDespesa'
        ,T0.VAL_HRS_DSP AS 'RecursoValorHorasComDespesa'

	FROM CVA_PRICING_ITENS_OPRT T0
	INNER JOIN CVA_FUNC T1 ON T0.ID_ESP = T1.ID
	
	WHERE ID_PRI = @ID_PRI
END
GO
