USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID INT
,@USR INT
,@STU INT
,@TAG VARCHAR(50)
,@COD VARCHAR(200)
,@NOM VARCHAR(200)
,@DSC VARCHAR(2000)
,@DAT_INI DATETIME
,@DAT_PRV DATETIME
,@ID_CLI INT
,@ID_TIP_PRJ INT
,@RSP_DSP VARCHAR(50)
,@GER INT
,@CTRL_HRS VARCHAR(1)
/*------------------------------*/
AS
BEGIN
	 UPDATE CVA_PRJ SET
		 UPD = GETDATE()
		,USR = @USR 
		,STU = @STU 
		,COD = @COD
		,TAG = @TAG 
		,NOM = @NOM 
		,DSC = @DSC 
		,DAT_INI = @DAT_INI 
		,DAT_PRV = @DAT_PRV 
		,ID_CLI = @ID_CLI
		,RSP_DSP = @RSP_DSP
		,ID_TIP_PRJ = @ID_TIP_PRJ
		,GER     = @GER
		,CTRL_HRS = @CTRL_HRS
	
	WHERE ID = @ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
