USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_REGRAS_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_REGRAS_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE AS ESPECIALIDADES DOS RECURSOS DO PROJETO COM VALOR DIFERENCIADO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@ID_PRJ INT
,@ID_COL INT
,@ID_SPC INT
,@VAL VARCHAR(20)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PROJETOS_REGRAS VALUES(
		 GETDATE()
		,NULL
		,@USR
		,1
		,@ID_PRJ
		,@ID_COL
		,@ID_SPC
		,@VAL)

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
