USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_STATUSREPORT_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_STATUSREPORT_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE OS STATUS REPORT DO PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@ID_PRJ INT
,@ID_GER INT
,@DAT DATETIME
,@HOR_ORC NUMERIC
,@HOR_CON NUMERIC
,@DSC VARCHAR(MAX)
,@PON_ATC VARCHAR(MAX)
,@PLN_ACA VARCHAR(MAX)
,@CQT VARCHAR(MAX)
,@PRX_PAS VARCHAR(MAX)
,@PCT_CON VARCHAR(MAX)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PROJETOS_STATUSREPORT VALUES(
		 GETDATE()
		,NULL
		,@USR
		,1
		,@ID_PRJ
		,@ID_GER
		,@DAT
		,@HOR_ORC
		,@HOR_CON
		,@DSC
		,@PON_ATC
		,@PLN_ACA
		,@CQT
		,@PRX_PAS
		,@PCT_CON)

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
