USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PRICING_ITENS_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[SP_CVA_PRICING_ITENS_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO MEMBRO DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT 
,@ID_PRI INT
,@ID_ESP INT
,@VAL VARCHAR(20)
,@HRS VARCHAR(20)
,@CST VARCHAR(20)
,@COL VARCHAR(100)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PRICING_ITENS VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@ID_PRI
		,@ID_ESP
		,@VAL
		,@HRS
		,@CST
		,@COL)

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
