USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PER_INACT]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PER_INACT]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INATIVA TODOS OS ACESSOS DO PERFIL
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@PER_ID INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_PER1 
		SET STU = 2
	
	WHERE PER_ID = @PER_ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
