USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_STATUSREPORT_FASES_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[SP_CVA_STATUSREPORT_FASES_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE AS FASES DO PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@ID_STU_RPT INT
,@ID_FAS_PRJ INT
,@HOR_ORC VARCHAR(MAX)
,@HOR_CON VARCHAR(MAX)
,@PCT_CON VARCHAR(MAX)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_STATUSREPORT_FASES VALUES(
		 GETDATE()
		,NULL
		,@USR
		,1
		,@ID_STU_RPT
		,@ID_FAS_PRJ
		,@HOR_ORC
		,@HOR_CON
		,@PCT_CON)

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
