USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_ADD_COLABORADOR]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_CVA_PROJETOS_ADD_COLABORADOR]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM RECURSO AO PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID_PRJ INT
,@ID_COL INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PROJETOS_RECURSOS VALUES(
		 GETDATE()
		,NULL
		,1 
		,1 
		,@ID_PRJ
		,@ID_COL)
	
	SELECT @@IDENTITY AS SUCCESS
END

GO
