USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_POL_DESP_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_POL_DESP_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UMA NOVA POLITICA DE DESPESA
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@ID_TIP_DESP INT
,@VLR DECIMAL(8,2)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_POL_DESP VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@ID_TIP_DESP
		,@VLR)

	SELECT @@IDENTITY AS SUCCESSID
END
GO
