USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 14/08/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID       AS 'Id'
		,T0.STU      AS 'Status'
		,T0.TAG      AS 'Tag'
		,T0.COD      AS 'Codigo'
		,T0.NOM      AS 'Nome'
		,T0.DSC      AS 'Descricao'
		,T0.DAT_INI  AS 'DataInicial' 
		,T0.DAT_PRV  AS 'DataPrevista'
		,T0.RSP_DSP  AS 'ResponsavelDespesa'
		,T0.CTRL_HRS AS 'ControleHoras'

		,T1.ID      AS 'Cliente.Id'
		,T1.RAZ     AS 'Cliente.Nome'

		,T2.ID      AS 'TipoProjeto.Id'
		,T2.NOM     AS 'TipoProjeto.Nome'
		,T2.AMS     AS 'TipoProjeto.AMS'

		,T3.ID      AS 'Gerente.Id'
		,T3.NOM		AS 'Gerente.Nome'

	FROM CVA_PRJ T0

	INNER JOIN CVA_CLI          T1 ON T0.ID_CLI = T1.ID
	INNER JOIN CVA_TIPOSPROJETO T2 ON T0.ID_TIP_PRJ = T2.ID
	INNER JOIN CVA_COL          T3 ON T0.GER = T3.ID

	WHERE T0.ID = @ID
END
GO
