USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_OPRT_SEARCH]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_OPRT_SEARCH]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODAS AS OPORTUNIDADES
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @COD     VARCHAR(100)
,@ID_CLI  INT
/*------------------------------*/
AS
BEGIN
	SELECT DISTINCT
		 T0.ID	    AS 'Id'
		,T0.COD     AS 'Codigo'
		,T0.TAG     AS 'Tag'
		,T0.NOM     AS 'Nome'
		,T1.RAZ	    AS 'Cliente.Nome'
		,T2.PERC	AS 'Temperatura.Valor'
		,T3.NOM		AS 'Status.Descricao'		

	FROM CVA_OPR T0
	INNER JOIN CVA_CLI T1      ON T1.ID = T0.ID_CLI
	INNER JOIN CVA_PERC_PRJ T2 ON T2.ID = T0.ID_PCT
	INNER JOIN CVA_STU T3      ON T3.ID = T0.STU
		
	WHERE 1 = 1
		AND T0.COD LIKE '%' + @COD +'%'
		AND ISNULL(T0.CONV_PRJ,0) = 0
		AND T0.ID_CLI = CASE WHEN @ID_CLI = 0 THEN T0.ID_CLI  ELSE @ID_CLI END
	
	ORDER BY T0.COD
END
GO
