USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CLI_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_CLI_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO CLIENTE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@RAZ VARCHAR(200)
,@FAN VARCHAR(200)
,@CNPJ VARCHAR(20)
,@DSCR varchar(2000)
,@DSCR_AMS varchar(2000)
,@POL_DESP_LOC INT
,@TAG VARCHAR(20)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_CLI VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@RAZ
		,@FAN
		,@CNPJ
		,@DSCR
		,@DSCR_AMS
		,@POL_DESP_LOC
		,@TAG)
	
	SELECT @@IDENTITY AS SUCCESSID
END
GO
