USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CLI5_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_CLI5_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE A LIGACAO DO CLIENTE COM A POLITICA DE DESPESA
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR			INT
,@STU			INT
,@ID_CLI		INT
,@ID_TIP_DESP   INT
,@VLR			DECIMAL(8,2)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_CLI5 VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@ID_CLI
		,2
		,@ID_TIP_DESP
		,@VLR)

	SELECT @@IDENTITY AS SUCCESSID
END
GO
