ALTER PROCEDURE [dbo].[SP_CVA_OPRT_COPY_PRJ]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 15/08/2018       |
|_______________________________|

DESCRIÇÃO:
CONVERTE UMA OPORTUNIDADE EM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@ID INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PRJ
		SELECT
			 GETDATE()
			,NULL
			,@USR
			,1
			,COD
			,TAG
			,NOM
			,'[Inserir descrição]'
			,DAT_PRV
			,DAT_PRV
			,ID_CLI
			,RSP_DSP
			,ID_TIP_PRJ
			,10
			,'N'
			  		
		FROM CVA_OPR WHERE ID = @ID

	DECLARE @ID_PRJ INT = (SELECT @@IDENTITY)

	INSERT INTO CVA_PROJETOS_PRICING
		SELECT
			 GETDATE() 
		    ,NULL
		    ,@USR
		    ,1
		    ,@ID_PRJ
		    ,PCT_BKO
		    ,PCT_RSC
		    ,PCT_MRG
		    ,PCT_COM
		    ,PCT_IMP 

		FROM CVA_OPORTUNIDADES_PRICING WHERE ID_OPR = @ID

	DECLARE @ID_PRI INT = (SELECT @@IDENTITY)
	DECLARE @ID_PRI_OPR INT = (SELECT top 1 ID FROM CVA_OPORTUNIDADES_PRICING WHERE ID_OPR = @ID  order by ins desc)

	INSERT INTO CVA_PRICING_ITENS
		SELECT
			 GETDATE()
			,NULL
		    ,@USR
		    ,1
		    ,@ID_PRI
		    ,ID_ESP
		    ,VAL
		    ,HRS
		    ,CST
		    ,'[Atribua um colaborador]' 
			,0

		FROM CVA_PRICING_ITENS_OPRT WHERE ID_PRI = @ID_PRI_OPR

	UPDATE CVA_OPR SET CONV_PRJ = @ID_PRJ WHERE ID = @ID
	
	SELECT 1 AS SUCCESS
END
