USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_EXPENSEPERIOD_RMV]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CVA_EXPENSEPERIOD_RMV]  
/*--------------------------------------------  
 _______________________________   
|           PORTAL CVA          |  
|								|  
|AUTOR: FELIPE HOSOMI		    |  
|ULT. REVISAO: 08/11/2018       |  
|_______________________________|  
  
DESCRIÇÃO:  
REMOVE UM PERIODO LIBERADO PARA APONTAMENTO DE DESPESA  
--------------------------------------------*/  
  
/*--------- PARÂMETROS ---------*/  
 @ID INT  
/*------------------------------*/  
AS  
BEGIN  
	UPDATE CVA_PRD2
	SET STU = 2
	WHERE ID = @ID  

	SELECT @@ROWCOUNT AS SUCCESS  
END  
GO
