USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CON_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_CON_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO CONTATO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@NOM VARCHAR(200)
,@EMA VARCHAR(200)
,@TEL VARCHAR(20)
,@CEL VARCHAR(20)
,@SIT VARCHAR(200)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_CON VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@NOM
		,@EMA
		,@TEL
		,@CEL
		,@SIT)

	SELECT @@IDENTITY AS SUCCESSID
END
GO
