USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PRJ_VER_NOM]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PRJ_VER_NOM]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
VERIFICA SE EXISTE UM PROJETO COM O MESMO NOME NA BASE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@NOM VARCHAR(200)
/*------------------------------*/
AS
BEGIN
	IF EXISTS(SELECT ID FROM CVA_PRJ WHERE NOM = @NOM)
	BEGIN
		SELECT
			ID AS 'SUCCESSID'
				
		FROM CVA_PRJ
		
		WHERE NOM = @NOM
	END
	
	ELSE
	BEGIN
		SELECT 0 AS SUCCESSID
	END
END
GO
