USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CLI1_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_CLI1_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
EFETUA A LIGAÇÃO DO CLIENTE COM O CONTATO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@CLI_ID INT 
,@CON_ID INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_CLI1 VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@CLI_ID
		,@CON_ID)

	SELECT @@IDENTITY AS SUCCESSID
END
GO
