USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_USR_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_USR_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO USUARIO NA BASE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@NOM VARCHAR(200)
,@PAS VARCHAR(200)
,@EML VARCHAR(500)
,@CON INT
,@COL_ID INT
,@PER_ID INT
,@EXT_USR VARCHAR(1)
,@PRJ_BND INT
/*------------------------------*/
AS
BEGIN

	IF (@COL_ID <> 0)
	BEGIN
		INSERT CVA_USR VALUES(
			 GETDATE()
			,NULL
			,@USR
			,@STU
			,@NOM
			,@PAS
			,@EML
			,@CON
			,1
			,1
			,@EXT_USR
			,@PRJ_BND)

	DECLARE @USR_ID INT = @@IDENTITY

	INSERT INTO CVA_USR1 VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@USR_ID
		,@COL_ID)

	INSERT INTO CVA_USR2 VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@USR_ID
		,@PER_ID)

	SELECT @USR_ID AS SUCCESSID
	END
END

IF (@COL_ID = 0)
BEGIN
	INSERT CVA_USR VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@NOM
		,@PAS
		,@EML
		,@CON
		,1
		,1
		,@EXT_USR
		,@PRJ_BND)

	DECLARE @USR_ID2 INT = @@IDENTITY

	INSERT INTO CVA_USR1 VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@USR_ID2
		,NULL)

	INSERT INTO CVA_USR2 VALUES(
		GETDATE()
		,NULL
		,@USR
		,@STU
		,@USR_ID2
		,@PER_ID)

	SELECT @USR_ID2 AS SUCCESSID
END
GO
