USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_OPORTUNIDADES_PRICING_GET_BY_OPPORTUNITTY]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_OPORTUNIDADES_PRICING_GET_BY_OPPORTUNITTY]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS PRICINGS DE UMA OPORTUNIDADE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_OPR INT
/*------------------------------*/
AS
BEGIN
	SELECT 
		 ID AS 'Id'
		,PCT_BKO AS 'PorcentagemBackoffice'
		,PCT_RSC AS 'PorcentagemRisco'
		,PCT_MRG AS 'PorcentagemMargem'
		,PCT_COM AS 'PorcentagemComissao'
		,PCT_IMP AS 'PorcentagemImposto'
				
	FROM CVA_OPORTUNIDADES_PRICING

	WHERE ID_OPR = @ID_OPR
END
GO
