USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_USR_COL_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_USR_COL_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA O COLABORADOR DO USUARIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_USR INT
/*------------------------------*/
AS
BEGIN
	DECLARE @USR INT = (SELECT COL_ID FROM CVA_USR1 WHERE USR_ID = @ID_USR)
	
	EXEC SP_CVA_COL_GET_ID @ID = @USR
END
GO
