USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_APON_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CVA_APON_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO APONTAMENTO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR	    INT
,@STU	    INT
,@DAT	    DATETIME
,@HOR_INI   DATETIME
,@HOR_INT   DATETIME
,@HOR_SAI   DATETIME
,@DSCR	    VARCHAR(2000)
,@SOL	    VARCHAR(2000)
,@ID_PRJ    INT
,@ID_SPC    INT
,@ID_CHA    INT
,@VLR	    VARCHAR(20)
,@ID_FAS    INT
,@TOT_HOR   VARCHAR(MAX)
,@TOT_ESP   VARCHAR(MAX)
,@TOT_REC   NUMERIC(10,2)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_APON VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@DAT
		,@HOR_INI
		,@HOR_INT
		,@HOR_SAI
		,@DSCR
		,@SOL
		,@ID_PRJ
		,@ID_SPC
		,(SELECT NUM_TCK FROM CVA_TCK_IMP WHERE ID = @ID_CHA)
		,@VLR
		,@ID_FAS)
	
		UPDATE CVA_PROJETOS_FASES SET HOR_USD = @TOT_HOR WHERE ID_PRJ = @ID_PRJ AND ID = @ID_FAS

		DECLARE @ID_PRI INT = (SELECT ID FROM CVA_PROJETOS_PRICING WHERE ID_PRJ = @ID_PRJ)

		UPDATE CVA_PRICING_ITENS SET HRS_CON = @TOT_ESP WHERE ID_PRI = @ID_PRI AND ID_ESP = @ID_SPC

		UPDATE CVA_PROJETOS_RECURSOS SET HRS_CON = @TOT_REC WHERE ID_PRJ = @ID_PRJ AND ID_FAS = (SELECT ID_FAS FROM CVA_PROJETOS_FASES WHERE ID = @ID_FAS) AND ID_ESP = @ID_SPC
			AND ID_COL = (SELECT COL_ID FROM CVA_USR1 WHERE USR_ID = @USR)

			
	SELECT @@IDENTITY AS SUCCESSID
END


GO
