USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_TIPOSPROJETO_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_TIPOSPROJETO_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA UM TIPO DE PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@NOM VARCHAR(100)
,@AMS INT
,@TEA VARCHAR(20)
,@DSC VARCHAR(200)
,@ID INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_TIPOSPROJETO SET
		 UPD = GETDATE()
		,USR = @USR
		,NOM = @NOM
		,AMS = @AMS
		,DSC = @DSC
		,TEA = @TEA

	WHERE ID = @ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
