USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_FUNC_COL_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_FUNC_COL_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODAS AS ESPECIALIDADES DE UM COLABORADOR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T2.ID		AS 'Id'
		,T2.FUNC	AS 'Name'
		,T2.DSCR	AS 'Description'
		,T0.VAL_PAY AS 'Value'
		,T2.TIP_ESP AS 'TipoEspecialidade.Id'
		,T9.NOM     AS 'TipoEspecialidade.Nome'
	
	FROM CVA_COL1 T0
	INNER JOIN CVA_FUNC T2 ON T2.ID = T0.FUNC
	INNER JOIN CVA_STU T3 ON T3.ID = T2.STU AND T2.STU = T3.ID AND T0.STU = T3.ID
	INNER JOIN CVA_TIPOSESPECIALIDADE T9 ON T9.ID = T2.TIP_ESP
	
	WHERE 1 = 1
		AND T3.IS_ATV = 1
		AND T0.COL = @ID
END
GO
