USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_GET_ID]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_COL_GET_ID]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS CALENDÁRIOS CADASTRADOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID		AS 'Id'
		,T0.STU		AS 'StatusId'
		,T0.NOM		AS 'Nome'
		,T0.EMA		AS 'Email'
		,T0.TEL		AS 'Telefone'
		,T0.CEL		AS 'Celular'
		,T0.DT_NASC AS 'DataNascimento'
		,T0.GEN		AS 'Genero'
		,T0.EST_CIV AS 'EstadoCivil'
		,T0.RG		AS 'RG'
		,T0.CPF		AS 'CPF'
		,T0.CNPJ	AS 'CNPJ'
		,T0.PASS	AS 'Passaporte'
		,T0.EMI_RG	AS 'EmissaoRG'
		,T0.ORG_EXP	AS 'OrgaoEmissor'
		,T0.VAL_PAS	AS 'ValidadePassaporte'
		,T0.NAT		AS 'Naturalidade'
		,T0.NAC		AS 'Nacionalidade'
		,T0.PRJ_MAN AS 'GerenciaProjetos'
		,T0.MAX_HRS AS 'LimiteHoras'
	
	FROM CVA_COL T0
	
	WHERE T0.ID = @ID
END
GO
