USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_FUNC_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_FUNC_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODAS AS ESPECIALIDADES
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID		AS 'Id'
		,T0.STU		AS 'StatusId'
		,T0.FUNC	AS 'Name'
		,T0.DSCR	AS 'Description'
		,T1.NOM		AS 'Status'
		,T0.VAL     AS 'Value'
		,T0.TIP_ESP AS 'TipoEspecialidade.Id'
		,T2.NOM     AS 'TipoEspecialidade.Nome'
	
	FROM CVA_FUNC T0
	INNER JOIN CVA_STU T1 ON T0.STU = T1.ID
	INNER JOIN CVA_TIPOSESPECIALIDADE T2 ON T2.ID = T0.TIP_ESP
END
GO
