USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL1_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_COL1_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
EFETUA A LIGACAO DO COLABORADOR COM AS ESPECIALIDADES
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@COL INT
,@FUNC INT
,@VAL_PAY VARCHAR(12)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_COL1 VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@COL
		,@FUNC
		,@VAL_PAY)

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
