USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_GET_BY_USER]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_GET_BY_USER]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS PROJETOS EM QUE UM USUARIO ESTÁ ALOCADO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_COL INT
/*------------------------------*/
AS
BEGIN
	SELECT DISTINCT
		 T0.ID		   AS 'Id'
		,T0.USR		   AS 'User'
		,T0.STU		   AS 'Status'
		,T0.COD		   AS 'Codigo'
		,T0.NOM		   AS 'Nome'
		,T0.DSC		   AS 'Descricao'
		,T0.DAT_INI    AS 'DataInicial' 
		,T0.DAT_PRV    AS 'DataPrevista'
		,T0.ID_CLI     AS 'Cliente.Id'
		,T1.RAZ		   AS 'Cliente.Nome'
		,T0.TAG		   AS 'Tag'
		,T0.ID_TIP_PRJ AS 'TipoProjeto.Id'
		,T2.NOM		   AS 'TipoProjeto.Nome'
		,T2.AMS		   AS 'TipoProjeto.AMS'
		,T0.RSP_DSP    AS 'ResponsavelDespesa'

	FROM CVA_PRJ T0
	INNER JOIN CVA_CLI T1 ON T0.ID_CLI = T1.ID
	INNER JOIN CVA_TIPOSPROJETO T2 ON T0.ID_TIP_PRJ = T2.ID
	INNER JOIN CVA_PROJETOS_RECURSOS T3 ON T0.ID = T3.ID_PRJ

	WHERE T3.ID_COL =  (SELECT COL_ID FROM CVA_USR1 WHERE USR_ID = @ID_COL)
		AND T0.STU = 1
		AND T3.STU = 1

	ORDER BY T0.COD
END
GO
