USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COLABORADORES_ESPECIALIDADES_RMV]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_COLABORADORES_ESPECIALIDADES_RMV]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
REMOVE UMA ESPECIALIDADE DO COLABORADOR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID_COL INT
,@ID_SPC INT
/*------------------------------*/
AS
BEGIN
	IF((SELECT SUM(ID) FROM CVA_APON WHERE USR = (SELECT USR_ID FROM CVA_USR1 WHERE COL_ID = @ID_COL)AND ID_SPC = @ID_SPC) IS NOT NULL)
	BEGIN
		SELECT 0 AS SUCCESS
	END
		
	ELSE
	BEGIN
		DELETE CVA_COL1 WHERE COL = @ID_COL AND FUNC = @ID_SPC

		SELECT 1 AS SUCCESS
	END
END
GO
