USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_RECURSOS_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_RECURSOS_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 10/08/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS RECURSOS DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRJ INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID_COL AS 'Colaborador.Id'
		,T1.NOM    AS 'Colaborador.Nome'
		,T0.ID_FAS AS 'Fase.Id'
		,T3.NOM    AS 'Fase.Nome'
		,T0.ID_ESP AS 'Especialidade.Id'
		,T2.FUNC   AS 'Especialidade.Name'
		,T0.HRS    AS 'Horas'
		,T0.HRS_CON AS 'HorasConsumidas'
		,T0.STU    AS 'Status.Id'
		,T4.NOM    AS 'Status.Descricao'

	FROM CVA_PROJETOS_RECURSOS    T0
	INNER JOIN CVA_COL            T1 ON T0.ID_COL = T1.ID
	INNER JOIN CVA_FUNC           T2 ON T0.ID_ESP = T2.ID
	INNER JOIN CVA_FAS_PRJ        T3 ON T0.ID_FAS = T3.ID
	INNER JOIN CVA_STU			  T4 ON T4.ID     = T0.STU		
	WHERE T0.ID_PRJ = @ID_PRJ

	ORDER BY T1.NOM
END
GO
