USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PER1_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_PER1_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA OS ACESSOS DO PERFIL
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @VIEW_ID INT
,@PER_ID INT
,@USR INT
,@STU INT
/*------------------------------*/
AS
BEGIN
	IF EXISTS (SELECT ID FROM CVA_PER1 WHERE VIEW_ID = @VIEW_ID AND PER_ID = @PER_ID)
	BEGIN
		UPDATE CVA_PER1 SET
			 UPD = GETDATE()
			,STU = 1
		
		WHERE VIEW_ID = @VIEW_ID AND PER_ID = @PER_ID
		
		SELECT @@ROWCOUNT AS SUCCESSID
	END
	
	ELSE
	BEGIN
		EXEC SP_CVA_PER1_INS @USR, @STU, @VIEW_ID, @PER_ID
	END
END
GO
