USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PRD1_RMV]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_PRD1_RMV]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
REMOVE UM SUBPERIODO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID INT
/*------------------------------*/
AS
BEGIN
	DELETE CVA_PRD1
	
	WHERE ID = @ID
	
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
