USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_ADR_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CVA_ADR_INS]
/*--------------------------------------------
 ___________________________________________
|PROJETO:	CVA_GESTAO						|
|AUTOR:		GIULIANO COSTA					|
|DATA:		30/03/2016	-	09H23M			|
|___________________________________________|

CHANGE LOGS:
CRIACAO DA PROCEDURE	-	30/03/2016 09H23M
_____________________________________________

DESCRICAO:
INSERE O ENDEREÇO E RETORNA O ID
--------------------------------------------*/
@USR INT
,@STU INT
,@STT VARCHAR(200)
,@STTNO VARCHAR(20)
,@BLC VARCHAR(200)
,@CIT VARCHAR(200)
,@UF INT
,@ZIP VARCHAR(20)
AS
	BEGIN
		INSERT INTO CVA_ADR VALUES(
			GETDATE()
			,NULL
			,@USR
			,@STU
			,@STT
			,@STTNO
			,@BLC
			,@CIT
			,@UF
			,@ZIP
		)
		SELECT @@IDENTITY AS SUCCESSID
	END
GO
