USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_FAS_PRJ_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_FAS_PRJ_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UMA NOVA FASE DE PROJETO E RETORNA O ID
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@COD VARCHAR(200)
,@NOM VARCHAR(200)
,@DSCR VARCHAR(2000)
,@IS_PRJ INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_FAS_PRJ VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@COD
		,@NOM
		,@DSCR
		,@IS_PRJ)

	SELECT @@IDENTITY AS SUCCESSID
END
GO
