USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PRD1_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PRD1_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS SUBPERIODOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_COL INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID		AS 'Id'
		,T0.COL_ID	AS 'Colaborador'
		,T1.NOM		AS 'ColaboradorNome'
		,T0.DAT_INI	AS 'De'
		,T0.DAT_FIM	AS 'Ate'
		,T2.NOM		AS 'User.Name'

	FROM CVA_PRD1 T0
	INNER JOIN CVA_COL T1 ON T1.ID = T0.COL_ID
	INNER JOIN CVA_USR T2 ON T2.ID = T0.USR

	WHERE T0.COL_ID = CASE WHEN @ID_COL = 0 THEN T0.COL_ID ELSE @ID_COL END

	ORDER BY T1.NOM
END
GO
