USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COLABORADORES_ENDERECO_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_CVA_COLABORADORES_ENDERECO_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA O ENDEREÇO DO COLABORADOR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID		AS 'Id'
		,T0.STU		AS 'StatusId'
		,T0.STT		AS 'Street'
		,T0.STTNO	AS 'StreetNo'
		,T0.BLC		AS 'Block'
		,T0.CIT		AS 'City'
		,T0.UF		AS 'Uf_Id'
		,T0.ZIP		AS 'ZipCode'
	
	FROM CVA_ADR T0
	INNER JOIN CVA_COL_ADR T1 ON T1.ADR_ID = T0.ID

	WHERE T1.COL_ID = @ID
END
GO
