USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_GET_MAX_HRS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_COL_GET_MAX_HRS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS COLABORADORES COM HORA LIMITE DIFERENTE DE 8:00
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_COL INT
/*------------------------------*/
AS
BEGIN
	SELECT 
		 T0.ID		AS 'Id'
		,T0.ID		AS 'Colaborador'
		,T0.NOM		AS 'ColaboradorNome'
		,T0.MAX_HRS	AS 'Horas'
		,T2.NOM		AS 'User'
	
	FROM CVA_COL T0
	INNER JOIN CVA_STU T1 ON T0.STU = T1.ID
	INNER JOIN CVA_USR T2 ON T2.ID = T0.USR
	
	WHERE 1 = 1
		AND T1.IS_ATV = 1
		AND T0.MAX_HRS <> '08:00:00'
		AND T0.ID = CASE WHEN @ID_COL = 0 THEN T0.ID ELSE @ID_COL END

	ORDER BY T0.NOM
END
GO
