USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_APON4_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_APON4_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO REGISTRO DE HORAS AUTORIZADAS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR     INT
,@COL	  INT 
,@DAT	  DATETIME
,@MAX_HRS DATETIME
/*------------------------------*/
AS
BEGIN
	IF EXISTS (SELECT ID FROM CVA_COL4 WHERE ID_COL = @COL AND DAT = @DAT)
	BEGIN
		UPDATE CVA_COL4 SET
			 UPD = GETDATE()
			,MAX_HRS = @MAX_HRS
				
		WHERE ID_COL = @COL AND DAT = @DAT
	
		SELECT @@ROWCOUNT AS SUCCESS
	END
	
	ELSE
	BEGIN
		INSERT INTO CVA_COL4 VALUES(
			 GETDATE()
			,NULL
			,@USR
			,1
			,@COL
			,@DAT
			,@MAX_HRS)

		SELECT @@ROWCOUNT AS SUCCESS
	END
END
GO
