USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PRICING_ITENS_RMV]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PRICING_ITENS_RMV]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
REMOVE OS ITENS DE UMA PRICING
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRI INT
/*------------------------------*/
AS
BEGIN
	DELETE CVA_PRICING_ITENS 
			
	WHERE ID_PRI = @ID_PRI

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
