USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_COL_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE O COLABORADOR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@NOM VARCHAR(200)
,@EMA VARCHAR(200)
,@TEL VARCHAR(20)
,@CEL VARCHAR(20)
,@DT_NASC DATETIME
,@GEN INT
,@EST_CIV INT
,@RG VARCHAR(20)
,@CPF VARCHAR(30)
,@CNPJ VARCHAR(30)
,@PASS VARCHAR(50)
,@EMI_RG DATETIME
,@ORG_EXP VARCHAR(50)
,@VAL_PAS DATETIME
,@NAT VARCHAR(200)
,@NAC VARCHAR(200)
,@PRJ_MAN INT
,@TYP INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_COL VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@NOM
		,@EMA
		,@TEL
		,@CEL
		,@DT_NASC
		,@GEN
		,@EST_CIV
		,@RG
		,@CPF
		,@CNPJ
		,@PASS
		,@EMI_RG
		,@ORG_EXP
		,@VAL_PAS
		,@NAT
		,@NAC
		,@PRJ_MAN
		,@TYP
		,(SELECT MAX_HRS FROM CVA_COL5))
	
	SELECT @@IDENTITY AS SUCCESS
END
GO
