USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_TIP_DESP_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_TIP_DESP_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA O TIPO DE DESPESA
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID INT
,@USR INT
,@STU INT
,@NOM VARCHAR(200)
,@DSCR VARCHAR(2000)
,@UN_MED INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_TIP_DESP SET
		 UPD = GETDATE()
		,USR = @USR
		,STU = @STU
		,NOM = @NOM
		,DSCR = @DSCR
		,UN_MED = @UN_MED
		
	WHERE ID = @ID
	
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
