USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_COL_UPD_MAX_HRS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_COL_UPD_MAX_HRS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
EFETUA A ATUALIZACAO DO LIMITE DE HORAS DO COLABORADOR
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID INT
,@USR INT
,@MAX_HRS DATETIME
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_COL SET
		UPD = GETDATE()
		,USR = @USR
		,MAX_HRS = @MAX_HRS
	
	WHERE ID = @ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
