USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CLI1_DEL]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_CLI1_DEL]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
REMOVE OS CONTATOS DO CLIENTE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT CVA_CON.ID
		INTO #TEMP_CON
	
	FROM CVA_CON
	INNER JOIN CVA_CLI1 ON CVA_CLI1.CON_ID = CVA_CON.ID
	
	WHERE CVA_CLI1.CLI_ID = @ID

	DELETE FROM CVA_CLI1
	
	WHERE CLI_ID = @ID

	DELETE CVA_CON FROM CVA_CON
	INNER JOIN #TEMP_CON ON #TEMP_CON.ID = CVA_CON.ID
		 
	DROP TABLE #TEMP_CON

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
