USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CLI_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_CLI_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA UM CLIENTE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@RAZ VARCHAR(200)
,@FAN VARCHAR(200)
,@CNPJ VARCHAR(20)
,@ID INT
,@DSCR VARCHAR(2000)
,@DSCR_AMS VARCHAR(500)
,@POL_DESP_LOC INT
,@TAG VARCHAR(20)
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_CLI SET
		 UPD = GETDATE()
		,USR		= @USR
		,STU		= @STU
		,RAZ		= @RAZ
		,FAN		= @FAN
		,CNPJ		= @CNPJ
		,DSCR		= @DSCR
		,DSCR_AMS	= @DSCR_AMS
		,POL_DESP_LOC = @POL_DESP_LOC
		,TAG	     = @TAG
	
	WHERE ID =	@ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
