USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_APON_GET_BY_DAY]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_APON_GET_BY_DAY]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS APONTAMENTOS DE UM DIA ESPECÍFICO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@DAT DATETIME
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID		AS 'Id'
		,T0.HOR_INI AS 'InitHour'
		,T0.HOR_INT AS 'IntervalHour'
		,T0.HOR_SAI AS 'FinishHour'
	
	FROM CVA_APON T0

	WHERE 1 = 1
		AND T0.USR = @USR
	    AND T0.DAT = @DAT
	    AND T0.STU = 1
END
GO
