USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_FUNC_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_FUNC_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE A ESPECIALIDADE E RETORNA O ID
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@USR INT
,@STU INT
,@FUNC VARCHAR(200)
,@DSCR VARCHAR(2000)
,@VAL VARCHAR(50)
,@TIP_ESP INT
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_FUNC VALUES(
		 GETDATE()
		,NULL
		,@USR
		,@STU
		,@FUNC
		,@DSCR
		,@VAL
		,@TIP_ESP)
		
	SELECT @@IDENTITY AS SUCCESSID
END
GO
