USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_FASES_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_FASES_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM NOVO MEMBRO DE UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT 
,@ID_PRJ INT
,@ID_FAS INT
,@DAT_INI DATETIME
,@DAT_PRV DATETIME
,@HOR_ORC VARCHAR(20)
,@LBR	  VARCHAR(1)
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_PROJETOS_FASES SET
		 UPD = GETDATE()
		,USR = @USR
		,STU = @STU
		,DAT_INI = @DAT_INI
		,DAT_PRV = @DAT_PRV
		,HOR_ORC = @HOR_ORC
		,LBR     = @LBR
			
	WHERE ID_PRJ = @ID_PRJ
		AND ID_FAS = @ID_FAS

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
