USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_STATUSREPORT_GET_PARCIAL_ORC]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_STATUSREPORT_GET_PARCIAL_ORC]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS HORAS ORÇADAS PARA UM PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRJ INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.HRS_ORC AS 'Orçadas'
	    ,T2.NOM AS 'Especialidade'
		,T0.ID_FAS AS 'Fase'
		,T3.ID_PRJ AS 'Projeto'

	FROM CVA_PROJETOS_RECURSOSFASE T0
	INNER JOIN CVA_FUNC T1 ON T1.ID = T0.ID_ESP
	INNER JOIN CVA_TIPOSESPECIALIDADE T2 ON T2.ID = T1.TIP_ESP
	INNER JOIN CVA_PROJETOS_FASES T3 ON T3.ID =T0.ID_FAS

	WHERE T3.ID_PRJ = @ID_PRJ
END
GO
