USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CLI2_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_CLI2_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS ENDERECOS DO CLIENTE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID		AS 'Id'
		,T0.BLC		AS 'Block'
		,T0.CIT		AS 'City'
		,T0.STT		AS 'Street'
		,T0.STTNO	AS 'StreetNo'
		,T0.ZIP		AS 'ZipCode'
		,T0.UF		AS 'Uf_Id'

	FROM CVA_ADR T0
	INNER JOIN CVA_CLI2 T1 ON T0.ID = T1.ADR_ID
	
	WHERE T1.CLI_ID = @ID
END
GO
