USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_TIPOSPROJETO_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_CVA_TIPOSPROJETO_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA UM TIPO DE PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 ID  AS 'Id'
		,USR AS 'User'
		,STU AS 'Status'
		,NOM AS 'Nome'
		,AMS AS 'AMS'
		,TEA AS 'Equipe'
		,DSC AS 'Descricao'

	FROM CVA_TIPOSPROJETO

	WHERE ID = @ID
END
GO
