USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_USR_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_USR_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA O REGISTRO DO USUARIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@NOM VARCHAR(200)
,@EML VARCHAR(200)
,@PAS VARCHAR(500)
,@ID INT
,@PRJ_BND INT
,@EXT_USR VARCHAR(1)
,@PER_ID INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_USR SET
		 UPD = GETDATE()
		,USR = @USR
		,STU = @STU
		,NOM = @NOM
		,PAS = CASE WHEN ISNULL(@PAS,'') = '' THEN PAS ELSE @PAS END
		,EML = @EML
		,PRJ_BND = @PRJ_BND
		,EXT_USR = @EXT_USR
	
	WHERE ID = @ID

	UPDATE CVA_USR2 SET
		 USR = @USR
		,PER_ID = @PER_ID
	
	WHERE USR_ID = @ID
	
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
