USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_APON_EXT_REL]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_APON_EXT_REL]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
FECHAMENTO MANUAL DOS APONTAMENTOS MENSAIS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @DAT_INI DATETIME = '####-##-##'
,@DAT_FIM DATETIME = '####-##-##'
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_APON	SET
		STU = 5

	WHERE STU = 1 AND DAT BETWEEN @DAT_INI AND @DAT_FIM

	SELECT
		CONVERT(VARCHAR,T0.DAT,103) AS 'Data'
		,T3.NOM						AS 'Colaborador'
		,T4.COD						AS 'Projeto'
		,T8.RAZ						AS 'Cliente'
		,T0.HOR_INI					AS 'Hora Inicial'
		,ISNULL(T0.HOR_INT, '00:00:00')					AS 'Intervalo'
		,T0.HOR_SAI					AS 'Hora Final'
		,REPLACE(REPLACE(T0.DSCR, CHAR(13), ''), CHAR(10), '') AS 'Descrição'
		,T0.ID_CHA					AS 'Chamado'
		,T0.SOL						AS 'Solicitante'
		,T6.FUNC					AS 'Especialidade'
		,T9.NOM						AS 'Tipo'

	FROM CVA_APON T0
	INNER JOIN CVA_USR1 T2		    ON T2.USR_ID = T0.USR
	INNER JOIN CVA_COL T3		    ON T3.ID = T2.COL_ID
	INNER JOIN CVA_PRJ T4		    ON T0.ID_PRJ = T4.ID
	INNER JOIN CVA_FUNC T6		    ON T6.ID = T0.ID_SPC
	INNER JOIN CVA_STU T7		    ON T7.ID = T0.STU
	INNER JOIN CVA_CLI T8		    ON T8.ID = T4.ID_CLI
	INNER JOIN CVA_TIPOSPROJETO T9  ON T9.ID = T4.ID_TIP_PRJ
	
	WHERE 1 = 1
		AND T0.STU = 5
		AND DAT BETWEEN @DAT_INI AND @DAT_FIM
		
	GROUP BY T0.DAT, T3.NOM, T4.COD, T8.RAZ,
		     T0.HOR_INI, T0.HOR_INT, T0.HOR_SAI,
			 T0.ID_CHA, T0.DSCR, T0.SOL,
			 T6.FUNC, T9.NOM

	ORDER BY T0.DAT, T3.NOM
END
GO
