USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CLI5_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_CLI5_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA AS DESPESA DO CLIENTE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T1.NOM			AS 'Name'
		,T0.VLR			AS 'Value'
		,T0.ID_TIP_DESP	AS 'Id'
		,T0.STU			AS 'Status'
	
	FROM CVA_CLI5 T0
	INNER JOIN CVA_TIP_DESP T1 ON T1.ID = T0.ID_TIP_DESP
	
	WHERE T0.ID_CLI = @ID
END
GO
