USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_GETLIMITEHORAS_FAS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_GETLIMITEHORAS_FAS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
----
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID_PRJ INT
,@ID_FAS INT
,@ID_ESP INT
,@USR    INT
/*------------------------------*/
AS
BEGIN
	DECLARE @CONTROLA VARCHAR(1) = (SELECT CTRL_HRS FROM CVA_PRJ WHERE ID = @ID_PRJ)
	
	IF(@CONTROLA = 'S')
	BEGIN
	SELECT 
		 T0.HRS AS 'Limite'

	FROM CVA_PROJETOS_RECURSOS T0

	WHERE T0.ID_PRJ = @ID_PRJ
		AND T0.ID_FAS = (SELECT ID_FAS FROM CVA_PROJETOS_FASES WHERE ID = @ID_FAS)
		AND T0.ID_ESP = @ID_ESP
		AND T0.ID_COL = (SELECT COL_ID FROM CVA_USR1 WHERE USR_ID = @USR)
		AND T0.STU IN (1,5)
	END

	ELSE
	BEGIN
		SELECT 1000000 AS 'Limite'
	END
END
GO
