USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CLI_GET_FIL]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_CLI_GET_FIL]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS CLIENTES CONFORME OS FILTROS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @NAME VARCHAR(50)
/*------------------------------*/
AS
BEGIN
	SELECT DISTINCT
		T0.ID	AS 'Id',
		T0.RAZ	AS 'Name',
		T0.CNPJ	AS 'CNPJ',
		T1.NOM	AS 'Status.Descricao'
			
	FROM CVA_CLI T0
		
    INNER JOIN CVA_STU  T1    ON T1.ID = T0.STU

		
	WHERE 1 = 1
	AND T0.RAZ  LIKE '%' + @NAME +'%'
		
	ORDER BY T0.RAZ
END
GO
