USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CHANGEREQUEST_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_CHANGEREQUEST_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UMA NOVA CHANGE REQUEST
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR	 INT
,@ID_PRJ INT
,@COD	 VARCHAR(1000)
,@VER	 VARCHAR(1000)
,@AUT	 VARCHAR(1000)
,@SIT	 VARCHAR(1000)
,@GPI	 VARCHAR(1000)
,@GPE	 VARCHAR(1000)
,@DEP	 VARCHAR(1000)
,@PRO	 VARCHAR(1000)
,@DSC	 VARCHAR(1000)
,@MOT	 VARCHAR(1000)
,@REC	 VARCHAR(1000)
,@IPO	 VARCHAR(1000)
,@INE	 VARCHAR(1000)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_CHANGEREQUEST VALUES(
		 GETDATE()
		,NULL
	    ,@USR
	    ,1
	    ,@ID_PRJ
	    ,@COD
	    ,@VER
	    ,@AUT
	    ,@SIT
	    ,@GPI
	    ,@GPE
	    ,@DEP
	    ,@PRO
	    ,@DSC
	    ,@MOT
	    ,@REC
	    ,@IPO
	    ,@INE)

	SELECT @@IDENTITY AS SUCCESSID
END
GO
