USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PROJETOS_RECURSOSFASE_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PROJETOS_RECURSOSFASE_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE UM ITEM DE UMA FASE DO PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@ID_FAS INT
,@ID_ESP INT
,@ID_COL INT
,@CST_ORC VARCHAR(12)
,@HRS_ORC VARCHAR(12)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PROJETOS_RECURSOSFASE VALUES(
		GETDATE()
		,NULL
		,@USR
		,1
		,@ID_FAS
		,@ID_ESP
		,@ID_COL
		,@CST_ORC
		,@HRS_ORC)

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
