USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PRICING_ITENS_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_PRICING_ITENS_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA OS ITENS DE UMA PRICING
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID_PRI INT
/*------------------------------*/
AS
BEGIN
	SELECT
		'P'		   AS 'Tipo' 
		,T0.ID     AS 'Id'
		,T0.ID_ESP AS 'Especialidade.Id'
		,T1.FUNC   AS 'Especialidade.Nome'
		,T0.COL    AS 'Colaborador'
		,T0.HRS    AS 'EspecialidadeHoras'
		,T0.VAL    AS 'EspecialidadeValor'
		,T0.CST    AS 'EspecialidadeCusto'

	FROM CVA_PRICING_ITENS T0
	INNER JOIN CVA_FUNC T1 ON T0.ID_ESP = T1.ID
	
	WHERE ID_PRI = @ID_PRI
END
GO
