USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PRD1_LIST_UPD_STU]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_CVA_PRD1_LIST_UPD_STU]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA STATUS DE UMA LISTA DE SUBPERIODOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID_LIST VARCHAR(MAX)
,@STU INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_PRD1 SET
		STU = @STU

	WHERE ID IN (@ID_LIST)
				
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
