USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CLI_GET_ID]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_CLI_GET_ID]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA UM CLIENTE
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT
		 T0.ID			 AS 'Id'
		,T0.RAZ			 AS 'Name'
		,T0.FAN			 AS 'FantasyName'
		,T0.CNPJ		 AS 'CNPJ'
		,T0.STU			 AS 'StatusId'
		,T1.NOM			 AS 'Status'
		,T0.DSCR		 AS 'Description'
		,T0.DSCR_AMS	 AS 'DescriptionAMS'
		,T0.POL_DESP_LOC AS 'LocalPoliticExpense'
		,T0.TAG			 AS 'Tag'
	
	FROM CVA_CLI T0
	INNER JOIN CVA_STU T1 ON T1.ID = T0.STU
		
	WHERE T0.ID = @ID
END
GO
