USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_LOADCOMBO_PROJECT]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CVA_LOADCOMBO_PROJECT]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
FUNÇÃO PARA CARREGAR COMBOBOX DE PROJETOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT
		 ID	 AS 'Id'
		,COD AS 'Codigo'
		,TAG AS 'Tag'
		,NOM AS 'Nome'		
	
	FROM CVA_PRJ

	WHERE STU = 1

	ORDER BY COD
END
GO
