USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_USR_UPD_USR]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_USR_UPD_USR]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA O REGISTRO DO USUARIO PELO PROPRIO USUARIO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @PAS VARCHAR(200)
,@ID INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_USR SET
		 UPD = GETDATE()
		,PAS = @PAS
	
	WHERE ID = @ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
