USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_LOGOFF]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_LOGOFF]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA O STATUS DO USUARIO PARA NÃO CONECTADO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@USR INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_USR SET 
		CON = 0 
	
	WHERE 1 = 1
		AND ID = @USR

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
