USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_TIP_DESP_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CVA_TIP_DESP_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODOS OS TIPOS DE DESPESAS ATIVOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/

/*------------------------------*/
AS
BEGIN
	SELECT 
		 T0.ID		AS 'Id'
		,T0.NOM		AS 'Name'
		,T0.DSCR	AS 'Description'
		,T0.UN_MED AS 'UnitMeter'
	
	FROM CVA_TIP_DESP T0
	INNER JOIN CVA_STU T1 ON T0.STU = T1.ID
	
	WHERE T1.IS_ATV = 1
END
GO
