USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_VIEW_PER_GET]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_VIEW_PER_GET]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
RETORNA TODAS AS VIEWS PELO ID DO PERFIL
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
@ID INT
/*------------------------------*/
AS
BEGIN
	SELECT 
		 T1.ID		AS 'Id'
		,T1.VIE		AS 'Name'
		,T1.DSCR	AS 'Description'
		
	FROM CVA_PER1 T0
	INNER JOIN CVA_VIEW T1 ON T0.VIEW_ID = T1.ID
	INNER JOIN CVA_STU T2 ON T2.ID = T0.STU
	
	WHERE 1 = 1
		AND T0.PER_ID = @ID
		AND T2.IS_ATV = 1
END
GO
