USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_FAS_PRJ_UPD]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_CVA_FAS_PRJ_UPD]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ATUALIZA O REGISTRO DE FASE DO PROJETO
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR INT
,@STU INT
,@COD VARCHAR(200)
,@NOM VARCHAR(200)
,@DSCR VARCHAR(2000)
,@ID INT
/*------------------------------*/
AS
BEGIN
	UPDATE CVA_FAS_PRJ SET
		 UPD = GETDATE()
		,USR = @USR
		,STU = @STU
		,COD = @COD
		,NOM = @NOM
		,DSCR = @DSCR
		
	WHERE ID = @ID

	SELECT @@ROWCOUNT AS SUCCESS
END
GO
