USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CHANGEREQUEST_RECURSOS_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_CVA_CHANGEREQUEST_RECURSOS_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INSERE OS ITENS DE UMA NOVA CHANGE REQUEST
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR	 INT
,@ID_CHR INT
,@ID_FAS INT
,@FAS	 VARCHAR(1000)
,@ID_SPC INT
,@SPC	 VARCHAR(1000)
,@HRS	 VARCHAR(1000)
,@SOL	 VARCHAR(1000)
,@NSC	 VARCHAR(1000)
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_CHANGEREQUEST_RECURSOS VALUES(
		 GETDATE()
		,NULL
	    ,@USR
	    ,1
	    ,@ID_CHR
	    ,@ID_FAS
	    ,@FAS
	    ,@ID_SPC
	    ,@SPC
	    ,@HRS
	    ,@SOL
	    ,@NSC)

	SELECT @@IDENTITY AS SUCCESSID
END
GO
