USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_PRD1_INS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_PRD1_INS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
INCLUÍ SUBPERIODOS
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @USR     INT
,@ID_COL  INT
,@DAT_INI DATETIME
,@DAT_FIM DATETIME
/*------------------------------*/
AS
BEGIN
	INSERT INTO CVA_PRD1 VALUES(
		 GETDATE()
		,@USR
		,1
		,@ID_COL
		,NULL
		,NULL
		,@DAT_INI
		,@DAT_FIM)
	
	SELECT @@ROWCOUNT AS SUCCESS
END
GO
