USE [CVA_Gestao]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_CHANGEREQUEST_ADD_HRS]    Script Date: 05/02/2019 14:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CVA_CHANGEREQUEST_ADD_HRS]
/*--------------------------------------------
 _______________________________ 
|           PORTAL CVA	        |
|								|
|AUTOR: LOURENÇO LUNARDELLI     |
|ULT. REVISAO: 19/04/2018       |
|_______________________________|

DESCRIÇÃO:
ADICIONA HORAS EM UMA FASE DO PROJETO QUANDO UMA CHANGE REQUEST É AUTORIZADA
--------------------------------------------*/

/*--------- PARÂMETROS ---------*/
 @ID_FAS INT
,@ID_SPC INT
,@HRS    VARCHAR(10)
,@ID_PRJ INT
,@USR	 INT
/*------------------------------*/
AS
BEGIN
	DECLARE @FAS INT = (SELECT ID FROM CVA_PROJETOS_FASES WHERE ID_PRJ = @ID_PRJ AND ID_FAS = @ID_FAS)

	IF ((SELECT ID FROM CVA_PROJETOS_RECURSOSFASE WHERE ID_FAS = @FAS AND ID_ESP = @ID_SPC) > 0)
	BEGIN
		UPDATE CVA_PROJETOS_RECURSOSFASE SET HRS_ORC = (CONVERT(NUMERIC(19,2),HRS_ORC) + CONVERT(NUMERIC(19,2),@HRS)) WHERE ID_FAS = @FAS AND ID_ESP = @ID_SPC 
	END
	
	ELSE
	BEGIN
		INSERT INTO CVA_PROJETOS_RECURSOSFASE VALUES(GETDATE(), NULL, @USR, 1, @FAS, @ID_SPC, (SELECT GER FROM CVA_PRJ WHERE ID = @ID_PRJ), (SELECT VAL FROM CVA_FUNC WHERE ID = @ID_SPC), @HRS)
	END
	
	UPDATE CVA_PROJETOS_FASES SET HOR_ORC = (CONVERT(NUMERIC(19,2),HOR_ORC) + CONVERT(NUMERIC(19,2),@HRS)) WHERE ID = @FAS
	UPDATE CVA_PROJETOS_FASES SET CST_ORC = (CONVERT(VARCHAR(100),(SELECT SUM(CONVERT(NUMERIC(19,2),CST_ORC) * CONVERT(NUMERIC(19,2),HRS_ORC)) FROM CVA_PROJETOS_RECURSOSFASE WHERE ID_FAS = @FAS)))

	SELECT @@ROWCOUNT AS SUCCESSID
END
GO
