<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Server - No Hana, incluir a porta (por padrão é a 30015)-->
    <!--
    <add key="FlexyURL" value="https://brwhomolog.api.flexy.com.br/platform/api/" />
    <add key="FlexyToken" value="mvzwlrxprml1qk3ivul1iz" />
    -->
    <add key="ServiceLayerURL" value="https://hanab1:50000/b1s/v1/" />
    <add key="Server" value="hanab1:30015" />
    <add key="Database" value="TESTE_INTEGRADO" />
    <add key="B1User" value="luis.toledo" />
    <add key="B1Password" value="b1admin" />
    <add key="DBUser" value="SYSTEM" />
    <add key="DBPassword" value="Cva@2690" />
  </appSettings>
</configuration>