USE [SBO_DESANGOSSE_PRD2]
GO
/****** Object:  StoredProcedure [dbo].[SP_CVA_FICHA_CLIENTE]    Script Date: 13/12/2018 11:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_CVA_FICHA_CLIENTE]
( 
	 @Cliente	  varchar(30)	
)

AS

BEGIN
SELECT distinct  T0.CardCode + ' - ' + T0.CardName as 'Nome'
	   ,T1.AddrType +' ' +	T1.Street+', '+ T1.StreetNo +' '+ t1.Block as 'Endereço'
	   ,T1.City+' - ' + T1.state as 'Cidade'
	   ,'('+T0.Phone2+') ' + T0.Phone1 as 'Fone'
	   ,T0.E_Mail as 'E-Mail'
	   ,(select top 1 E_mailL from ocpr where cardcode = @cliente and U_AGL_NFe_RecebeNfe = 'Y') as 'XML_NFE'
	   ,T0.zipCode as 'CEP'
	   ,T2.TaxId0 as 'CNPJ'
	   ,T2.TaxId1 as 'I.E'
	   ,T2.TaxId8 as 'Suframa'
	   ,Convert(decimal(19,2),T0.CreditLine) as 'Limite'
	   ,Convert(decimal(19,2),T0.CreditLine - T0.balance) as 'Limite Disp'
	   ,Convert(decimal(19,6),T0.balance) as 'Á Receber' 

  FROM OCRD T0
 INNER JOIN CRD1 T1 ON T0.CardCode = T1.CardCode
 INNER JOIN CRD7 T2 ON T0.Cardcode = T2.CardCode
 WHERE T0.CardCode = @Cliente

END


