<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--<appSettings>
    <add key="Server" value="192.168.43.15"/>
    <add key="MESDatabase" value="MES"/>
    <add key="Database" value="SBO_TesteFinal"/>
    <add key="UserName" value="sa"/>
    <add key="Password" value="@H20#17*"/>
    <add key="RefreshMinutes" value="1"/>
    <add key="SearchMinutes" value="60"/>
  </appSettings>-->
  <appSettings>
    <add key="Server" value="FELIPE-PC"/>
    <add key="MESDatabase" value="MES"/>
    <add key="Database" value="SBODemoBR"/>
    <add key="UserName" value="sa"/>
    <add key="Password" value="sa@123"/>
    <add key="RefreshMinutes" value="1"/>
    <add key="SearchMinutes" value="60"/>
  </appSettings>
</configuration>