<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceLayerURL" value="https://hanab1:50000/b1s/v1/" />
    <add key="Server" value="hanab1:30015" />
    <add key="Database" value="TESTE_INTEGRADO" />
    <add key="B1User" value="luis.toledo" />
    <add key="B1Password" value="b1admin" />
    <add key="DBUser" value="SYSTEM" />
    <add key="DBPassword" value="Cva@2690" />

    <!--
    <add key="MagentoURL" value="https://hapi.grupoboticario.com.br" />
    <add key="MagentoUser" value="cva" />
    <add key="MagentoPassword" value="@lBb8qt9lsMvatLW5fat1" />
    <add key="MagentoClientId" value="6ce90a59-0c22-4c4f-a8a7-9c39ddf5efae" />
    <add key="MagentoClientSecret" value="D2vK8eU2cG4oK5oN2cX7vQ4dF1kT2jM8vX5vX0rF5kW7sU8jX5" />
    -->
    
  </appSettings>
</configuration>