@{
  ViewBag.Title = "Progress Samples";
}

<style>
  .list-group-item {
    font-size: 1.2em;
  }
</style>

<div class="well well-sm">
  <h2>Progress Samples</h2>
  <p>
    These samples illustrate how to display progress messages to the user.
  </p>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <h3>Submit with Progress Messages</h3>
      <a class="list-group-item" href="/ProgressSamples/Progress01">Change Button When Clicked</a>
      <a class="list-group-item" href="/ProgressSamples/Progress02">Pop-up Message</a>
      <a class="list-group-item" href="/ProgressSamples/Progress03">Gray Out Background</a>
      <a class="list-group-item" href="/ProgressSamples/Progress04">Font Awesome Spinner</a>
    </div>
  </div>
</div>

