<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Server" value="FELIPE-PC"/>
    <add key="Database" value="SBODemoBR"/>
    <add key="UserName" value="sa"/>
    <add key="Password" value="sa@123"/>
    <add key="WaitMilliSeconds" value="500"/>
    <add key="FileName" value="gerado.txt"/>
    <add key="LogFile" value="C:\CVA Consultoria\bancadateste.txt"/>
    <add key="1" value="c:\temp\Bancada1"/>
    <add key="2" value="c:\temp\Bancada2"/>
  </appSettings>
</configuration>