<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CVA.Monitor.WBC.Excel.Files.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CVA.Monitor.WBC.Excel.Files.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CRO" value="7891027114763"/>
    <add key="CC"  value="DESP0001"/>
    <add key="CAS" value="PA00038 "/>
    <add key="CSO" value="PA00122"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <applicationSettings>
    <CVA.Monitor.WBC.Excel.Files.Properties.Settings>
      <setting name="Servidor" serializeAs="String">
        <value>hanab1:30015</value>
      </setting>
      <setting name="UsuarioDB" serializeAs="String">
        <value>SYSTEM</value>
      </setting>
      <setting name="SenhaDB" serializeAs="String">
        <value>hanab1@SAP</value>
      </setting>
      <setting name="FolderMonitor" serializeAs="String">
        <value>C:\Import</value>
      </setting>
      <setting name="ServidorLicenca" serializeAs="String">
        <value>hanab1</value>
      </setting>
      <setting name="Base" serializeAs="String">
        <value>SBO_KESTAL</value>
      </setting>
      <setting name="UsuarioSAP" serializeAs="String">
        <value>manager</value>
      </setting>
      <setting name="SenhaSAP" serializeAs="String">
        <value>Cva@2020</value>
      </setting>
    </CVA.Monitor.WBC.Excel.Files.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <CVA.Monitor.WBC.Excel.Files.Properties.Settings>
      <setting name="CriarUDF" serializeAs="String">
        <value>N</value>
      </setting>
      <setting name="ColunaCodigoDoVendedor" serializeAs="String">
        <value>ColunaCodigoDoVendedor</value>
      </setting>
      <setting name="CodigoItemCompra" serializeAs="String">
        <value>ENER00001</value>
      </setting>
      <setting name="CodigoItemVenda" serializeAs="String">
        <value>ENER00001</value>
      </setting>
      <setting name="Perfil_CCEE_Default" serializeAs="String">
        <value>111</value>
      </setting>
    </CVA.Monitor.WBC.Excel.Files.Properties.Settings>
  </userSettings>
</configuration>
