<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Server - No Hana, incluir a porta (por padrão é a 30015)-->
    <add key="ApiMagento" value="http://www.lojaescoteira.com.br/index.php" />
    <add key="ApiMagentoUser" value="sap" />
    <add key="ApiMagentoPassWord" value="3itkBEwFbPyM1" />
    <add key="Server" value="10.170.1.50:30015" />
    <add key="Database" value="SBO_ESCOTEIROS_PRO" />
    <add key="B1User" value="manager" />
    <add key="B1Password" value="B1admin@" />
    <add key="DBUser" value="SYSTEM" />
    <add key="DBPassword" value="CVA@inicio123" />
    <add key="ServiceLayerURL" value="https://10.170.1.50:50000/b1s/v1/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>