<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="Hana" connectionString="Server=10.120.4.10:30015;UserName=SYSTEM;Password=!Acesso@2019" providerName="Sap.Data.Hana" />-->
    <add name="Hana" connectionString="Server=172.19.86.5:30015;UserName=B1ADMIN;Password=@SAP!Pneufree#" providerName="Sap.Data.Hana" />
  </connectionStrings>
  <appSettings>
    <!--Intervalo de execução-->
    <add key="WaitTime" value="5000"/>
    <!--Banco de dados utilizado-->
    <add key="DataBase" value="SBOCOINTER_TESTE"/>
    <!--Impressora vinculada à bancada 1-->
    <add key="1" value="EPSONA704F2 (L355 Series)"/>
    <!--Impressora vinculada à bancada 2-->
    <add key="2" value=""/>
    <!--Impressora vinculada à bancada 3-->
    <add key="3" value=""/>
  </appSettings>
</configuration>