<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ServiceLayerURL" value="https://hanab1:50000/b1s/v1/" />
		<add key="Server" value="hanab1:30015" />
		<add key="Database" value="SBO_APETIT_PICKING" />
		<add key="B1User" value="manager" />
		<add key="B1Password" value="QjFhZG1pbkA=" />
		<add key="DBUser" value="SYSTEM" />
		<add key="DBPassword" value="IUFjZXNzb0AyMDE5" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>