<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    Opções disponíveis para o DbServerType:
    dst_MSSQL2005
    dst_MSSQL2008
    dst_MSSQL2012
    dst_MSSQL2014
    dst_MSSQL2016
    dst_MSSQL2017
    dst_MSSQL2019
    dst_HANADB
    -->
    <add key="DbServerType" value="dst_HANADB" />
    <!--Para conexão com a versão o B1 10 for HANA, é necessário informar o Server no formato "NDB@HANASERVER:30013"-->
    <add key="Server" value="hanab1:30015" />
    <add key="CompanyDB" value="SBO_BRW_PRD" />
    <add key="UserName" value="bruno.mulinari" />
    <add key="Password" value="sap@123" />
    <!--SLDServer opcional, deixar vazio para valor padrão-->
    <add key="SLDServer" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>