<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Informar<strong> Política de Despesa</strong></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Não Possui</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <label class="check"><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="client.LocalPoliticExpense" id="client-politicExpense" class="icheckbox expense" /> Não utiliza política de despesa</label>
                                </div>
                                <span class="help-block">Informe se deseja utilizar a política de despesa local</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Tipo de Despesa</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <select class="form-control" tabindex="22" ng-model="client.PoliticExpense.Id" ng-options="selected.Id as selected.Name for selected in ExpenseTypeList">
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                                <span class="help-block">Informe o tipo de despesa</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Reembolso máximo</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-money"></span></span>
                                    <input type="text" tabindex="23" id="reembolso-mask" ng-model="client.PoliticExpense.Coast" class="form-control" />
                                </div>
                                <span class="help-block">Informe o valor máximo de reembolso</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="bt_AddExpense" type="button" class="btn btn-info" tabindex="24" ng-click="AddExpenseLines()" ng-disabled="client.LocalPoliticExpense == 1">Adicionar</button>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12 col-xs-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td class="col-md-3">Tipo de Despesa</td>
                                        <td class="col-md-3">Valor máx. para de reembolso</td>
                                        <td class="col-md-3">#</td>
                                    </tr>
                                </thead>
                                <tbody class="contatos">
                                    <tr ng-repeat="hol in ExpenseSelectedList">
                                        <td>{{hol.Name}}</td>
                                        <td>{{hol.Value}}</td>
                                        <td><button type="button" class="btn btn-danger" ng-click="RemoveExpenseLine($index)">X</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>