USE [SBO_PRD_DEMOBR001]
GO
/****** Object:  StoredProcedure [dbo].[CVA_SP_Replicador]    Script Date: 20/09/2016 15:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC CVA_SP_Replicador '10', 'D', '124'
ALTER PROCEDURE [dbo].[CVA_SP_Replicador](@object_type NVARCHAR(20), @transaction_type NCHAR(1), @list_of_cols_val_tab_del NVARCHAR(255))
AS
BEGIN
	DECLARE @Base INT, @Data DATETIME, @Objeto INT, @Func INT, @Objeto_Desc NVARCHAR(MAX), @ErrMsg NVARCHAR(MAX)
		
	SELECT @Data = GETDATE()
	SELECT @Base = ISNULL(T0.ID, 0) FROM [CVA_ATL_REP].[dbo].[CVA_BAS] T0 WHERE T0.COMP = DB_NAME()

	IF @Base = 0		
		RAISERROR(N'Erro de replicação: Base não identificada.', 16, 1)

	SELECT @Objeto = ISNULL(T0.ID, 0)
	FROM [CVA_ATL_REP].[dbo].[CVA_OBJ] T0 WHERE T0.OBJ = 
		CASE @object_type
			WHEN '1'   THEN 'CVA_Obj_PlanoContas'
			WHEN '2'   THEN 'CVA_Obj_ParceiroNegocio'
			WHEN '4'   THEN 'CVA_Obj_Item'
			WHEN '10'  THEN 'CVA_Obj_GrupoParceiroNegocio'
			WHEN '12'  THEN 'CVA_Obj_Usuario'
			WHEN '40'  THEN 'CVA_Obj_CondicaoPagamento'
			WHEN '52'  THEN 'CVA_Obj_GrupoItem'
			WHEN '61'  THEN 'CVA_Obj_CentroCusto'
			WHEN '128' THEN 'CVA_Obj_Imposto'
			WHEN '138' THEN 'CVA_Obj_Indicador'
			WHEN '147' THEN 'CVA_Obj_FormaPagamento'
			WHEN '260' THEN 'CVA_Obj_Utilizacao'
		END
	
	IF @Objeto = 0		
		RAISERROR(N'Erro de replicação: Objeto não identificado.', 16, 1)

	SELECT @Func = ISNULL(T0.ID, 0) FROM [CVA_ATL_REP].[dbo].[CVA_FUNC] T0 WHERE T0.FUNC = @transaction_type

	IF @Func = 0		
		RAISERROR(N'Erro de replicação: Função não identificada.', 16, 1)

	SELECT @Objeto_Desc = CASE @object_type
		WHEN '1'   THEN 'CVA_Obj_PlanoContas'
		WHEN '2'   THEN 'CVA_Obj_ParceiroNegocio'
		WHEN '4'   THEN 'CVA_Obj_Item'
		WHEN '10'  THEN 'CVA_Obj_GrupoParceiroNegocio'
		WHEN '12'  THEN 'CVA_Obj_Usuario'
		WHEN '40'  THEN 'CVA_Obj_CondicaoPagamento'
		WHEN '52'  THEN 'CVA_Obj_GrupoItem'
		WHEN '61'  THEN 'CVA_Obj_CentroCusto'
		WHEN '128' THEN 'CVA_Obj_Imposto'
		WHEN '138' THEN 'CVA_Obj_Indicador'
		WHEN '147' THEN 'CVA_Obj_FormaPagamento'
		WHEN '260' THEN 'CVA_Obj_Usuario'
	END

	IF NOT EXISTS (
		SELECT 1 FROM [CVA_ATL_REP].[dbo].[CVA_REG] T0 WHERE T0.CODE = @list_of_cols_val_tab_del AND T0.STU = 5 AND T0.OBJ = @Objeto
	)
	BEGIN
		IF @transaction_type = 'A'
		BEGIN			
			INSERT INTO [CVA_ATL_REP].[dbo].[CVA_REG](INS, STU, BAS, CODE, OBJ, FUNC)
			VALUES(@Data, 3, @Base, @list_of_cols_val_tab_del, @Objeto, @Func);
		END
		ELSE IF @transaction_type = 'U'
		BEGIN
			IF NOT EXISTS (
				SELECT 1 FROM [CVA_ATL_REP].[dbo].[CVA_REG] T0 WHERE T0.CODE = @list_of_cols_val_tab_del AND T0.OBJ = @Objeto AND T0.STU IN (3, 5)
			)
			BEGIN
				INSERT INTO [CVA_ATL_REP].[dbo].[CVA_REG](INS, STU, BAS, CODE, OBJ, FUNC)
				VALUES(@Data, 3, @Base, @list_of_cols_val_tab_del, @Objeto, @Func);
			END
			ELSE
			BEGIN
				SELECT @ErrMsg = N'Erro de replicação: objeto ' + @Objeto_Desc + ' ainda não foi replicado. Favor aguardar o término da replicação.'
				RAISERROR(@ErrMsg, 16, 1)
			END
		END
		ELSE IF @transaction_type = 'D'

		BEGIN
			IF @object_type NOT IN ('128', '138', '1')
			BEGIN
				IF NOT EXISTS (
					SELECT 1 FROM [CVA_ATL_REP].[dbo].[CVA_REG] T0 WHERE T0.CODE = @list_of_cols_val_tab_del AND T0.OBJ = @Objeto AND T0.STU IN (3, 5)
				)
				BEGIN
					INSERT INTO [CVA_ATL_REP].[dbo].[CVA_REG](INS, STU, BAS, CODE, OBJ, FUNC)
					VALUES(@Data, 3, @Base, @list_of_cols_val_tab_del, @Objeto, @Func);
				END
				ELSE
				BEGIN
					SELECT @ErrMsg = N'Erro de replicação: objeto ' + @Objeto_Desc + ' ainda não foi replicado. Favor aguardar o término da replicação.'
					RAISERROR(@ErrMsg, 16, 1)
				END
			END
			ELSE
			BEGIN
				SELECT @ErrMsg = N'Erro de replicação: objeto ' + @Objeto_Desc + ' não pode ser removido.'
				RAISERROR(@ErrMsg, 16, 1)
			END
		END
	END
	ELSE
	BEGIN
		UPDATE [CVA_ATL_REP].[dbo].[CVA_REG] SET STU = 3 WHERE STU = 5 AND CODE = @list_of_cols_val_tab_del AND OBJ = @Objeto
		UPDATE [CVA_ATL_REP].[dbo].[CVA_TIM] SET STU = 2 WHERE STU = 5
	END
END
