USE [SBO_PRD_DEMOBR001]
GO
/****** Object:  StoredProcedure [dbo].[SBO_SP_TransactionNotification]    Script Date: 20/09/2016 15:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[SBO_SP_TransactionNotification] 

@object_type nvarchar(20), 				-- SBO Object Type
@transaction_type nchar(1),			-- [A]dd, [U]pdate, [D]elete, [C]ancel, C[L]ose
@num_of_cols_in_key int,
@list_of_key_cols_tab_del nvarchar(255),
@list_of_cols_val_tab_del nvarchar(255)

AS

begin

-- Return values
declare @error  int				-- Result (0 for no error)
declare @error_message nvarchar (200) 		-- Error string to be displayed
select @error = 0
select @error_message = N'Ok'

--------------------------------------------------------------------------------------------------------------------------------

--	ADD	YOUR	CODE	HERE

-- CVA_Obj_PlanoContas
IF @object_type = '1'
BEGIN
	BEGIN TRY
		EXEC CVA_SP_Replicador @object_type, @transaction_type, @list_of_cols_val_tab_del
	END TRY
	BEGIN CATCH
		SELECT @error = ERROR_NUMBER(), @error_message = ERROR_MESSAGE()
	END CATCH;
END

-- CVA_Obj_ParceiroNegocio
IF @object_type = '2'
BEGIN
	BEGIN TRY
		EXEC CVA_SP_Replicador @object_type, @transaction_type, @list_of_cols_val_tab_del
	END TRY
	BEGIN CATCH
		SELECT @error = ERROR_NUMBER(), @error_message = ERROR_MESSAGE()
	END CATCH;
END

--SELECT * FROM OITM
IF @object_type = '4'
BEGIN
	BEGIN TRY
		EXEC CVA_SP_Replicador @object_type, @transaction_type, @list_of_cols_val_tab_del
	END TRY
	BEGIN CATCH
		SELECT @error = ERROR_NUMBER(), @error_message = ERROR_MESSAGE()
	END CATCH;
END

-- CVA_Obj_GrupoParceiroNegocio
IF @object_type = '10'
BEGIN
	BEGIN TRY
		EXEC CVA_SP_Replicador @object_type, @transaction_type, @list_of_cols_val_tab_del
	END TRY
	BEGIN CATCH
		SELECT @error = ERROR_NUMBER(), @error_message = ERROR_MESSAGE()
	END CATCH;
END

-- CVA_Obj_Usuario
IF @object_type = '12'
BEGIN
	BEGIN TRY
		EXEC CVA_SP_Replicador @object_type, @transaction_type, @list_of_cols_val_tab_del
	END TRY
	BEGIN CATCH
		SELECT @error = ERROR_NUMBER(), @error_message = ERROR_MESSAGE()
	END CATCH;
END

-- CVA_Obj_CondicaoPagamento
IF @object_type = '40'
BEGIN
	BEGIN TRY
		EXEC CVA_SP_Replicador @object_type, @transaction_type, @list_of_cols_val_tab_del
	END TRY
	BEGIN CATCH
		SELECT @error = ERROR_NUMBER(), @error_message = ERROR_MESSAGE()
	END CATCH;
END

-- CVA_Obj_GrupoItem
IF @object_type = '52'
BEGIN
	BEGIN TRY
		EXEC CVA_SP_Replicador @object_type, @transaction_type, @list_of_cols_val_tab_del
	END TRY
	BEGIN CATCH
		SELECT @error = ERROR_NUMBER(), @error_message = ERROR_MESSAGE()
	END CATCH;
END

-- CVA_Obj_CentroCusto
IF @object_type = '61'
BEGIN
	BEGIN TRY
		EXEC CVA_SP_Replicador @object_type, @transaction_type, @list_of_cols_val_tab_del
	END TRY
	BEGIN CATCH
		SELECT @error = ERROR_NUMBER(), @error_message = ERROR_MESSAGE()
	END CATCH;
END

-- CVA_Obj_Imposto
IF @object_type = '128'
BEGIN
	BEGIN TRY
		EXEC CVA_SP_Replicador @object_type, @transaction_type, @list_of_cols_val_tab_del
	END TRY
	BEGIN CATCH
		SELECT @error = ERROR_NUMBER(), @error_message = ERROR_MESSAGE()
	END CATCH;
END

-- CVA_Obj_Indicador
IF @object_type = '138'
BEGIN
	BEGIN TRY
		EXEC CVA_SP_Replicador @object_type, @transaction_type, @list_of_cols_val_tab_del
	END TRY
	BEGIN CATCH
		SELECT @error = ERROR_NUMBER(), @error_message = ERROR_MESSAGE()
	END CATCH;
END

-- CVA_Obj_FormaPagamento
IF @object_type = '147'
BEGIN
	BEGIN TRY
		EXEC CVA_SP_Replicador @object_type, @transaction_type, @list_of_cols_val_tab_del
	END TRY
	BEGIN CATCH
		SELECT @error = ERROR_NUMBER(), @error_message = ERROR_MESSAGE()
	END CATCH;
END

-- CVA_Obj_Utilizacao
IF @object_type = '260'
BEGIN
	BEGIN TRY
		EXEC CVA_SP_Replicador @object_type, @transaction_type, @list_of_cols_val_tab_del
	END TRY
	BEGIN CATCH
		SELECT @error = ERROR_NUMBER(), @error_message = ERROR_MESSAGE()
	END CATCH;
END
--------------------------------------------------------------------------------------------------------------------------------

-- Select the return values
select @error, @error_message

end
