CREATE procedure [dbo].[spc_CVA_Comissoes]
(
	@Status char(1) = 'T', 
	@View char(1) = 'T', 
	@Filial INT, 
	@DataInicial datetime, 
	@DataFinal datetime,
	@MetaDataInicial datetime, 
	@MetaDataFinal datetime,  
	@DiasUteis INT, 
	@Feriados INT
)
as
begin
set dateformat 'ymd';
set nocount on;

BEGIN
	IF ISNULL(@DiasUteis, 0) = 0
	BEGIN
		SET @DiasUteis = 0
	END
	IF ISNULL(@Feriados, 0) = 0
	BEGIN
		SET @Feriados = 0
	END

	-- CRIAÇÃO DE TABELAS
	CREATE TABLE #tbl_docs_recebimento
	(
		Momento CHAR(1) Collate Database_Default,
		BPLId INT,
		DocEntry INT,
		DocDate DATETIME,
		Serial INT,
		DocTotal NUMERIC(19,6),
		ObjType NVARCHAR(40) Collate Database_Default,
		ItemCode NVARCHAR(100) Collate Database_Default,
		LineNum INT,
		Quantity NUMERIC(19,6),
		LineTotal NUMERIC(19,6),
		InstlmntID INT,
		InsTotal NUMERIC(19,6),
		DueDate DATETIME,
		ItemName NVARCHAR(200) Collate Database_Default,
		ItmsGrpCod SMALLINT,
		ItmsGrpNam NVARCHAR(40) Collate Database_Default,
		CardCode NVARCHAR(30) Collate Database_Default,
		CardName NVARCHAR(200) Collate Database_Default,
		PrcCode NVARCHAR(16) Collate Database_Default,
		PrcName NVARCHAR(60) Collate Database_Default,
		SlpCode INT,
		SlpName NVARCHAR(310) Collate Database_Default,
		U_CVA_IMPADIC CHAR(1) Collate Database_Default,
		U_CVA_IMPINCL CHAR(1) Collate Database_Default,
		FirmCode SMALLINT,
		FirmName NVARCHAR(60) Collate Database_Default,
		IndCode INT,
		IndName NVARCHAR(30) Collate Database_Default,
		IndDesc NVARCHAR(60) Collate Database_Default,
		AbsId INT,
		Name NVARCHAR(200) Collate Database_Default,
		[State] NVARCHAR(6) Collate Database_Default,
		TaxDate DATETIME,
		SumApplied NUMERIC(19,6),
		Tot_Invoices INT,
		Tot_Parcelas INT,
		Tot_Itens INT,
		DocStatus CHAR(1) Collate Database_Default,
		GroupCode INT,
		TotalItens NUMERIC(19,6),
		TaxSum NUMERIC(19,6),
		BaseSum NUMERIC(19,6)
	)

	create table #tbl_table_ret
	(
		U_COMISSIONADO int,
		U_COMNAME nvarchar(254),
		U_PRIORIDADE int,
		U_CARDCODE nvarchar(50) Collate Database_Default,
		U_CARDNAME nvarchar(200) Collate Database_Default,
		U_REGRA int,
		U_DOCDATE datetime,
		U_DUEDATE datetime,
		U_BPLID int,
		U_DOCENTRY int,
		U_OBJTYPE int,
		U_ITEMCODE nvarchar(50) Collate Database_Default,
		U_ITEMNAME nvarchar(200) Collate Database_Default,
		U_LINENUM int,
		U_VALOR numeric(19,6),
		U_PARCELA int,
		U_IMPOSTOS numeric(19,6),
		U_META numeric(19,6),
		U_TOTALVENDAS numeric(19,6),
		U_PORCMETA numeric(19,6),
		U_COMISSAO numeric(19,6),
		U_COMISSAOEQUIP numeric(19,6),
		U_VALORCOMISSAO numeric(19,6),
		U_VALORCOMEQUIP numeric(19,6),
		U_DSR numeric(19,6),
		U_VALORCOMTOTAL numeric(19,6),
		U_TAXDATE datetime,
		U_CENTROCUSTO nvarchar(100) Collate Database_Default,
		U_PAGO char(1) Collate Database_Default,
		U_DATAPAGAMENTO datetime,
		U_MOMENTO nvarchar(max),
		U_SERIAL INT,
		U_INDEQUIPE INT
	)

	create table #tbl_meta_vendedor
	(
		Tipo int, -- Representante/Vendedor
		BPLId int,
		Meta numeric(19,6),
		ValorAtingido numeric(19,6),
		Alcancado numeric(19,6),
		CodigoRegra varchar(max),
		Prioridade int,
		MetaRegra numeric(19,6),	
		Vendedor int,
		Comissao numeric(19,6),
		ComissaoEquipe numeric(19,6),
		ValorComissaoEquipe numeric(19,6),
		Linha int
	)
	END

	INSERT INTO #tbl_docs_recebimento
	EXEC spc_CVA_Recebimentos @Filial, @DataInicial, @DataFinal, @MetaDataInicial, @MetaDataFinal

	--SELECT * FROM #tbl_docs_recebimento WHERE DocEntry = 744
	--select * from #tbl_docs_recebimento where SlpCode = 6 AND LineTotal < 0
	--select BPLID, DocEntry, Linenum, SUM(LineTotal) from #tbl_docs_recebimento where SlpCode = 6 and DocDate BETWEEN @MetaDataInicial AND @MetaDataFinal GROUP BY BPLId, DocEntry, LineNum ORder by DocEntry
	
	SELECT DISTINCT U_EQUIPE Code, U_COMISSIONADO Comissionado, 0 AS QtdeMembros  INTO #tbl_equipe_count FROM [@CVA_REGR_COMISSAO] WITH(NOLOCK) WHERE ISNULL(U_EQUIPE, '') <> ''
	
	UPDATE equipe
	SET QtdeMembros = equipe_count.Qtde
	FROM #tbl_equipe_count equipe
		INNER JOIN (SELECT Code, COUNT(Code) Qtde FROM #tbl_equipe_count WHERE NOT EXISTS (SELECT TOP 1 1 FROM [@CVA_GERENTE] WHERE Code = Comissionado) GROUP BY Code) equipe_count
			ON equipe_count.Code = equipe.Code

	SELECT EQUIPE_COUNT.Code CodEquipe, SUM(DOCS.LineTotal) TotalEquipe, EQUIPE_COUNT.QtdeMembros, EQUIPE.U_VALOR ComissaoEquipe, 
	CASE WHEN EQUIPE_COUNT.QtdeMembros  > 0
		THEN (SUM(DOCS.LineTotal) * (EQUIPE.U_VALOR / 100)) / CAST(EQUIPE_COUNT.QtdeMembros AS NUMERIC(19, 6)) 
		ELSE 0.00
	END ValorComissaoEquipe
	INTO #tbl_equipe
	FROM #tbl_equipe_count EQUIPE_COUNT
		INNER JOIN [@CVA_EQUIPE] EQUIPE
			ON EQUIPE.Code = EQUIPE_COUNT.Code
		INNER JOIN #tbl_docs_recebimento DOCS
			ON DOCS.SlpCode = EQUIPE_COUNT.Comissionado
	WHERE DOCS.TaxDate BETWEEN @DataInicial AND @DataFinal
	GROUP BY EQUIPE_COUNT.Code, EQUIPE_COUNT.QtdeMembros, EQUIPE.U_VALOR

	--SELECT * FROM #tbl_equipe

	-- Busca regra de acordof com valor atingido da meta
	SELECT 
		2	Tipo,
		MAX(DOCS.BPLid) BPLId,
		META1.U_VALOR Meta, 
		SUM(DOCS.LineTotal) ValorAtingido, 
		(SUM(DOCS.LineTotal) / META1.U_VALOR) * 100.00 Alcancado, 
		REGRA.Code CodigoRegra, 
		REGRA.U_PRIORIDADE	Prioridade,
		MAX(REGRA.U_PORCMETA) MetaRegra, 
		DOCS.SlpCode Vendedor, 
		REGRA.U_COMISSAO Comissao,
		EQUIPE.ComissaoEquipe,
		EQUIPE.ValorComissaoEquipe
	INTO #tbl_meta
	FROM #tbl_docs_recebimento DOCS
		INNER JOIN [@CVA_REGR_COMISSAO] REGRA
			ON REGRA.U_COMISSIONADO = DOCS.SlpCode
		INNER JOIN [@CVA_META] META
			ON META.Code = REGRA.U_Meta
			AND (META.U_FILIAL = DOCS.BPLId OR ISNULL(META.U_FILIAL, 0) = 0)
		LEFT JOIN [@CVA_META1] META1
			ON META1.Code = META.Code
			AND DOCS.DocDate BETWEEN META1.U_VALIDODE AND META1.U_VALIDOATE
		LEFT JOIN #tbl_equipe EQUIPE
			ON EQUIPE.CodEquipe = REGRA.U_EQUIPE
	WHERE DOCS.DocDate BETWEEN @MetaDataInicial AND @MetaDataFinal
	AND REGRA.U_TIPO = '2' -- Vendedor
	GROUP BY
		META.U_FILIAL,
		META1.U_VALOR,
		DOCS.SlpCode, 
		REGRA.Code,
		REGRA.U_PRIORIDADE,
		REGRA.U_PORCMETA,
		REGRA.U_COMISSAO,
		EQUIPE.ComissaoEquipe,
		EQUIPE.ValorComissaoEquipe
	HAVING (SUM(DOCS.LineTotal) / META1.U_VALOR) * 100 >= REGRA.U_PORCMETA

	--SELECT * FROM #tbl_meta WHERE Vendedor = 7

	SELECT DISTINCT
		META.Code,
		META.U_FILIAL,
		CASE WHEN META.U_TIPO = '1' THEN GER.U_IdVendedor ELSE CAST(GER.Code AS INT) END Vendedor
	INTO #tbl_equipe_meta
	FROM [@CVA_REGR_COMISSAO] REGRA
		INNER JOIN [@CVA_META] META
			ON META.Code = REGRA.U_Meta
		INNER JOIN [@CVA_GERENTE1] GER
			ON CAST(GER.Code AS INT) = REGRA.U_COMISSIONADO  
	--GROUP BY 
	--	CASE WHEN META.U_TIPO = '1' THEN GER.U_IdVendedor ELSE CAST(GER.Code AS INT) END

	--SELECT * FROM #tbl_equipe_meta

	INSERT INTO #tbl_meta
	SELECT 
		1 Tipo,
		MAX(DOCS.BPLid) BPLId,
		META1.U_VALOR Meta, 
		SUM(DOCS.LineTotal) ValorAtingido, 
		(SUM(DOCS.LineTotal) / META1.U_VALOR) * 100 Alcancado, 
		REGRA.Code CodigoRegra, 
		REGRA.U_PRIORIDADE	Prioridade,
		MAX(REGRA.U_PORCMETA) MetaRegra, 
		REGRA.U_COMISSIONADO Vendedor,
		REGRA.U_COMISSAO Comissao,
		EQUIPE.ComissaoEquipe,
		EQUIPE.ValorComissaoEquipe
	FROM [@CVA_REGR_COMISSAO] REGRA
		INNER JOIN #tbl_equipe_meta META
			ON META.Code = REGRA.U_Meta
		INNER JOIN #tbl_docs_recebimento DOCS
			ON DOCS.SlpCode = META.Vendedor
			AND DOCS.ObjType <> 30
		LEFT JOIN [@CVA_META1] META1
			ON META1.Code = META.Code
			AND DOCS.DocDate BETWEEN META1.U_VALIDODE AND META1.U_VALIDOATE
		LEFT JOIN #tbl_equipe EQUIPE
			ON EQUIPE.CodEquipe = REGRA.U_EQUIPE
	WHERE DOCS.DocDate BETWEEN @MetaDataInicial AND @MetaDataFinal
	AND REGRA.U_TIPO = '1' -- Representante
	GROUP BY
		META.U_FILIAL,
		META1.U_VALOR,
		REGRA.Code,
		REGRA.U_PRIORIDADE,
		REGRA.U_PORCMETA,
		REGRA.U_COMISSAO,
		REGRA.U_COMISSIONADO,
		EQUIPE.ComissaoEquipe,
		EQUIPE.ValorComissaoEquipe
	HAVING (SUM(DOCS.LineTotal) / META1.U_VALOR) * 100 >= REGRA.U_PORCMETA

	DECLARE @BPLID INT

	DECLARE cur CURSOR FOR
	SELECT BPLId FROM #tbl_meta

	OPEN cur
	FETCH NEXT FROM cur INTO @BPLID

	WHILE @@FETCH_STATUS = 0  
	BEGIN 
		-- Filtra a regra de maior comissao atingida
		;WITH max_comissao AS (
		  SELECT m.*, ROW_NUMBER() OVER (PARTITION BY Vendedor ORDER BY MetaRegra DESC) AS rn
		  FROM #tbl_meta AS m WHERE m.BPLId = @BPLID
		)
		INSERT INTO #tbl_meta_vendedor SELECT * FROM max_comissao M WHERE rn = 1 AND NOT EXISTS (SELECT TOP 1 1 FROM #tbl_meta_vendedor V WHERE V.Vendedor = M.Vendedor)
		
		FETCH NEXT FROM cur INTO @BPLID
	END

	CLOSE cur  
	DEALLOCATE cur   

	--SELECT * FROM #tbl_meta_vendedor

	-- Busca comissões já pagas
	insert into #tbl_table_ret
		select 
			T0.U_COMISSIONADO,
			T0.U_COMNAME,
			T2.U_POS AS U_PRIORIDADE,
			T0.U_CARDCODE,
			T0.U_CARDNAME,
			T0.U_REGRA,
			T0.U_DOCDATE,
			T0.U_DUEDATE,
			T0.U_BPLID,
			T0.U_DOCENTRY,
			T0.U_OBJTYPE,
			T0.U_ITEMCODE,
			T0.U_ITEMNAME,
			T0.U_LINENUM,
			T0.U_VALOR,
			T0.U_PARCELA,
			T0.U_IMPOSTOS,
			T0.U_META,
			T0.U_TOTALVENDAS,
			T0.U_PORCMETA,
			T0.U_COMISSAO,
			T0.U_COMISSAOEQUIP,
			T0.U_VALORCOMISSAO,
			T0.U_VALORCOMEQUIP,
			T0.U_DSR,
			T0.U_VALORCOMTOTAL,
			T0.U_TAXDATE,
			T0.U_CENTROCUSTO,
			T0.U_PAGO,
			T0.U_DATAPAGAMENTO,
			T1.U_MOMENTO,
			CASE WHEN T0.U_OBJTYPE = N'13' THEN
				(SELECT Serial FROM OINV WHERE DocEntry = T0.U_DOCENTRY)
			ELSE T0.U_DOCENTRY END AS U_SERIAL,
			T0.U_INDEQUIPE
		from [@CVA_CALC_COMISSAO] T0
			inner join [@CVA_REGR_COMISSAO] T1 on T0.U_REGRA = T1.Code AND T1.U_ATIVO = 'Y'
			inner join [@CVA_CRIT_COMISSAO] T2 on T1.U_PRIORIDADE = T2.Code
		where T0.U_PAGO = 'Y'
			and T0.U_DATAPAGAMENTO >= @DataInicial
			and T0.U_DATAPAGAMENTO <= @DataFinal
			and @Status IN ('P', 'T')
	
	--SELECT * FROM #tbl_docs_recebimento WHERE SlpCode = 7
	 --AND TaxDate BETWEEN @DataInicial AND @DataFinal

	INSERT INTO #tbl_table_ret
		SELECT DISTINCT
			T0.SlpCode,
			T0.SlpName,
			META.Prioridade,
			T0.CardCode,
			T0.CardName,
			META.CodigoRegra,
			T0.DocDate,
			T0.DocDate,
			T0.BPLId,
			T0.DocEntry,
			T0.ObjType,
			T0.ItemCode,
			T0.ItemName,
			T0.LineNum,	
			T0.LineTotal AS Valor,
			T0.InstlmntID,
			T0.TaxSum Impostos,
			META.Meta,
			META.ValorAtingido,
			META.Alcancado,
			META.Comissao  AS Comissao,
			META.ComissaoEquipe  AS ComissaoEquipe,
			T0.LineTotal * (META.Comissao / 100) ValorComissao,
			CASE WHEN META.Tipo = 1
				THEN 0.00
				ELSE META.ValorComissaoEquipe
			END ValorComissaoEquipe,
			0.00 DSF,
			0.00 ComissaoTotal,
			T0.TaxDate,
			T0.PrcCode,
			'N' AS Pago,
			NULL AS DataPagamento,
			T0.Momento,
			T0.Serial,
			0 IndEquipe
		FROM #tbl_docs_recebimento T0
			LEFT JOIN #tbl_meta_vendedor META
				ON META.Vendedor = T0.SlpCode
				--AND META.Tipo = 2 -- Vendedor
		WHERE @Status IN ('N', 'T')
		AND T0.TaxDate BETWEEN @DataInicial AND @DataFinal
		--AND T0.SlpCode <> -1
		--SELECT * FROM #tbl_table_ret WHERE U_COMISSIONADO = 7

		--SELECT * FROM #tbl_table_ret WHERE U_DOCENTRY = 124

	INSERT INTO #tbl_table_ret
		SELECT DISTINCT
			META.Vendedor,
			OSLP.SlpName,
			META.Prioridade,
			T0.CardCode,
			T0.CardName,
			META.CodigoRegra,
			T0.DocDate,
			T0.DocDate,
			T0.BPLId,
			T0.DocEntry,
			T0.ObjType,
			T0.ItemCode,
			T0.ItemName,
			T0.LineNum,	
			T0.LineTotal AS Valor,
			T0.InstlmntID,
			T0.TaxSum Impostos,
			META.Meta, 
			META.ValorAtingido,
			META.Alcancado,
			META.Comissao  AS Comissao,
			META.ComissaoEquipe  AS ComissaoEquipe,
			T0.LineTotal * (META.Comissao / 100) ValorComissao,
			0.00,
			0.00,
			0.00 ComissaoTotal,
			T0.TaxDate,
			T0.PrcCode,
			'N' AS Pago,
			NULL AS DataPagamento,
			T0.Momento,
			T0.Serial ,
			1 IndEquipe
		FROM #tbl_meta_vendedor META
			INNER JOIN [@CVA_GERENTE1] GER WITH(NOLOCK)
				ON CAST(GER.Code AS INT) = META.Vendedor
			INNER JOIN #tbl_docs_recebimento T0
				ON T0.SlpCode = GER.U_IdVendedor
				AND META.Tipo = 1 -- Representante
			INNER JOIN OSLP WITH(NOLOCK)
				ON OSLP.SlpCode = META.Vendedor
		WHERE @Status IN ('N', 'T')
		AND T0.TaxDate BETWEEN @DataInicial AND @DataFinal

	select distinct
		U_BPLID,
		U_COMISSIONADO,
		U_COMNAME,
		U_PRIORIDADE,
		U_CARDCODE,
		U_CARDNAME,
		U_REGRA,
		U_DOCENTRY,
		U_SERIAL,
		U_DOCDATE,
		U_DUEDATE,
		U_OBJTYPE,
		U_ITEMCODE,
		U_ITEMNAME,
		U_LINENUM,
		U_VALOR,
		U_PARCELA,
		U_IMPOSTOS,
		U_META,
		U_TOTALVENDAS,
		U_PORCMETA,
		U_COMISSAO,
		U_COMISSAOEQUIP,
		U_VALORCOMISSAO,
		U_VALORCOMEQUIP,
		U_DSR,
		U_VALORCOMTOTAL,
		ISNULL(U_TAXDATE, '1900-01-01') AS U_TAXDATE,
		isnull(U_CENTROCUSTO, '') AS U_CENTROCUSTO,
		MAX(U_PAGO) AS U_PAGO,
		MAX(isnull(U_DATAPAGAMENTO, '1900-01-01')) as U_DATAPAGAMENTO,
		CASE U_MOMENTO WHEN 'R' THEN 'Recebimento' WHEN 'P' THEN 'Pedido' WHEN 'F' THEN 'Faturamento' END AS U_MOMENTO,
		U_INDEQUIPE
	from #tbl_table_ret	
	where  
		(U_DOCDATE BETWEEN @DataInicial AND @DataFinal AND U_MOMENTO <> 'R') OR
		(U_TAXDATE BETWEEN @DataInicial AND @DataFinal AND U_MOMENTO = 'R')
		--AND U_DOCENTRY = 40154
	group by 
		U_BPLID,
		U_COMISSIONADO,
		U_COMNAME,
		U_PRIORIDADE,
		U_CARDCODE,
		U_CARDNAME,
		U_REGRA,
		U_DOCDATE,
		U_DUEDATE,
		U_DOCENTRY,
		U_OBJTYPE,
		U_ITEMCODE,
		U_ITEMNAME,
		U_LINENUM,
		U_VALOR,
		U_PARCELA,
		U_IMPOSTOS,
		U_META,
		U_TOTALVENDAS,
		U_PORCMETA,
		U_COMISSAO,
		U_COMISSAOEQUIP,
		U_VALORCOMISSAO,
		U_VALORCOMEQUIP,
		U_DSR,
		U_VALORCOMTOTAL,
		ISNULL(U_TAXDATE, '1900-01-01'),
		isnull(U_CENTROCUSTO, ''),
		CASE U_MOMENTO WHEN 'R' THEN 'Recebimento' WHEN 'P' THEN 'Pedido' WHEN 'F' THEN 'Faturamento' END,
		U_SERIAL,
		U_INDEQUIPE

		--SELECT * FROM #tbl_table_ret WHERE U_VALOR < 0 AND U_COMISSIONADO = 6

	DROP TABLE #tbl_docs_recebimento
	DROP TABLE #tbl_table_ret
	DROP TABLE #tbl_meta
	DROP TABLE #tbl_meta_vendedor
	DROP TABLE #tbl_equipe
	DROP TABLE #tbl_equipe_meta
	DROP TABLE #tbl_equipe_count
end

