<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiMagento" value="http://homolog.lojaescoteira.com.br/index.php" />
    <add key="ApiMagentoUser" value="sap" />
    <add key="ApiMagentoPassWord" value="3itkBEwFbPyM1" />
    <add key="Server" value="10.120.6.235:30015" />
    <add key="Database" value="SBO_ESCOTEIROS_PRO" />
    <add key="B1User" value="manager" />
    <add key="B1Password" value="B1admin@" />
    <add key="DBUser" value="SYSTEM" />
    <add key="DBPassword" value="Cva@2690" />
    <add key="ServiceLayerURL" value="https://10.120.6.235:50000/b1s/v1/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="smtp" value="smtp.gmail.com"/>
    <add key="portnumber" value="587"/>
    <add key="username" value="danielms.ti@gmail.com"/>
    <add key="password" value="qnoymvsielmyitfn"/>
    <add key="IsSSL" value="true"/>
    <add key="SendTO" value="danielms.tiI@gmail.com"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>