<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Server" value="hanab1:30015"/>
    <add key="CompanyDB" value = "SBO_APETIT_TESTE"/>
    <add key="DbUserName" value = "SYSTEM"/>
    <add key="DbPassword" value = "Cva@2690"/>
    <add key="UserName" value = "manager"/>
    <add key="Password" value = "B1admin@"/>
  </appSettings>
</configuration>