<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Server" value="192.168.43.15"/>
    <add key="Database" value="SBO_TesteFinal"/>
    <add key="UserName" value="sa"/>
    <add key="Password" value="@H20#17*"/>
    <add key="DeleteFileSeconds" value="5"/>
    <add key="WaitMilliSeconds" value="500"/>
    <add key="FileName" value="gerado.txt"/>
    <add key="LogFile" value="C:\CVA Consultoria\bancadateste.txt"/>
    <add key="1" value="c:\temp\Bancada1\produto.txt"/>
    <add key="2" value="c:\temp\Bancada2\produto.txt"/>
  </appSettings>
</configuration>